In [188]:
from pytrack.data_mgmt import * 
from pytrack.game_moments import * 
from pytrack.positions_analysis import * 
from pytrack.pitch_creation import * 
from pytrack.positions_analysis import * 
from pytrack.build_up import * 
from tracking_config import *

#from moviepy.editor import VideoFileClip, vfx
import glob
from google.cloud import bigquery
from pandas.io import gbq
import pandas_gbq
import plotly_express as px
import matplotlib.pyplot as plt
from forel_clustering_master import *
import os
import sys
import bisect
from bisect import bisect
from sklearn.cluster import KMeans
import warnings
from collections import Counter
import logging
import glob

go = 2
print('Let it go')

In [189]:
os.getcwd()

'/Users/vanni.DiFebo/env'

In [190]:
def filter_find_game_id_f7(homeTeam_str, awayTeam_str, competitionCountry, competitionName__, competitionSearchFlag, matchday, seasonId, month_, avoid_under, avoid_women_teams, avoid_women_under):

    if competitionSearchFlag == 'exact':
        base_query = 'SELECT competitionCountry, optaCompName, game_id, stat_matchday, matchDate, homeTeamName, awayTeamName FROM `the-fa-analysis-and-insight.source_external_opta.opta_f7_detailed_table` WHERE (optaCompName = "'+str(competitionName__)+'" AND EXTRACT(YEAR FROM matchDate) = '+str(seasonId)+')'
        
    else:
        base_query = 'SELECT competitionCountry, optaCompName, game_id, stat_matchday, matchDate, homeTeamName, awayTeamName FROM `the-fa-analysis-and-insight.source_external_opta.opta_f7_detailed_table` WHERE (optaCompName LIKE "%'+str(competitionName__)+'%" AND EXTRACT(YEAR FROM matchDate) = '+str(seasonId)+')'

    if month_ != '':
        base_query = base_query[:-1] + ' AND EXTRACT(MONTH FROM matchDate) = '+str(month_)+')'
        
    print(competitionName)
    # Add conditions based on the provided variables
    conditions = []
    
    if homeTeam_str != '':
        conditions.append(f"homeTeamName LIKE '%{homeTeam_str}%'")
    if awayTeam_str != '':
        conditions.append(f"awayTeamName LIKE '%{awayTeam_str}%'")
    if competitionCountry != '':
        conditions.append(f"competitionCountry LIKE '%{competitionCountry}%'")
    if matchday != '':
        conditions.append(f"stat_matchday = {matchday}")
    if avoid_women_teams == 'Yes':
            conditions.append(f"homeTeamName NOT LIKE '%Women%'")
            conditions.append(f"awayTeamName NOT LIKE '%Women%'")
        
    if avoid_women_under == 'Yes':
        for under_team in ['U23','U21','U20','U19','U18','U17','U16','U15']:
            conditions.append(f"homeTeamName NOT LIKE '%Women {under_team}%'")
            conditions.append(f"awayTeamName NOT LIKE '%Women {under_team}%'")
   
    if avoid_under == 'Yes':
        for under_team in ['U23','U21','U20','U19','U18','U17','U16','U15']:
            conditions.append(f"homeTeamName NOT LIKE '%{under_team}%'")
            conditions.append(f"awayTeamName NOT LIKE '%{under_team}%'")
    elif avoid_under == 'Only':
        for under_team in ['U23','U20','U18','U16','U15']:
            conditions.append(f"homeTeamName NOT LIKE '%{under_team}%'")
            conditions.append(f"awayTeamName NOT LIKE '%{under_team}%'")
    
    
    # Combine the base query with the conditions
    if conditions:
        base_query += " AND " + " AND ".join(conditions)
    
    df_fixtures = pandas_gbq.read_gbq(base_query, project_id = 'the-fa-analysis-and-insight')
    
    df_fixtures_r = df_fixtures.rename(columns = {'optaCompName':'competitionName', 'game_id':'matchId', 'stat_matchday':'matchday', 'matchDate':'matchDateTime', 'homeTeamName':'homeTeam', 'awayTeamName':'awayTeam'})
    
    df_fixtures_rs = df_fixtures_r[['competitionCountry', 'competitionName', 'matchId', 'matchday', 'matchDateTime', 'homeTeam', 'awayTeam']].drop_duplicates()
    
    return df_fixtures_rs

    
if go == 1:
    team_name = 'England U21'
    replaceOrAppend = 'replace'

elif go == 2:
    team_name = 'England U18'
    replaceOrAppend = 'append'

else:
    pass

if team_name == 'England U21' :
    keep_competitions =  ['UEFA Under 21 Championship', 'UEFA Under 21 Championship Qualifiers', 'Under 21 Internationals']
else:
    keep_competitions =  ['FIFA U17 World Cup','Under 18 Internationals'] 

use_fixed = ''
reset_ = 'Yes'
avoid_under = 'No'
avoid_women_teams = 'Yes'
avoid_women_under = 'Yes'

data_version_label = '1.3.19'
test_combos_to_compute = []

find_game_id_filt = pd.DataFrame()

starting_month = 1
ending_month = 12
starting_year = 2021
ending_year = 2025

for yr_ in list(np.arange(starting_year,ending_year+1,1)):

    for comp_ in keep_competitions:
        
        test_combos_to_compute.append(['','','',comp_,'','',yr_,''])
    
    
for combo in test_combos_to_compute:
    
        [homeTeam_str,awayTeam_str,competitionCountry,competitionName,competitionSearchFlag,matchday,seasonId, month_] = combo
        
        app_find_game_id_filt = filter_find_game_id_f7(homeTeam_str, awayTeam_str, competitionCountry, competitionName, competitionSearchFlag, matchday, seasonId, month_, avoid_under, avoid_women_teams, avoid_women_under)
            
        # Reset indices of both DataFrames
        find_game_id_filt.reset_index(drop=True, inplace=True)
        app_find_game_id_filt.reset_index(drop=True, inplace=True)
        #print('')
        #print('Appended '+str(combo))
        # Concatenate DataFrames while ignoring the index
        find_game_id_filt = pd.concat([find_game_id_filt, app_find_game_id_filt], ignore_index=True)
        find_game_id_filt = find_game_id_filt.drop_duplicates()

        if len(app_find_game_id_filt) > 0:
            print(combo)
            print('Appended: '+str(len(app_find_game_id_filt))+' games')
            print(' ')
        
print(find_game_id_filt.sort_values(by = ['matchId'], ascending = False))

FIFA U17 World Cup
Downloading: |                                                                 |
Under 18 Internationals
Downloading: 100%|█████████████████████████████████████████████████████████████|
['', '', '', 'Under 18 Internationals', '', '', np.int64(2021), '']
Appended: 13 games

FIFA U17 World Cup
Downloading: |                                                                 |
Under 18 Internationals
Downloading: 100%|█████████████████████████████████████████████████████████████|
['', '', '', 'Under 18 Internationals', '', '', np.int64(2022), '']
Appended: 11 games

FIFA U17 World Cup
Downloading: 100%|█████████████████████████████████████████████████████████████|
['', '', '', 'FIFA U17 World Cup', '', '', np.int64(2023), '']
Appended: 52 games

Under 18 Internationals
Downloading: 100%|█████████████████████████████████████████████████████████████|
['', '', '', 'Under 18 Internationals', '', '', np.int64(2023), '']
Appended: 27 games

FIFA U17 World Cup
Downloading: |                                                                 |
Under 18 Internationals
Downloading: 100%|█████████████████████████████████████████████████████████████|
['', '', '', 'Under 18 Internationals', '', '', np.int64(2024), '']
Appended: 28 games

FIFA U17 World Cup
Downloading: 100%|█████████████████████████████████████████████████████████████|
['', '', '', 'FIFA U17 World Cup', '', '', np.int64(2025), '']
Appended: 104 games

Under 18 Internationals
Downloading: 100%|█████████████████████████████████████████████████████████████|
['', '', '', 'Under 18 Internationals', '', '', np.int64(2025), '']
Appended: 29 games

    competitionCountry          competitionName  matchId  matchday  \
228               None       FIFA U17 World Cup  2609011         5
229               None       FIFA U17 World Cup  2609010         5
217               None       FIFA U17 World Cup  2609009         5
135               None       FIFA U17 World Cup  2609008         5
140               None       FIFA U17 World Cup  2609007         5
..                 ...                      ...      ...       ...
9                World  Under 18 Internationals  2256819         1
4                World  Under 18 Internationals  2254562         1
3                World  Under 18 Internationals  2245368         1
12               World  Under 18 Internationals  2245009         1
6                World  Under 18 Internationals  2200777      <NA>

    matchDateTime         homeTeam                 awayTeam
228    2025-11-18  Switzerland U17  Republic of Ireland U17
229    2025-11-18    DPR Korea U17                Japan U17
217    2025-11-18       Uganda U17         Burkina Faso U17
135    2025-11-18       Brazil U17               France U17
140    2025-11-18      Morocco U17                 Mali U17
..            ...              ...                      ...
9      2021-10-07      England U18               Norway U18
4      2021-10-12      Austria U18          Netherlands U18
3      2021-09-06  Netherlands U18                Italy U18
12     2021-09-03        Wales U18              England U18
6      2021-03-29        Wales U18              England U18

[264 rows x 7 columns]

In [191]:
find_game_id_filt[['matchId','competitionName']].drop_duplicates().groupby(by = ['competitionName']).count()

                         matchId
competitionName
FIFA U17 World Cup           156
Under 18 Internationals      108

In [192]:
find_game_id_filt[find_game_id_filt['competitionName'] == 'UEFA Under 21 Championship'].sort_values(by = ['matchId'])

Empty DataFrame
Columns: [competitionCountry, competitionName, matchId, matchday, matchDateTime, homeTeam, awayTeam]
Index: []

In [193]:
games_string_joined = ', '.join(map(str, list(find_game_id_filt.sort_values(by = ['matchDateTime'])['matchId'].unique())))

#games_string_joined = '2180288, 2180289, 2180294, 2180295, 2189480, 2180307, 2180306, 2180300, 2180301, 2180290, 2180291, 2180296, 2180297, 2180309, 2180303, 2180308, 2180302, 2189481, 2180299, 2180298, 2180293, 2180292, 2180304, 2180305, 2180310'

games_string_joined

'2200777, 2245009, 2245368, 2256819, 2256820, 2254562, 2258557, 2258809, 2258558, 2258559, 2258810, 2258839, 2258842, 2283809, 2283810, 2286817, 2286818, 2286819, 2332091, 2332217, 2332280, 2410273, 2410274, 2410765, 2359950, 2359311, 2360022, 2359312, 2360129, 2359313, 2365667, 2365746, 2365747, 2365745, 2365957, 2409939, 2409197, 2409297, 2409353, 2409355, 2411357, 2411546, 2411769, 2411548, 2411954, 2411547, 2412319, 2413033, 2413034, 2409810, 2409812, 2409811, 2409809, 2409813, 2409816, 2409815, 2409814, 2409819, 2409817, 2409820, 2409818, 2409821, 2409822, 2409824, 2409823, 2409827, 2409826, 2409828, 2409825, 2409829, 2409831, 2409832, 2409830, 2413268, 2409836, 2409835, 2409833, 2409834, 2409837, 2409839, 2409838, 2409840, 2413269, 2409841, 2409844, 2409842, 2409843, 2409846, 2409845, 2409849, 2409848, 2409852, 2409851, 2409850, 2409847, 2409854, 2409853, 2409855, 2409856, 2409858, 2409857, 2409859, 2409860, 2431912, 2438006, 2431913, 2438169, 2431914, 2439769, 2441364, 2441418, 2443897, 2443898, 2483296, 2485839, 2485886, 2485190, 2486058, 2485191, 2485696, 2485697, 2486660, 2487827, 2486952, 2488539, 2488588, 2488409, 2490038, 2489839, 2490778, 2489855, 2512362, 2514864, 2512286, 2514202, 2512287, 2514201, 2552865, 2553849, 2555022, 2557131, 2557975, 2557121, 2557122, 2557968, 2559578, 2602931, 2600387, 2602848, 2600388, 2602932, 2603913, 2606776, 2605712, 2606777, 2605713, 2607367, 2556963, 2556951, 2556956, 2556945, 2556957, 2556962, 2556944, 2556950, 2556968, 2556974, 2556980, 2556975, 2556969, 2556987, 2556981, 2556986, 2556998, 2556992, 2556993, 2557005, 2557004, 2557011, 2608162, 2557010, 2556999, 2556965, 2556964, 2556946, 2556959, 2556953, 2556958, 2556952, 2556947, 2556989, 2556970, 2556977, 2556976, 2556982, 2556983, 2556971, 2556988, 2556995, 2557006, 2557012, 2557007, 2557001, 2557000, 2556994, 2557013, 2556966, 2556960, 2556949, 2556955, 2556961, 2556954, 2556967, 2556948, 2556991, 2556973, 2556978, 2556984, 2556985, 2556979, 2556972, 2556990, 2557008, 2557003, 2557002, 2556997, 2557015, 2557014, 2557009, 2556996, 2607980, 2608981, 2608977, 2608982, 2608971, 2608984, 2608974, 2608976, 2608978, 2608980, 2608979, 2608972, 2608975, 2608973, 2608985, 2608983, 2608970, 2607979, 2609010, 2609008, 2609007, 2609004, 2609006, 2609005, 2609009, 2609011, 2608990, 2608988, 2608989, 2608987, 2608992, 2608991, 2608994, 2608993'

In [194]:
find_game_id_filt[(find_game_id_filt['homeTeam'].str.contains('England'))]

,competitionCountry,competitionName,matchId,matchday,matchDateTime,homeTeam,awayTeam
0,World,Under 18 Internationals,2256820,1,2021-10-11,England U18,Russia U18
9,World,Under 18 Internationals,2256819,1,2021-10-07,England U18,Norway U18
17,World,Under 18 Internationals,2283809,1,2022-03-25,England U18,Sweden U18
18,World,Under 18 Internationals,2283810,1,2022-03-28,England U18,Denmark U18
19,World,Under 18 Internationals,2286817,1,2022-06-07,England U18,Austria U18
20,World,Under 18 Internationals,2332091,1,2022-09-21,England U18,Netherlands U18
21,World,Under 18 Internationals,2332217,1,2022-09-23,England U18,Faroe Islands U18
22,World,Under 18 Internationals,2286818,1,2022-06-10,England U18,Wales U18
23,World,Under 18 Internationals,2286819,1,2022-06-13,England U18,Croatia U18
24,None,FIFA U17 World Cup,2409837,3,2023-11-17,England U17,Brazil U17
56,None,FIFA U17 World Cup,2409850,4,2023-11-22,England U17,Uzbekistan U17
72,None,FIFA U17 World Cup,2409826,2,2023-11-14,England U17,IR Iran U17
77,World,Under 18 Internationals,2359950,1,2023-03-22,England U18,Croatia U18
78,World,Under 18 Internationals,2360022,1,2023-03-24,England U18,Belgium U18
79,World,Under 18 Internationals,2409297,1,2023-09-08,England U18,Japan U18
80,World,Under 18 Internationals,2411546,1,2023-10-11,England U18,Belgium U18
81,World,Under 18 Internationals,2411547,1,2023-10-17,England U18,Korea Republic U18
94,World,Under 18 Internationals,2365747,1,2023-06-11,England U18,Australia U18
95,World,Under 18 Internationals,2409197,1,2023-09-06,England U18,France U18
96,World,Under 18 Internationals,2411548,1,2023-10-14,England U18,Morocco U18
108,World,Under 18 Internationals,2438169,1,2024-03-22,England U18,Germany U18
109,World,Under 18 Internationals,2441364,1,2024-05-22,England U18,Northern Ireland U18
110,World,Under 18 Internationals,2441418,1,2024-05-26,England U18,Morocco U18
111,World,Under 18 Internationals,2485839,1,2024-09-04,England U18,Portugal U18
112,World,Under 18 Internationals,2490038,1,2024-11-15,England U18,Poland U18
128,World,Under 18 Internationals,2490778,1,2024-11-18,England U18,Germany U18
159,None,FIFA U17 World Cup,2556968,1,2025-11-04,England U17,Venezuela U17
160,None,FIFA U17 World Cup,2556970,2,2025-11-07,England U17,Haiti U17
246,World,Under 18 Internationals,2606776,1,2025-10-09,England U18,France U18
247,World,Under 18 Internationals,2606777,1,2025-10-12,England U18,France U18
251,World,Under 18 Internationals,2514864,1,2025-03-20,England U18,Czechia U18
253,World,Under 18 Internationals,2602848,1,2025-09-06,England U18,Morocco U18
257,World,Under 18 Internationals,2602931,1,2025-09-03,England U18,Uzbekistan U18
259,World,Under 18 Internationals,2602932,1,2025-09-09,England U18,Canada U18

In [195]:
sql_phases = 'SELECT * FROM `the-fa-performance-insights.phases.phase_windows_new` WHERE game_id IN ('+games_string_joined+')'
joined_phases_dataset = pandas_gbq.read_gbq(sql_phases, project_id = 'the-fa-performance-insights')
pre_joined_phases_dataset = joined_phases_dataset.drop_duplicates()
pre_joined_phases_dataset['time_diff'] = pre_joined_phases_dataset['end_time'] - pre_joined_phases_dataset['start_time']

pre_joined_phases_dataset.head()

Downloading: 100%|█████████████████████████████████████████████████████████████|

,game_id,team_id,phase,label,half,set_piece_type,gk_label,start_time,end_time,time_diff
0,2411546,9459,BUILD,BUILD 1,1,None,GK,27.835,51.947,24.112
1,2411547,9459,BUILD,BUILD 1,1,None,GK,250.544,258.560,8.016
2,2411548,9459,BUILD,BUILD 1,1,None,None,26.174,37.743,11.569
3,2411546,9459,BUILD,BUILD 10,1,ATTACKING FREE KICK,GOAL KICK,928.757,928.757,0.000
4,2411548,9459,BUILD,BUILD 10,1,None,GK,1200.850,1221.399,20.549

In [196]:
pre_joined_phases_dataset[pre_joined_phases_dataset['game_id'] == 2180308]

Empty DataFrame
Columns: [game_id, team_id, phase, label, half, set_piece_type, gk_label, start_time, end_time, time_diff]
Index: []

In [197]:
len(pre_joined_phases_dataset.game_id.unique())

209

In [198]:
sql_events = 'SELECT * FROM `the-fa-analysis-and-insight.source_external_opta.opta_true_sequence_with_xG` WHERE game_id IN ('+str(games_string_joined)+')'
pre_joined_events_dataset = pandas_gbq.read_gbq(sql_events, project_id = 'the-fa-analysis-and-insight')

pre_joined_events_dataset.head()

Downloading: 100%|█████████████████████████████████████████████████████████████|

,id,game_id,game_away_team_id,game_away_team_name,game_competition_id,game_competition_name,game_game_date,game_home_team_id,game_home_team_name,game_matchday,...,assisted_xG,assisted_opta_xG,assisted_Big_Chance,shot_state,shot_state_detail,shot_distance,shot_type,event_leading_to_shot,seq_xG,pos_xG
0,2615642137,2409809,9138,Morocco U17,670,FIFA U17 World Cup,2023-11-10 09:00:00+00:00,9139,Panama U17,1,...,NaN,NaN,<NA>,None,None,NaN,None,None,0.0,0.0
1,2615642145,2409809,9138,Morocco U17,670,FIFA U17 World Cup,2023-11-10 09:00:00+00:00,9139,Panama U17,1,...,NaN,NaN,<NA>,None,None,NaN,None,None,0.0,0.0
2,2615642145,2409809,9138,Morocco U17,670,FIFA U17 World Cup,2023-11-10 09:00:00+00:00,9139,Panama U17,1,...,NaN,NaN,<NA>,None,None,NaN,None,None,0.0,0.0
3,2615642179,2409809,9138,Morocco U17,670,FIFA U17 World Cup,2023-11-10 09:00:00+00:00,9139,Panama U17,1,...,NaN,NaN,<NA>,None,None,NaN,None,None,0.0,0.0
4,2615642179,2409809,9138,Morocco U17,670,FIFA U17 World Cup,2023-11-10 09:00:00+00:00,9139,Panama U17,1,...,NaN,NaN,<NA>,None,None,NaN,None,None,0.0,0.0

In [199]:
len(pre_joined_events_dataset.game_id.unique())

210

In [200]:
pre_joined_events_dataset[pre_joined_events_dataset['game_home_team_name'] == 'Spain U21'][['game_home_team_name','game_away_team_name','game_id']].drop_duplicates()

Empty DataFrame
Columns: [game_home_team_name, game_away_team_name, game_id]
Index: []

In [201]:
'''
joined_events_dataset = pd.DataFrame()
joined_phases_dataset = pd.DataFrame()

team_name = 'U17_WC_DAY1'
avoid_games = []

# Define the new directory path
folder_path = '/Users/vanni.DiFebo/env/Phase Data '+team_name

list_of_files = os.listdir(folder_path)

events_files = list(filter(lambda d : 'events' in d, list_of_files))
phases_files = list(filter(lambda d : 'phases' in d, list_of_files))

for game_to_avoid in avoid_games:
    events_files = list(filter(lambda row: str(game_to_avoid) not in row, events_files))
    phases_files = list(filter(lambda row: str(game_to_avoid) not in row, phases_files))

# Loop through files in the folder
for filename_ev in events_files:
    file_path_ev = pd.read_csv(folder_path+'/'+filename_ev)
    file_path_ev = file_path_ev.drop(columns = {'Unnamed: 0'})
    joined_events_dataset = pd.concat([joined_events_dataset, file_path_ev], ignore_index = True)
    
for filename_ph in phases_files:
    file_path_ph = pd.read_csv(folder_path+'/'+filename_ph)
    file_path_ph = file_path_ph.drop(columns = {'Unnamed: 0'})
    joined_phases_dataset = pd.concat([joined_phases_dataset, file_path_ph], ignore_index = True)
'''

"\njoined_events_dataset = pd.DataFrame()\njoined_phases_dataset = pd.DataFrame()\n\nteam_name = 'U17_WC_DAY1'\navoid_games = []\n\n# Define the new directory path\nfolder_path = '/Users/vanni.DiFebo/env/Phase Data '+team_name\n\nlist_of_files = os.listdir(folder_path)\n\nevents_files = list(filter(lambda d : 'events' in d, list_of_files))\nphases_files = list(filter(lambda d : 'phases' in d, list_of_files))\n\nfor game_to_avoid in avoid_games:\n    events_files = list(filter(lambda row: str(game_to_avoid) not in row, events_files))\n    phases_files = list(filter(lambda row: str(game_to_avoid) not in row, phases_files))\n\n# Loop through files in the folder\nfor filename_ev in events_files:\n    file_path_ev = pd.read_csv(folder_path+'/'+filename_ev)\n    file_path_ev = file_path_ev.drop(columns = {'Unnamed: 0'})\n    joined_events_dataset = pd.concat([joined_events_dataset, file_path_ev], ignore_index = True)\n    \nfor filename_ph in phases_files:\n    file_path_ph = pd.read_csv(folder_path+'/'+filename_ph)\n    file_path_ph = file_path_ph.drop(columns = {'Unnamed: 0'})\n    joined_phases_dataset = pd.concat([joined_phases_dataset, file_path_ph], ignore_index = True)\n"

In [202]:
#joined_events_dataset.head()

In [203]:
joined_phases_dataset[(joined_phases_dataset['game_id'] == 2180308) & (joined_phases_dataset['start_time'] > 999)].sort_values(by = ['start_time']).head()

Empty DataFrame
Columns: [game_id, team_id, phase, label, half, set_piece_type, gk_label, start_time, end_time]
Index: []

In [204]:
'''
event_type_name
set_piece_phase
set_piece_type
home_team_phases
home_team_phases_label
away_team_phases
away_team_phases_label
'''

def describe_opta_event_types(ev_type_id):

        dict_mapping_types =  {
            1: "Pass", 2: "Offside Pass", 3: "Take On", 4: "Foul",
            5: "Out", 6: "Corner Awarded", 7: "Tackle", 8: "Interception",
            10: "Save", 11: "Claim", 12: "Clearance", 13: "Miss",
            14: "Post", 15: "Attempt Saved", 16: "Goal", 17: "Card",
            18: "Player Off", 19: "Player On", 20: "Player Retired",
            21: "Player Returns", 22: "Player Becomes Goalkeeper",
            23: "Goalkeeper Becomes Player", 24: "Condition Change",
            25: "Official Change", 27: "Start Delay", 28: "End Delay",
            30: "End", 32: "Start", 34: "Team Set Up",
            35: "Player Changed Position", 36: "Player Changed Jersey Number",
            37: "Collection End", 38: "Temp Goal", 39: "Temp Attempt",
            40: "Formation Change", 41: "Punch", 42: "Good Skill",
            43: "Deleted Event", 44: "Aerial", 45: "Challenge",
            49: "Ball Recovery", 50: "Dispossessed", 51: "Error",
            52: "Keeper Pick-up", 53: "Cross Not Claimed", 54: "Smother",
            55: "Offside Provoked", 56: "Shield Ball Opp", 57: "Foul Throw-in",
            58: "Penalty Faced", 59: "Keeper Sweeper", 60: "Chance Missed",
            61: "Ball Touch", 63: "Temp Save", 64: "Resume",
            65: "Contentious Referee Decision", 67: "50/50",
            68: "Referee Drop Ball", 70: "Injury Time Announcement",
            71: "Coach Setup", 74: "Blocked Pass", 75: "Delayed Start",
            76: "Early End", 79: "Coverage Interruption", 80: "Drop of Ball",
            81: "Obstacle", 82: "Control", 83: "Attempted Tackle",
            84: "Deleted After Review", 124: "Goal Kick"
        }

        return dict_mapping_types[ev_type_id]

def find_phase_from_table(row, team_id, phases_table):

    game_id = row['game_id']
    gameClock = row['gameClock']
    event_period_id = row['event_period_id']
    home_team_id = row['game_home_team_id']
    away_team_id = row['game_away_team_id']

    if event_period_id == 2:
        gameClock_new = gameClock-2700
    else:
        gameClock_new = gameClock
        
    filt_phases = phases_table[
        (phases_table['game_id'] == int(game_id)) &
        (phases_table['half'] == int(event_period_id)) &
        (phases_table['team_id'] == int(team_id)) &
        (phases_table['start_time'] <= float(gameClock_new)) &
        (phases_table['end_time'] >= float(gameClock_new))
    ]
    
    try:
        return pd.Series(filt_phases[['phase','label']].iloc[0].values.tolist())
    except:
        return pd.Series([None, None])

def find_set_piece_phase_from_table(row, team_id, phases_table):

    game_id = row['game_id']
    gameClock = row['gameClock']
    event_period_id = row['event_period_id']
    home_team_id = row['game_home_team_id']
    away_team_id = row['game_away_team_id']

    if event_period_id == 2:
        gameClock_new = gameClock-2700
    else:
        gameClock_new = gameClock
        
    filt_phases = phases_table[
        (phases_table['game_id'] == int(game_id)) &
        (phases_table['half'] == int(event_period_id)) &
        (phases_table['team_id'] == int(team_id)) &
        (phases_table['start_time'] <= float(gameClock_new)) &
        (phases_table['end_time'] >= float(gameClock_new))
    ]
    
    try:
        return pd.Series(filt_phases[['set_piece_type','label']].iloc[0].values.tolist())
    except:
        return pd.Series([None, None])

pre_joined_events_dataset_copy = pre_joined_events_dataset.copy()

pre_joined_events_dataset_copy['event_type_name'] = pre_joined_events_dataset_copy.apply(lambda row: describe_opta_event_types(row.event_type_id), axis = 1)
pre_joined_events_dataset_copy[['home_team_phases','home_team_phases_label']] = pre_joined_events_dataset_copy.apply(lambda row: find_phase_from_table(row, row.game_home_team_id, joined_phases_dataset), axis = 1)
pre_joined_events_dataset_copy[['away_team_phases','away_team_phases_label']] = pre_joined_events_dataset_copy.apply(lambda row: find_phase_from_table(row, row.game_away_team_id, joined_phases_dataset), axis = 1)

In [205]:
display_all(pre_joined_events_dataset_copy[(pre_joined_events_dataset_copy['game_id'].isin([2180299, 2180313, 2180296])) & (pre_joined_events_dataset_copy['gameClock'] < 50)].groupby(by = ['gameClock','event_period_id','game_home_team_id','game_id','home_team_phases']).count())

Empty DataFrame
Columns: [id, game_away_team_id, game_away_team_name, game_competition_id, game_competition_name, game_game_date, game_home_team_name, game_matchday, game_season_id, game_season_name, event_id, event_event_id, event_type_id, event_period_id_text, event_version, event_min, event_sec, event_player_id, event_outcome, event_timestamp, qualifier, lastModified, sequence_id, f24_event_type, event_team_id, event_type_order, event_assist, event_keypass, prev_possession_id, prev_event_team_id, prev_event_period_id, event_time, possession_id, event_team_no, event_sequence_no, Period, possession_id2, start_x, start_y, crosses, head_pass, set_play, successful_through_balls, successful_crosses, successful_passes_to_final_3rd, Player, primary_position, receiver, event_receiver_id, carry_x, carry_y, shot_y, blocked_x, blocked_y, through_balls_received, crosses_received, event_possession_id2_no, prev_end_x, prev_end_y, percent_of_carry_distance_remaining_to_goal, percent_of_pass_distance_remaining_to_goal, vertical_pass_fwd_distance, vertical_pass_distance, horizontal_pass_distance, vertical_carry_fwd_distance, vertical_carry_distance, horizontal_carry_distance, pass_distance, pass_start_pitch_zone, pass_end_pitch_zone, pass_angle, seq_shot, pos_shot, pos_passes, pos_successful_passes, event_x, event_y, end_x, end_y, EVENT, path, xG, Opta_xG, Opta_xGOT, assisted_xG, assisted_opta_xG, assisted_Big_Chance, shot_state, shot_state_detail, shot_distance, shot_type, event_leading_to_shot, seq_xG, pos_xG, event_type_name, home_team_phases_label, away_team_phases, away_team_phases_label]
Index: []

In [206]:
display_all(pre_joined_events_dataset_copy[pre_joined_events_dataset_copy['game_id'] == 2180308].head())

Empty DataFrame
Columns: [id, game_id, game_away_team_id, game_away_team_name, game_competition_id, game_competition_name, game_game_date, game_home_team_id, game_home_team_name, game_matchday, game_season_id, game_season_name, event_id, event_event_id, event_type_id, event_period_id, event_period_id_text, event_version, event_min, event_sec, event_player_id, event_outcome, event_timestamp, qualifier, lastModified, sequence_id, f24_event_type, event_team_id, event_type_order, event_assist, event_keypass, prev_possession_id, prev_event_team_id, prev_event_period_id, event_time, possession_id, event_team_no, event_sequence_no, Period, gameClock, possession_id2, start_x, start_y, crosses, head_pass, set_play, successful_through_balls, successful_crosses, successful_passes_to_final_3rd, Player, primary_position, receiver, event_receiver_id, carry_x, carry_y, shot_y, blocked_x, blocked_y, through_balls_received, crosses_received, event_possession_id2_no, prev_end_x, prev_end_y, percent_of_carry_distance_remaining_to_goal, percent_of_pass_distance_remaining_to_goal, vertical_pass_fwd_distance, vertical_pass_distance, horizontal_pass_distance, vertical_carry_fwd_distance, vertical_carry_distance, horizontal_carry_distance, pass_distance, pass_start_pitch_zone, pass_end_pitch_zone, pass_angle, seq_shot, pos_shot, pos_passes, pos_successful_passes, event_x, event_y, end_x, end_y, EVENT, path, xG, Opta_xG, Opta_xGOT, assisted_xG, assisted_opta_xG, assisted_Big_Chance, shot_state, shot_state_detail, shot_distance, shot_type, event_leading_to_shot, seq_xG, pos_xG, event_type_name, home_team_phases, ...]
Index: []

In [207]:
pre_joined_events_dataset_copy[pre_joined_events_dataset_copy['game_id'] == 2180307].head()

Empty DataFrame
Columns: [id, game_id, game_away_team_id, game_away_team_name, game_competition_id, game_competition_name, game_game_date, game_home_team_id, game_home_team_name, game_matchday, game_season_id, game_season_name, event_id, event_event_id, event_type_id, event_period_id, event_period_id_text, event_version, event_min, event_sec, event_player_id, event_outcome, event_timestamp, qualifier, lastModified, sequence_id, f24_event_type, event_team_id, event_type_order, event_assist, event_keypass, prev_possession_id, prev_event_team_id, prev_event_period_id, event_time, possession_id, event_team_no, event_sequence_no, Period, gameClock, possession_id2, start_x, start_y, crosses, head_pass, set_play, successful_through_balls, successful_crosses, successful_passes_to_final_3rd, Player, primary_position, receiver, event_receiver_id, carry_x, carry_y, shot_y, blocked_x, blocked_y, through_balls_received, crosses_received, event_possession_id2_no, prev_end_x, prev_end_y, percent_of_carry_distance_remaining_to_goal, percent_of_pass_distance_remaining_to_goal, vertical_pass_fwd_distance, vertical_pass_distance, horizontal_pass_distance, vertical_carry_fwd_distance, vertical_carry_distance, horizontal_carry_distance, pass_distance, pass_start_pitch_zone, pass_end_pitch_zone, pass_angle, seq_shot, pos_shot, pos_passes, pos_successful_passes, event_x, event_y, end_x, end_y, EVENT, path, xG, Opta_xG, Opta_xGOT, assisted_xG, assisted_opta_xG, assisted_Big_Chance, shot_state, shot_state_detail, shot_distance, shot_type, event_leading_to_shot, seq_xG, pos_xG, event_type_name, home_team_phases, ...]
Index: []

[0 rows x 103 columns]

In [208]:
display_all(pre_joined_events_dataset_copy[(pre_joined_events_dataset_copy['game_id'] == 2507730) & (pre_joined_events_dataset_copy['gameClock'] > 1000)].head())

Empty DataFrame
Columns: [id, game_id, game_away_team_id, game_away_team_name, game_competition_id, game_competition_name, game_game_date, game_home_team_id, game_home_team_name, game_matchday, game_season_id, game_season_name, event_id, event_event_id, event_type_id, event_period_id, event_period_id_text, event_version, event_min, event_sec, event_player_id, event_outcome, event_timestamp, qualifier, lastModified, sequence_id, f24_event_type, event_team_id, event_type_order, event_assist, event_keypass, prev_possession_id, prev_event_team_id, prev_event_period_id, event_time, possession_id, event_team_no, event_sequence_no, Period, gameClock, possession_id2, start_x, start_y, crosses, head_pass, set_play, successful_through_balls, successful_crosses, successful_passes_to_final_3rd, Player, primary_position, receiver, event_receiver_id, carry_x, carry_y, shot_y, blocked_x, blocked_y, through_balls_received, crosses_received, event_possession_id2_no, prev_end_x, prev_end_y, percent_of_carry_distance_remaining_to_goal, percent_of_pass_distance_remaining_to_goal, vertical_pass_fwd_distance, vertical_pass_distance, horizontal_pass_distance, vertical_carry_fwd_distance, vertical_carry_distance, horizontal_carry_distance, pass_distance, pass_start_pitch_zone, pass_end_pitch_zone, pass_angle, seq_shot, pos_shot, pos_passes, pos_successful_passes, event_x, event_y, end_x, end_y, EVENT, path, xG, Opta_xG, Opta_xGOT, assisted_xG, assisted_opta_xG, assisted_Big_Chance, shot_state, shot_state_detail, shot_distance, shot_type, event_leading_to_shot, seq_xG, pos_xG, event_type_name, home_team_phases, ...]
Index: []

In [209]:
#joined_events_dataset[(pre_joined_events_dataset_copy['game_id'] == 2556944) & (joined_events_dataset['gameClock'] > 1000) ].head()

In [210]:
joined_phases_dataset = pre_joined_phases_dataset.copy()
joined_events_dataset = pre_joined_events_dataset_copy[~pre_joined_events_dataset_copy['possession_id'].isnull()].reset_index()

In [211]:
joined_phases_dataset['game_id'].unique()

<IntegerArray>
[2411546, 2411547, 2411548, 2609006, 2608989, 2608993, 2608980, 2608992,
 2609008, 2608991,
 ...
 2409818, 2409830, 2409841, 2409829, 2409842, 2409817, 2409847, 2409858,
 2409810, 2409828]
Length: 209, dtype: Int64

In [212]:
joined_events_dataset['game_id'].unique()

<IntegerArray>
[2409809, 2409810, 2609009, 2609006, 2609004, 2609008, 2609010, 2609011,
 2609005, 2609007,
 ...
 2441418, 2485839, 2485886, 2486058, 2488539, 2488588, 2490038, 2490778,
 2514202, 2514201]
Length: 210, dtype: Int64

In [213]:
joined_phases_dataset[joined_phases_dataset['game_id'] == 2507730].head()

Empty DataFrame
Columns: [game_id, team_id, phase, label, half, set_piece_type, gk_label, start_time, end_time, time_diff]
Index: []

In [214]:
display_all(joined_events_dataset[joined_events_dataset['home_team_phases_label'] != joined_events_dataset['away_team_phases_label']].head())

,index,id,game_id,game_away_team_id,game_away_team_name,game_competition_id,game_competition_name,game_game_date,game_home_team_id,game_home_team_name,game_matchday,game_season_id,game_season_name,event_id,event_event_id,event_type_id,event_period_id,event_period_id_text,event_version,event_min,event_sec,event_player_id,event_outcome,event_timestamp,qualifier,lastModified,sequence_id,f24_event_type,event_team_id,event_type_order,event_assist,event_keypass,prev_possession_id,prev_event_team_id,prev_event_period_id,event_time,possession_id,event_team_no,event_sequence_no,Period,gameClock,possession_id2,start_x,start_y,crosses,head_pass,set_play,successful_through_balls,successful_crosses,successful_passes_to_final_3rd,Player,primary_position,receiver,event_receiver_id,carry_x,carry_y,shot_y,blocked_x,blocked_y,through_balls_received,crosses_received,event_possession_id2_no,prev_end_x,prev_end_y,percent_of_carry_distance_remaining_to_goal,percent_of_pass_distance_remaining_to_goal,vertical_pass_fwd_distance,vertical_pass_distance,horizontal_pass_distance,vertical_carry_fwd_distance,vertical_carry_distance,horizontal_carry_distance,pass_distance,pass_start_pitch_zone,pass_end_pitch_zone,pass_angle,seq_shot,pos_shot,pos_passes,pos_successful_passes,event_x,event_y,end_x,end_y,EVENT,path,xG,Opta_xG,Opta_xGOT,assisted_xG,assisted_opta_xG,assisted_Big_Chance,shot_state,shot_state_detail,shot_distance,shot_type,event_leading_to_shot,seq_xG,pos_xG,event_type_name,home_team_phases,home_team_phases_label,away_team_phases,away_team_phases_label
0,0,2615642137,2409809,9138,Morocco U17,670,FIFA U17 World Cup,2023-11-10 09:00:00+00:00,9139,Panama U17,1,2023,Season 2023/2024,2615642137,3,1,1,First half,1699606880306,0,0,611477,1,2023-11-10 09:01:16.154000+00:00,"[{'id': '4645005665', 'qualifier_id': '56', 'v...",2023-11-10 09:01:21+00:00,1,1,9139,0,<NA>,<NA>,<NA>,<NA>,<NA>,0,0,2,1,1st Half,0,0a,50.0,50.0,0,0,0,0,0,0,Kevin Walder,CF,Érick Díaz,611483,NaN,NaN,NaN,NaN,NaN,0,0,1,NaN,NaN,NaN,-0.466805,-24.360,24.360,8.024,NaN,NaN,NaN,25.6,Mid 3rd Central,Def 3rd Central,161.768507,0,0,2,1,50.0,50.0,26.8,61.8,EVENT START,2,NaN,NaN,NaN,NaN,NaN,<NA>,None,None,NaN,None,None,0.0,0.0,Pass,None,None,None,None
1,1,2615642145,2409809,9138,Morocco U17,670,FIFA U17 World Cup,2023-11-10 09:00:00+00:00,9139,Panama U17,1,2023,Season 2023/2024,2615642145,4,1,1,First half,1699606882663,0,4,611483,0,2023-11-10 09:01:20.299000+00:00,"[{'id': '4645005709', 'qualifier_id': '155', '...",2023-11-10 09:01:22+00:00,1,1,9139,0,<NA>,<NA>,1,9139,1,4,0,3,2,1st Half,4,0a,26.8,61.8,0,0,0,0,0,0,Érick Díaz,CB,None,<NA>,NaN,NaN,NaN,NaN,NaN,0,0,2,26.8,61.8,NaN,0.466141,50.505,50.505,26.792,NaN,NaN,NaN,57.2,Def 3rd Central,Final 3rd Left,-27.945152,0,0,2,1,26.8,61.8,74.9,101.2,EVENT START,2,NaN,NaN,NaN,NaN,NaN,<NA>,None,None,NaN,None,None,0.0,0.0,Pass,CREATE,CREATE 1,MID BLOCK,MID BLOCK 1
2,2,2615642145,2409809,9138,Morocco U17,670,FIFA U17 World Cup,2023-11-10 09:00:00+00:00,9139,Panama U17,1,2023,Season 2023/2024,2615642145,4,1,1,First half,1699606882663,0,4,611483,0,2023-11-10 09:01:20.299000+00:00,"[{'id': '4645005709', 'qualifier_id': '155', '...",2023-11-10 09:01:22+00:00,1,1,9139,0,<NA>,<NA>,1,9139,1,4,0,3,2,1st Half,4,0a,26.8,61.8,0,0,0,0,0,0,Érick Díaz,CB,None,<NA>,NaN,NaN,NaN,NaN,NaN,0,0,2,26.8,61.8,NaN,0.466141,50.505,50.505,26.792,NaN,NaN,NaN,57.2,Def 3rd Central,Final 3rd Left,-27.945152,0,0,2,1,74.9,101.2,74.9,101.2,PASS END,3,NaN,NaN,NaN,NaN,NaN,<NA>,None,None,NaN,None,None,0.0,0.0,Pass,CREATE,CREATE 1,MID BLOCK,MID BLOCK 1
3,3,2615642179,2409809,9138,Morocco U17,670,FIFA U17 World Cup,2023-11-10 09:00:00+00:00,9139,Panama U17,1,2023,Season 2023/2024,2615642179,4,1,1,First half,1699607194078,0,8,499453,0,2023-11-10 09:01:25.122000+00:00,"[{'id': '4645005863', 'qualifier_id': '107', '...",2023-11-10 09:06:34+00:00,2,1,9138,0,<NA>,<NA>,1,9139,1,8,1,3,1,1st Half,8,1b,33.2,-1.0,0,0,1,0,0,0,Naoufel El Hannach,FB,None,<NA>,NaN,NaN,NaN,NaN,NaN,0,0,1,NaN,NaN,NaN,0.198654,11.865,11.865,11.492,NaN,NaN,NaN,16.5,Def 3rd Right,Mid 3rd Right,44.085092,0,0,1,0,33.2,-1.0,44.5,15.9,EVENT START,2,NaN,NaN,NaN,NaN,NaN,<NA>,None,None,NaN,None,None,0.0,0.0,Pass,None,None,None,None
4,4,2615642179,2409809,9138,Morocco U17,670,FIFA U17 World Cup,2023-11-10 09:00:00+00:00,9139,Panama U17,1,2023,Season 2023/2024,2615642179,4,1,1,First half,1699607194078,0,8,499453,0,2023-11-10 09:01:25.122000+00:00,"[{'id': '4645005863', 'qualifier_id': '107', '...",2023-11-10 09:06:34+00:00,2,1,9138,0,<NA>,<NA>,1,9139,1,8,1,3,1,1st Half,8,1b,33.2,-1.0,0,0,1,0,0,0,Naoufel El Hannach,FB,None,<NA>,NaN,NaN,NaN,NaN,NaN,0,0,1,NaN,NaN,NaN,0.198654,11.865,11.865,11.492,NaN,NaN,NaN,16.5,Def 3rd Right,Mid 3rd Right,44.085092,0,0,1,0,44.5,15.9,44.5,15.9,PASS END,3,NaN,NaN,NaN,NaN,NaN,<NA>,None,None,NaN,None,None,0.0,0.0,Pass,None,None,None,None

In [215]:
match_phases_file_name = 'match_phases'
pre_albania_phases = joined_phases_dataset.copy()

In [216]:

pre_albania_phases['time_diff'] = pre_albania_phases['end_time'] - pre_albania_phases['start_time']

albania_phases = pre_albania_phases#[pre_albania_phases['time_diff'] >= 0]

albania_phases[albania_phases['game_id'] == 2507730][albania_phases['half'] == 2][albania_phases['start_time'] > 4714-2700].sort_values(by = ['game_id','half','start_time']).head(35)

/var/folders/2m/31gtyphx2h3fz_nycnfgx60c0000gp/T/ipykernel_23352/2016393436.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  albania_phases[albania_phases['game_id'] == 2507730][albania_phases['half'] == 2][albania_phases['start_time'] > 4714-2700].sort_values(by = ['game_id','half','start_time']).head(35)
/var/folders/2m/31gtyphx2h3fz_nycnfgx60c0000gp/T/ipykernel_23352/2016393436.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  albania_phases[albania_phases['game_id'] == 2507730][albania_phases['half'] == 2][albania_phases['start_time'] > 4714-2700].sort_values(by = ['game_id','half','start_time']).head(35)

Empty DataFrame
Columns: [game_id, team_id, phase, label, half, set_piece_type, gk_label, start_time, end_time, time_diff]
Index: []

In [217]:

phases_describe = albania_phases.groupby(by = ['game_id','team_id','phase'])['time_diff'].describe()
phases_sum = albania_phases.groupby(by = ['game_id','team_id','phase'])['time_diff'].sum()

In [218]:
phases_count = albania_phases[['game_id','team_id','label','phase']].drop_duplicates().groupby(by = ['game_id','team_id','phase'])['label'].count()

phases_count_sum = pd.merge(phases_describe, phases_sum, on = ['game_id','team_id','phase']).reset_index()

display_all(phases_count_sum)

,game_id,team_id,phase,count,mean,std,min,25%,50%,75%,max,time_diff
0,2200777,9459,BUILD,49.0,12.571510,9.522494,0.000,5.07200,9.6160,18.92800,46.275,616.004
1,2200777,9459,CREATE,78.0,13.538231,14.521663,0.000,3.51400,9.1765,19.43800,86.864,1055.982
2,2200777,9459,FINISH,33.0,15.473061,12.689157,0.000,6.36500,12.5810,27.45500,50.622,510.611
3,2200777,9459,HIGH PRESS,51.0,7.303039,6.879728,0.000,2.83400,5.2900,10.51100,31.335,372.455
4,2200777,9459,LOW BLOCK,16.0,15.860375,24.609165,0.000,3.35900,8.0060,18.64175,101.475,253.766
...,...,...,...,...,...,...,...,...,...,...,...,...
4175,2609011,9896,MID BLOCK,53.0,8.296151,12.514334,0.000,2.00000,4.0000,7.79200,68.281,439.696
4176,2609011,9896,OPP SET PIECES,34.0,14.083441,24.920052,0.000,2.66200,7.3725,13.00000,133.000,478.837
4177,2609011,9896,SET PIECES,32.0,13.779969,12.415209,0.000,3.88525,11.5000,17.15500,48.806,440.959
4178,2609011,9896,TRANSITION A-D,31.0,8.459161,6.554380,1.344,4.00000,8.0000,9.96150,32.000,262.234
4179,2609011,9896,TRANSITION D-A,34.0,6.594265,3.293481,0.511,3.30650,7.5250,8.92025,12.766,224.205

In [219]:
pre_pre_events = joined_events_dataset.copy()
filt_evented_pre_pre_events = pre_pre_events[pre_pre_events['EVENT'] == 'EVENT START']

filt_evented_pre_pre_events.Player.unique()

array(['Kevin Walder', 'Érick Díaz', 'Naoufel El Hannach', ...,
       'Amadeus Sundgren', 'Brad de Jesus', 'Will Procter'], dtype=object)

In [220]:
display_all(filt_evented_pre_pre_events.head(10))

,index,id,game_id,game_away_team_id,game_away_team_name,game_competition_id,game_competition_name,game_game_date,game_home_team_id,game_home_team_name,game_matchday,game_season_id,game_season_name,event_id,event_event_id,event_type_id,event_period_id,event_period_id_text,event_version,event_min,event_sec,event_player_id,event_outcome,event_timestamp,qualifier,lastModified,sequence_id,f24_event_type,event_team_id,event_type_order,event_assist,event_keypass,prev_possession_id,prev_event_team_id,prev_event_period_id,event_time,possession_id,event_team_no,event_sequence_no,Period,gameClock,possession_id2,start_x,start_y,crosses,head_pass,set_play,successful_through_balls,successful_crosses,successful_passes_to_final_3rd,Player,primary_position,receiver,event_receiver_id,carry_x,carry_y,shot_y,blocked_x,blocked_y,through_balls_received,crosses_received,event_possession_id2_no,prev_end_x,prev_end_y,percent_of_carry_distance_remaining_to_goal,percent_of_pass_distance_remaining_to_goal,vertical_pass_fwd_distance,vertical_pass_distance,horizontal_pass_distance,vertical_carry_fwd_distance,vertical_carry_distance,horizontal_carry_distance,pass_distance,pass_start_pitch_zone,pass_end_pitch_zone,pass_angle,seq_shot,pos_shot,pos_passes,pos_successful_passes,event_x,event_y,end_x,end_y,EVENT,path,xG,Opta_xG,Opta_xGOT,assisted_xG,assisted_opta_xG,assisted_Big_Chance,shot_state,shot_state_detail,shot_distance,shot_type,event_leading_to_shot,seq_xG,pos_xG,event_type_name,home_team_phases,home_team_phases_label,away_team_phases,away_team_phases_label
0,0,2615642137,2409809,9138,Morocco U17,670,FIFA U17 World Cup,2023-11-10 09:00:00+00:00,9139,Panama U17,1,2023,Season 2023/2024,2615642137,3,1,1,First half,1699606880306,0,0,611477,1,2023-11-10 09:01:16.154000+00:00,"[{'id': '4645005665', 'qualifier_id': '56', 'v...",2023-11-10 09:01:21+00:00,1,1,9139,0,<NA>,<NA>,<NA>,<NA>,<NA>,0,0,2,1,1st Half,0,0a,50.0,50.0,0,0,0,0,0,0,Kevin Walder,CF,Érick Díaz,611483,NaN,NaN,NaN,NaN,NaN,0,0,1,NaN,NaN,NaN,-0.466805,-24.360,24.360,8.024,NaN,NaN,NaN,25.6,Mid 3rd Central,Def 3rd Central,161.768507,0,0,2,1,50.0,50.0,26.8,61.8,EVENT START,2,NaN,NaN,NaN,NaN,NaN,<NA>,None,None,NaN,None,None,0.0,0.0,Pass,None,None,None,None
1,1,2615642145,2409809,9138,Morocco U17,670,FIFA U17 World Cup,2023-11-10 09:00:00+00:00,9139,Panama U17,1,2023,Season 2023/2024,2615642145,4,1,1,First half,1699606882663,0,4,611483,0,2023-11-10 09:01:20.299000+00:00,"[{'id': '4645005709', 'qualifier_id': '155', '...",2023-11-10 09:01:22+00:00,1,1,9139,0,<NA>,<NA>,1,9139,1,4,0,3,2,1st Half,4,0a,26.8,61.8,0,0,0,0,0,0,Érick Díaz,CB,None,<NA>,NaN,NaN,NaN,NaN,NaN,0,0,2,26.8,61.8,NaN,0.466141,50.505,50.505,26.792,NaN,NaN,NaN,57.2,Def 3rd Central,Final 3rd Left,-27.945152,0,0,2,1,26.8,61.8,74.9,101.2,EVENT START,2,NaN,NaN,NaN,NaN,NaN,<NA>,None,None,NaN,None,None,0.0,0.0,Pass,CREATE,CREATE 1,MID BLOCK,MID BLOCK 1
3,3,2615642179,2409809,9138,Morocco U17,670,FIFA U17 World Cup,2023-11-10 09:00:00+00:00,9139,Panama U17,1,2023,Season 2023/2024,2615642179,4,1,1,First half,1699607194078,0,8,499453,0,2023-11-10 09:01:25.122000+00:00,"[{'id': '4645005863', 'qualifier_id': '107', '...",2023-11-10 09:06:34+00:00,2,1,9138,0,<NA>,<NA>,1,9139,1,8,1,3,1,1st Half,8,1b,33.2,-1.0,0,0,1,0,0,0,Naoufel El Hannach,FB,None,<NA>,NaN,NaN,NaN,NaN,NaN,0,0,1,NaN,NaN,NaN,0.198654,11.865,11.865,11.492,NaN,NaN,NaN,16.5,Def 3rd Right,Mid 3rd Right,44.085092,0,0,1,0,33.2,-1.0,44.5,15.9,EVENT START,2,NaN,NaN,NaN,NaN,NaN,<NA>,None,None,NaN,None,None,0.0,0.0,Pass,None,None,None,None
5,5,2615642195,2409809,9138,Morocco U17,670,FIFA U17 World Cup,2023-11-10 09:00:00+00:00,9139,Panama U17,1,2023,Season 2023/2024,2615642195,7,1,1,First half,1699606891310,0,13,611476,0,2023-11-10 09:01:29.929000+00:00,"[{'id': '4645005923', 'qualifier_id': '56', 'v...",2023-11-10 09:01:31+00:00,3,1,9139,0,<NA>,<NA>,3,9139,1,13,2,6,2,1st Half,13,2a,55.6,81.3,0,0,0,0,0,0,Anel Ryce,CM,None,<NA>,NaN,NaN,NaN,NaN,NaN,0,0,2,NaN,NaN,NaN,0.070571,1.680,1.680,6.256,NaN,NaN,NaN,6.5,Mid 3rd Left,Mid 3rd Inside Left,74.968304,0,0,1,0,55.6,81.3,57.2,72.1,EVENT START,2,NaN,NaN,NaN,NaN,NaN,<NA>,None,None,NaN,None,None,0.0,0.0,Pass,OPP SET PIECES,OPP SET PIECES 1,SET PIECES,SET PIECES 1
7,7,2615642197,2409809,9138,Morocco U17,670,FIFA U17 World Cup,2023-11-10 09:00:00+00:00,9139,Panama U17,1,2023,Season 2023/2024,2615642197,5,1,1,First half,1699606891346,0,14,561057,0,2023-11-10 09:01:30.545000+00:00,"[{'id': '4645005945', 'qualifier_id': '56', 'v...",2023-11-10 09:01:31+00:00,4,1,9138,0,<NA>,<NA>,3,9139,1,14,3,4,1,1st Half,14,3a,45.9,19.8,0,0,0,0,0,0,Imran Nazih,CM,None,<NA>,NaN,NaN,NaN,NaN,NaN,0,0,1,NaN,NaN,NaN,0.253501,12.810,12.810,11.900,NaN,NaN,NaN,17.5,Mid 3rd Right,Mid 3rd Central,42.890910,0,0,1,0,45.9,19.8,58.1,37.3,EVENT START,2,NaN,NaN,NaN,NaN,NaN,<NA>,None,None,NaN,None,None,0.0,0.0,Pass,TRANSITION D-A,TRANSITION D-A 1,TRANSITION A-D,TRANSITION A-D 1
9,9,2615642233,2409809,9138,Morocco U17,670,FIFA U17 World Cup,2023-11-10 09:00:00+00:00,9139,Panama U17,1,2023,Season 2023/2024,2615642233,8,1,1,First half,1699606899261,0,18,641057,1,2023-11-10 09:01:34.170000+00:00,"[{'id': '4645006137', 'qualifier_id': '56', 'v...",2023-11-10 09:01:39+00:00,5,1,9139,0,<NA>,<NA>,4,9138,1,18,4,7,1,1st Half,18,4a,40.9,44.8,0,0,0,0,0,0,Jael Pierre,WNG,Manuel Romero,611471,NaN,NaN,NaN,NaN,NaN,0,0,1,NaN,NaN,NaN,-0.501678,-31.080,31.080,2.856,NaN,NaN,NaN,31.2,Mid 3rd Central,Def 3rd Central,-174.749727,0,0,6,5,40.9,44.8,11.3,40.6,EVENT START,2,NaN,NaN,NaN,NaN,NaN,<NA>,None,None,NaN,None,None,0.0,0.0,Pass,CREATE,CREATE 2,MID BLOCK,MID BLOCK 2
10,10,2615642241,2409809,9138,Morocco U17,670,FIFA U17 World Cup,2023-11-10 09:00:00+00:00,9139,Panama U17,1,2023,Season 2023/2024,2615642241,9,1,1,First half,1699606902077,0,23,611471,1,2023-11-10 09:01:39.258000+00:00,"[{'id': '4645006177', 'qualifier_id': '56', 'v...",2023-11-10 09:01:42+00:00,5,1,9139,0,<NA>,<NA>,5,9139,1,23,4,8,2,1st Half,23,4a,11.3,40.6,0,0,0,0,0,0,Manuel Romero,GK,Martín Krug,611490,NaN,NaN,NaN,NaN,NaN,0,0,2,11.3,40.6,NaN,0.101972,9.450,9.450,9.656,NaN,NaN,NaN,13.5,Def 3rd Central,Def 3rd Central,45.617736,0,0,6,5,11.3,40.6,20.3,54.8,EVENT START,2,NaN,NaN,NaN,NaN,NaN,<NA>,None,None,NaN,None,None,0.0,0.0,Pass,BUILD,BUILD 1,HIGH PRESS,HIGH PRESS 1
11,11,2615642255,2409809,9138,Morocco U17,670,FIFA U17 World Cup,2023-11-10 09:00:00+00:00,9139,Panama U17,1,2023,Season 2023/2024,2615642255,10,1,1,First half,1699606905246,0,25,611490,1,2023-11-10 09:01:42.740000+00:00,"[{'id': '4645006255', 'qualifier_id': '56', 'v...",2023-11-10 09:01:45+00:00,5,1,9139,0,<NA>,<NA>,5,9139,1,25,4,9,3,1st Half,25,4a,19.0,52.8,0,0,0,0,0,0,Martín Krug,CB,Érick Díaz,611483,20.3,54.8,NaN,NaN,NaN,0,0,3,20.3,54.8,-0.016311,0.008417,2.310,2.310,17.680,-1.365,1.365,1.360,17.8,Def 3rd Central,Def 3rd Inside Left,-82.556123,0,0,6,5,19.0,52.8,21.2,78.8,EVENT START,2,NaN,NaN,NaN,NaN,NaN,<NA>,None,None,NaN,None,None,0.0,0.0,Pass,BUILD,BUILD 1,HIGH PRESS,HIGH PRESS 1
13,13,2615642273,2409809,9138,Morocco U17,670,FIFA U17 World Cup,2023-11-10 09:00:00+00:00,9139,Panama U17,1,2023,Season 2023/2024,2615642273,11,1,1,First half,1699606910334,0,29,611483,1,2023-11-10 09:01:45.242000+00:00,"[{'id': '4645006357', 'qualifier_id': '56', 'v...",2023-11-10 09:01:50+00:00,5,1,9139,0,<NA>,<NA>,5,9139,1,29,4,10,4,1st Half,29,4a,21.6,78.4,0,0,0,0,0,0,Érick Díaz,CB,Manuel Romero,611471,NaN,NaN,NaN,NaN,NaN,0,0,4,21.2,78.8,NaN,-0.139642,-13.230,13.230,13.600,NaN,NaN,NaN,19.0,Def 3rd Inside Left,Def 3rd Central,134.209911,0,0,6,5,21.6,78.4,9.0,58.4,EVENT START,2,NaN,NaN,NaN,NaN,NaN,<NA>,None,None,NaN,None,None,0.0,0.0,Pass,BUILD,BUILD 1,HIGH PRESS,HIGH PRESS 1
15,15,2615642285,2409809,9138,Morocco U17,670,FIFA U17 World Cup,2023-11-10 09:00:00+00:00,9139,Panama U17,1,2023,Season 2023/2024,2615642285,12,1,1,First half,1699606913668,0,34,611471,1,2023-11-10 09:01:50.330000+00:00,"[{'id': '4645006425', 'qualifier_id': '56', 'v...",2023-11-10 09:01:53+00:00,5,1,9139,0,<NA>,<NA>,5,9139,1,34,4,11,5,1st Half,34,4a,8.3,55.3,0,0,0,0,0,0,Manuel Romero,GK,Martín Krug,611490,9.0,58.4,NaN,NaN,NaN,0,0,5,9.0,58.4,-0.007368,0.036536,3.570,3.570,9.996,-0.735,0.735,2.108,10.6,Def 3rd Central,Def 3rd Central,70.346176,0,0,6,5,8.3,55.3,11.7,40.6,EVENT START,2,NaN,NaN,NaN,NaN,NaN,<NA>,None,None,NaN,None,None,0.0,0.0,Pass,BUILD,BUILD 1,HIGH PRESS,HIGH PRESS 1

In [221]:
filt_evented_pre_pre_events.groupby(by = ['event_period_id'])['gameClock'].min()

event_period_id
1       0
2    2700
Name: gameClock, dtype: Int64

In [222]:
filt_evented_pre_pre_events[(filt_evented_pre_pre_events['game_away_team_name'].str.contains('Ireland')) |  (filt_evented_pre_pre_events['game_home_team_name'].str.contains('Ireland'))]['game_id'].unique()

<IntegerArray>
[2609011, 2556999, 2557001, 2608977, 2557002, 2441364]
Length: 6, dtype: Int64

In [223]:
import pandas as pd
import warnings

# Define the long_or_switch function
def long_or_switch(row):
    description_pass = ''
    
    if row['vertical_pass_distance'] > 25 and row['horizontal_pass_distance'] > 35:
        description_pass = "Long and Switch"
    elif row['vertical_pass_distance'] > 25:
        description_pass = "Long"
    elif row['horizontal_pass_distance'] > 35:
        description_pass = "Switch"
    else:
        description_pass = ''

    return description_pass

# Define the timings_for_create function
def timings_for_create(pre_pre_events, game_id, half, label, team_id, start_time, end_time):

    if int(half) == 2:
        start_time = start_time + 2700
        end_time = end_time + 2700

    if start_time == end_time:
        pre_pre_events_filtered = pre_pre_events[(pre_pre_events['game_id'] == game_id) & 
                                            (pre_pre_events['event_team_id'] == team_id) & 
                                             (pre_pre_events['gameClock'] == start_time)]
    else:
        pre_pre_events_filtered = pre_pre_events[(pre_pre_events['game_id'] == game_id) & 
                                            (pre_pre_events['event_team_id'] == team_id) & 
                                             (pre_pre_events['gameClock'] >= start_time) & 
                                             (pre_pre_events['gameClock'] < end_time)]
    
    pre_pre_events_filtered_s = pre_pre_events_filtered[['game_id', 'event_team_id', 'gameClock', 'event_outcome',
                                                         'pass_start_pitch_zone', 'pass_end_pitch_zone', 
                                                         'vertical_pass_distance', 'horizontal_pass_distance']]

    
    # Apply the long_or_switch function to each row
    pre_pre_events_filtered_s['description_pass'] = pre_pre_events_filtered_s.apply(lambda row: long_or_switch(row), axis=1)
    pre_pre_events_filtered_s['description_pass'] = pre_pre_events_filtered_s['description_pass'].astype(str)
    
    long_passes = len(pre_pre_events_filtered_s[pre_pre_events_filtered_s['description_pass'].str.contains('Long')])
    switch_passes = len(pre_pre_events_filtered_s[pre_pre_events_filtered_s['description_pass'].str.contains('Switch')])

    start_zones = list(map(lambda row: str(row).replace('Final 3rd ', '').replace('Mid 3rd ', '').replace('Def 3rd ', ''), 
                           pre_pre_events_filtered_s['pass_start_pitch_zone'].unique()))
    end_zones = list(map(lambda row: str(row).replace('Final 3rd ', '').replace('Mid 3rd ', '').replace('Def 3rd ', ''), 
                         pre_pre_events_filtered_s['pass_end_pitch_zone'].unique()))
    
    zones = list(filter(lambda a: a is not None, list(set(start_zones + end_zones))))

    inside_left = 0
    inside_right = 0
    side_left = 0
    side_right = 0
    central = 0
    
    for any_zone in zones:
        if 'Inside Left' in any_zone:
            inside_left += 1
        elif 'Inside Right' in any_zone:
            inside_right += 1
        elif 'Left' in any_zone:
            side_left += 1
        elif 'Right' in any_zone:
            side_right += 1
        elif 'Central' in any_zone:
            central += 1

    vertical_distance = pre_pre_events_filtered_s['vertical_pass_distance'].sum()
    horizontal_pass_distance = pre_pre_events_filtered_s['horizontal_pass_distance'].sum()
    event_outcome_sum = pre_pre_events_filtered_s['event_outcome'].sum()

    pre_pre_events_filtered_s['label'] = label
    pre_pre_events_filtered_s['team_phase_id'] = team_id
    
    outcome_df = pre_pre_events_filtered_s.groupby(by=['game_id','team_phase_id','label'])[['vertical_pass_distance', 'horizontal_pass_distance', 'event_outcome']].sum().reset_index()
    
    outcome_df['n_of_events'] = len(pre_pre_events_filtered_s)
    
    outcome_df['half'] = half
    outcome_df['start_time'] = start_time
    outcome_df['end_time'] = end_time
    
    outcome_df['left'] = side_left
    outcome_df['inside_left'] = inside_left
    outcome_df['central'] = central
    outcome_df['inside_right'] = inside_right
    outcome_df['right'] = side_right
    outcome_df['long_passes'] = long_passes
    outcome_df['switch_passes'] = switch_passes

    return outcome_df


# Assuming albania_phases DataFrame is already created and pandas is imported
albania_phases = albania_phases.drop_duplicates()

with warnings.catch_warnings():
    warnings.simplefilter("ignore")
    
    # Filter the create phases
    check_phases = albania_phases[albania_phases['phase'].isin(['BUILD','CREATE','FINISH'])]
    
    # Apply the timings_for_create function to each row in the create phases
    updated_check_phases_zones = check_phases.apply(lambda row: timings_for_create(filt_evented_pre_pre_events, row['game_id'], row['half'], row['label'], row['team_id'], row['start_time'], row['end_time']), axis=1)
    concatenated_df = pd.concat(updated_check_phases_zones.to_list()).reset_index(drop=True).drop_duplicates()
    
display_all(concatenated_df.head(20))

,game_id,team_phase_id,label,vertical_pass_distance,horizontal_pass_distance,event_outcome,n_of_events,half,start_time,end_time,left,inside_left,central,inside_right,right,long_passes,switch_passes
0,2411546,9459,BUILD 1,26.670,74.392,6,6,1,27.835,51.947,1,1,1,1,1,0,0
1,2411547,9459,BUILD 1,6.825,11.628,1,1,1,250.544,258.560,1,0,0,0,0,0,0
2,2411548,9459,BUILD 1,29.925,43.860,1,2,1,26.174,37.743,1,0,0,1,0,1,1
3,2411548,9459,BUILD 10,39.795,41.276,4,4,1,1200.850,1221.399,0,1,1,1,0,0,0
4,2411547,9459,BUILD 10,19.950,4.896,1,2,1,1987.196,1989.996,0,0,0,0,1,0,0
5,2411546,9459,BUILD 11,66.570,70.652,3,4,1,961.621,985.087,0,1,0,1,0,1,0
6,2411547,9459,BUILD 11,12.600,4.284,1,1,1,2010.908,2020.252,0,0,1,0,0,0,0
7,2411548,9459,BUILD 11,70.980,67.932,4,4,1,1460.469,1474.564,1,1,1,0,0,1,0
8,2411546,9459,BUILD 12,5.250,40.256,2,3,1,1020.453,1037.487,0,1,1,1,0,0,0
9,2411547,9459,BUILD 12,52.500,60.792,5,6,1,2062.637,2090.374,0,0,1,1,1,0,0
10,2411548,9459,BUILD 12,27.825,57.596,4,4,1,2220.496,2237.455,0,1,1,1,1,0,0
11,2411548,9459,BUILD 13,16.905,80.444,5,5,1,2289.600,2316.656,1,1,1,1,0,0,0
12,2411546,9459,BUILD 13,0.945,25.772,1,1,1,1163.763,1167.667,0,1,0,1,0,0,0
13,2411547,9459,BUILD 13,70.245,22.508,0,2,1,2118.302,2128.558,0,1,1,1,0,1,0
14,2411546,9459,BUILD 14,60.060,28.832,3,4,1,1305.539,1318.178,0,1,1,1,0,1,0
15,2411548,9459,BUILD 14,9.660,17.816,2,2,1,2381.358,2390.367,0,1,1,1,0,0,0
16,2411546,9459,BUILD 15,13.230,19.380,1,2,1,1382.020,1387.010,1,1,0,0,0,0,0
17,2411547,9459,BUILD 15,32.025,2.720,2,2,1,2492.344,2499.400,1,0,0,0,0,1,0
18,2411548,9459,BUILD 15,16.905,30.328,2,3,1,2610.317,2632.061,0,1,1,1,1,0,0
19,2411547,9459,BUILD 16,11.550,11.152,1,1,1,2511.577,2541.989,1,1,0,0,0,0,0

In [224]:
# Define the description_of_create_phase function
def description_of_create_phase(row):
    if row['long_passes'] >= 1:
        return 'Into / Onto'
    elif row['switch_passes'] >= 1:
        return 'Switch'
    elif len(list(filter(lambda item: item > 0, [row['left'], row['inside_left'], row['central'], row['right'], row['inside_right']]))) >= 4:
        return 'Around'
    else:
        return 'Through'
    
# Apply the description_of_create_phase function to each row and assign the result to a new column
concatenated_df['phase_description'] = concatenated_df.apply(lambda row: description_of_create_phase(row), axis=1)

# Reset the index
concatenated_df = concatenated_df.reset_index(drop=True)

# Display the DataFrame
display_all(concatenated_df.sort_values(by = ['game_id','start_time']).head(10))

,game_id,team_phase_id,label,vertical_pass_distance,horizontal_pass_distance,event_outcome,n_of_events,half,start_time,end_time,left,inside_left,central,inside_right,right,long_passes,switch_passes,phase_description
5648,2200777,9459,CREATE 1,36.120,31.076,2,3,1,0.538,9.079,1,0,1,0,0,1,0,Into / Onto
5657,2200777,9459,CREATE 2,110.565,120.972,6,7,1,11.365,37.157,1,1,1,0,1,2,1,Into / Onto
5733,2200777,18187,BUILD 1,0.000,0.000,1,1,1,61.245,65.859,0,1,0,0,0,0,0,Through
5766,2200777,18187,CREATE 1,1.785,0.408,0,1,1,65.859,70.148,0,1,0,0,0,0,0,Through
5666,2200777,9459,CREATE 3,64.575,86.496,6,6,1,70.148,88.941,1,1,1,0,1,1,1,Into / Onto
5711,2200777,9459,FINISH 1,58.590,50.864,6,6,1,88.941,101.493,0,0,1,2,1,0,0,Through
5675,2200777,9459,CREATE 4,38.325,54.876,3,4,1,101.493,118.764,0,0,1,1,1,0,0,Through
5602,2200777,9459,BUILD 1,49.245,64.192,3,4,1,139.876,153.004,1,1,1,1,1,0,0,Around
5612,2200777,9459,BUILD 2,109.725,58.616,3,5,1,190.068,208.996,1,1,0,0,0,2,0,Into / Onto
5739,2200777,18187,BUILD 2,22.365,3.808,0,1,1,238.794,242.778,0,0,0,0,1,0,0,Through

In [225]:
concatenated_df[concatenated_df['game_id'].isin([2354433, 2354487, 2507730])].groupby(by = ['game_id']).count()

Empty DataFrame
Columns: [team_phase_id, label, vertical_pass_distance, horizontal_pass_distance, event_outcome, n_of_events, half, start_time, end_time, left, inside_left, central, inside_right, right, long_passes, switch_passes, phase_description]
Index: []

In [226]:
concatenated_df.groupby(by = ['game_id']).count()

,team_phase_id,label,vertical_pass_distance,horizontal_pass_distance,event_outcome,n_of_events,half,start_time,end_time,left,inside_left,central,inside_right,right,long_passes,switch_passes,phase_description
game_id,,,,,,,,,,,,,,,,,
2200777,213,213,213,213,213,213,213,213,213,213,213,213,213,213,213,213,213
2245009,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230,230
2256819,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205
2256820,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202
2258557,188,188,188,188,188,188,188,188,188,188,188,188,188,188,188,188,188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2609007,219,219,219,219,219,219,219,219,219,219,219,219,219,219,219,219,219
2609008,178,178,178,178,178,178,178,178,178,178,178,178,178,178,178,178,178
2609009,212,212,212,212,212,212,212,212,212,212,212,212,212,212,212,212,212
2609010,207,207,207,207,207,207,207,207,207,207,207,207,207,207,207,207,207
2609011,206,206,206,206,206,206,206,206,206,206,206,206,206,206,206,206,206

In [227]:
# Assuming df_events is your DataFrame

game_info = pre_pre_events[['game_id','game_home_team_id','game_home_team_name','game_away_team_name']].drop_duplicates()

concatenated_df_j = pd.merge(concatenated_df, game_info, on = ['game_id'])

concatenated_df_j['event_team_name'] = concatenated_df_j.apply(
    lambda row: row['game_home_team_name'] if row['game_home_team_id'] == row['team_phase_id'] else row['game_away_team_name'],
    axis=1
)
concatenated_df_j['against_team_name'] = concatenated_df_j.apply(
    lambda row: row['game_away_team_name'] if row['game_home_team_id'] == row['team_phase_id'] else row['game_home_team_name'],
    axis=1
)

concatenated_df_j = concatenated_df_j.drop(columns = {'game_home_team_id','game_home_team_name','game_away_team_name'})
albania_phases_add_info = albania_phases[['game_id','team_id','half','label','phase','time_diff']].drop_duplicates().rename(columns = {'team_id':'team_phase_id'})

concatenated_df_jj = pd.merge(concatenated_df_j, albania_phases_add_info, on = ['game_id','half','team_phase_id','label'])
concatenated_df_jjj = concatenated_df_jj[concatenated_df_jj['phase'].isin(['BUILD','CREATE','FINISH'])]
concatenated_df_jjj = concatenated_df_jjj.rename(columns = {'label':'create_phase_label'})

display_all(concatenated_df_jjj.sort_values(by = ['game_id','start_time']).head(10))

,game_id,team_phase_id,create_phase_label,vertical_pass_distance,horizontal_pass_distance,event_outcome,n_of_events,half,start_time,end_time,left,inside_left,central,inside_right,right,long_passes,switch_passes,phase_description,event_team_name,against_team_name,phase,time_diff
5648,2200777,9459,CREATE 1,36.120,31.076,2,3,1,0.538,9.079,1,0,1,0,0,1,0,Into / Onto,England U18,Wales U18,CREATE,8.541
5657,2200777,9459,CREATE 2,110.565,120.972,6,7,1,11.365,37.157,1,1,1,0,1,2,1,Into / Onto,England U18,Wales U18,CREATE,25.792
5733,2200777,18187,BUILD 1,0.000,0.000,1,1,1,61.245,65.859,0,1,0,0,0,0,0,Through,Wales U18,England U18,BUILD,4.614
5766,2200777,18187,CREATE 1,1.785,0.408,0,1,1,65.859,70.148,0,1,0,0,0,0,0,Through,Wales U18,England U18,CREATE,4.289
5666,2200777,9459,CREATE 3,64.575,86.496,6,6,1,70.148,88.941,1,1,1,0,1,1,1,Into / Onto,England U18,Wales U18,CREATE,18.793
5711,2200777,9459,FINISH 1,58.590,50.864,6,6,1,88.941,101.493,0,0,1,2,1,0,0,Through,England U18,Wales U18,FINISH,12.552
5675,2200777,9459,CREATE 4,38.325,54.876,3,4,1,101.493,118.764,0,0,1,1,1,0,0,Through,England U18,Wales U18,CREATE,17.271
5602,2200777,9459,BUILD 1,49.245,64.192,3,4,1,139.876,153.004,1,1,1,1,1,0,0,Around,England U18,Wales U18,BUILD,13.128
5612,2200777,9459,BUILD 2,109.725,58.616,3,5,1,190.068,208.996,1,1,0,0,0,2,0,Into / Onto,England U18,Wales U18,BUILD,18.928
5739,2200777,18187,BUILD 2,22.365,3.808,0,1,1,238.794,242.778,0,0,0,0,1,0,0,Through,Wales U18,England U18,BUILD,3.984

In [228]:
concatenated_df_jjj[['game_id','team_phase_id','phase','create_phase_label','time_diff']].drop_duplicates().groupby(by = ['game_id','team_phase_id','phase'])['time_diff'].sum()

game_id  team_phase_id  phase
2200777  9459           BUILD      614.164
                        CREATE    1017.954
                        FINISH     430.967
         18187          BUILD      338.170
                        CREATE     469.936
                                    ...
2609011  9399           CREATE     425.011
                        FINISH     417.349
         9896           BUILD      297.419
                        CREATE     635.057
                        FINISH     424.574
Name: time_diff, Length: 1254, dtype: float64

In [229]:
concatenated_df_jjj.groupby(by = ['game_id','team_phase_id','phase_description']).count()

                                         create_phase_label  \
game_id team_phase_id phase_description
2200777 9459          Around                             19
                      Into / Onto                        39
                      Switch                              7
                      Through                            66
        18187         Around                              2
...                                                     ...
2609011 9399          Through                            63
        9896          Around                             16
                      Into / Onto                        19
                      Switch                              5
                      Through                            71

                                         vertical_pass_distance  \
game_id team_phase_id phase_description
2200777 9459          Around                                 19
                      Into / Onto                            39
                      Switch                                  7
                      Through                                66
        18187         Around                                  2
...                                                         ...
2609011 9399          Through                                63
        9896          Around                                 16
                      Into / Onto                            19
                      Switch                                  5
                      Through                                71

                                         horizontal_pass_distance  \
game_id team_phase_id phase_description
2200777 9459          Around                                   19
                      Into / Onto                              39
                      Switch                                    7
                      Through                                  66
        18187         Around                                    2
...                                                           ...
2609011 9399          Through                                  63
        9896          Around                                   16
                      Into / Onto                              19
                      Switch                                    5
                      Through                                  71

                                         event_outcome  n_of_events  half  \
game_id team_phase_id phase_description
2200777 9459          Around                        19           19    19
                      Into / Onto                   39           39    39
                      Switch                         7            7     7
                      Through                       66           66    66
        18187         Around                         2            2     2
...                                                ...          ...   ...
2609011 9399          Through                       63           63    63
        9896          Around                        16           16    16
                      Into / Onto                   19           19    19
                      Switch                         5            5     5
                      Through                       71           71    71

                                         start_time  end_time  left  \
game_id team_phase_id phase_description
2200777 9459          Around                     19        19    19
                      Into / Onto                39        39    39
                      Switch                      7         7     7
                      Through                    66        66    66
        18187         Around                      2         2     2
...                                             ...       ...   ...
2609011 9399          Through                    63        63    63
        9896          Around                     16        16    16
                      Into / Onto                19        19    19
                      Switch                      5         5     5
                      Through                    71        71    71

                                         inside_left  central  inside_right  \
game_id team_phase_id phase_description
2200777 9459          Around                      19       19            19
                      Into / Onto                 39       39            39
                      Switch                       7        7             7
                      Through                     66       66            66
        18187         Around                       2        2             2
...                                              ...      ...           ...
2609011 9399          Through                     63       63            63
        9896          Around                      16       16            16
                      Into / Onto                 19       19            19
                      Switch                       5        5             5
                      Through                     71       71            71

                                         right  long_passes  switch_passes  \
game_id team_phase_id phase_description
2200777 9459          Around                19           19             19
                      Into / Onto           39           39             39
                      Switch                 7            7              7
                      Through               66           66             66
        18187         Around                 2            2              2
...                                        ...          ...            ...
2609011 9399          Through               63           63             63
        9896          Around                16           16             16
                      Into / Onto           19           19             19
                      Switch                 5            5              5
                      Through               71           71             71

                                         event_team_name  against_team_name  \
game_id team_phase_id phase_description
2200777 9459          Around                          19                 19
                      Into / Onto                     39                 39
                      Switch                           7                  7
                      Through                         66                 66
        18187         Around                           2                  2
...                                                  ...                ...
2609011 9399          Through                         63                 63
        9896          Around                          16                 16
                      Into / Onto                     19                 19
                      Switch                           5                  5
                      Through                         71                 71

                                         phase  time_diff
game_id team_phase_id phase_description
2200777 9459          Around                19         19
                      Into / Onto           39         39
                      Switch                 7          7
                      Through               66         66
        18187         Around                 2          2
...                                        ...        ...
2609011 9399          Through               63         63
        9896          Around                16         16
                      Into / Onto           19         19
                      Switch                 5          5
                      Through               71         71

[1640 rows x 19 columns]

In [230]:
import pandas as pd

def mark_phases(df):
    df['previous_phase'] = None
    df['entering_phase'] = None
    df['event_team_name'] = None
    df['entering_phase_label'] = None
    df['event_team_name'] = None
    df['against_team_name'] = None
    
    for i in range(1, len(df)):
        if df.loc[i, 'possession_id'] == df.loc[i-1, 'possession_id']:
            if df.loc[i, 'event_team_id'] == df.loc[i, 'game_home_team_id']:
                if df.loc[i, 'home_team_phases'] != df.loc[i-1, 'home_team_phases']:
                    df.loc[i-1, 'entering_phase'] = df.loc[i, 'home_team_phases']
                    df.loc[i-1, 'entering_phase_label'] = df.loc[i, 'home_team_phases_label']
                    df.loc[i-1, 'previous_phase_label'] = df.loc[i-1, 'home_team_phases_label']
                    df.loc[i-1, 'previous_phase'] = df.loc[i-1, 'home_team_phases']
                    df.loc[i-1, 'event_team_name'] = df.loc[i-1, 'game_home_team_name']
                    df.loc[i-1, 'against_team_name'] = df.loc[i-1, 'game_away_team_name']
            elif df.loc[i, 'event_team_id'] == df.loc[i, 'game_away_team_id']:
                if df.loc[i, 'away_team_phases'] != df.loc[i-1, 'away_team_phases']:
                    df.loc[i-1, 'entering_phase'] = df.loc[i, 'away_team_phases']
                    df.loc[i-1, 'entering_phase_label'] = df.loc[i, 'away_team_phases_label']
                    df.loc[i-1, 'previous_phase_label'] = df.loc[i-1, 'away_team_phases_label']
                    df.loc[i-1, 'previous_phase'] = df.loc[i-1, 'away_team_phases']
                    df.loc[i-1, 'event_team_name'] = df.loc[i-1, 'game_away_team_name']
                    df.loc[i-1, 'against_team_name'] = df.loc[i-1, 'game_home_team_name']
    
    return df
            
def create_end_zone(end_x, end_y):
    if end_x <= 33.33:
        x_zone = 'Def 3rd'
    elif end_x <= 66.67:
        x_zone = 'Mid 3rd'
    else:
        x_zone = 'Final 3rd'
        
    if end_y <= 20:
        y_zone = 'Right'
    elif end_y <= 40:
        y_zone = 'Inside Right'
    elif end_y <= 60:
        y_zone = 'Central'
    elif end_y <= 80:
        y_zone = 'Inside Left'
    else:
        y_zone = 'Left'
    
    return f'{x_zone} {y_zone}'

def evaluate_phase_change(pre_df):
    final_out = pd.DataFrame()
    game_ids = pre_df.game_id.unique()

    for game_id in game_ids:
        df = pre_df[pre_df['game_id'] == game_id].sort_values(by=['game_id', 'gameClock', 'path']).reset_index(drop=True)
        df['long_or_switch_flag'] = ''
        df['through_around_flag'] = ''
        df['check_type'] = ''

        if df.empty:
            continue  # Skip if the DataFrame is empty

        for i in range(len(df)):
            team_id = df.iloc[i]['event_team_id']  # Use .iloc for positional indexing
            
            if df.iloc[i]['EVENT'] in ['EVENT START', 'CARRY START', 'PASS END']:
                start_zone = df.iloc[i]['pass_start_pitch_zone']
                if df.iloc[i]['EVENT'] == 'CARRY START' or (df.iloc[i]['event_type_name'] == 'Take On'):
                    end_zone = create_end_zone(df.iloc[i]['end_x'], df.iloc[i]['end_y'])
                    df.at[i, 'pass_end_pitch_zone'] = end_zone
                else:
                    end_zone = df.iloc[i]['pass_end_pitch_zone']
                    
                df.at[i, 'check_type'] = 'Regular'

                if pd.isnull(start_zone) or pd.isnull(end_zone):
                    # Handle PassEnd_BallRecovery
                    if (df.iloc[i]['EVENT'] == 'PASS_END') or (df.iloc[i]['event_type_name'] == 'Ball Recovery') and i + 1 < len(df):
                        for k in range(i + 1, len(df)):
                            next_event = df.iloc[k]
                            if next_event['event_team_id'] == df.iloc[i]['event_team_id'] and next_event['EVENT'] == 'EVENT START':
                                df.at[i, 'end_x'] = next_event['event_x']
                                df.at[i, 'end_y'] = next_event['event_y']
                                df.at[i, 'vertical_pass_distance'] = df.at[i, 'end_x'] - df.at[i, 'event_x']
                                df.at[i, 'horizontal_pass_distance'] = df.at[i, 'end_y'] - df.at[i, 'event_y']
                                end_zone = create_end_zone(next_event['event_x'], next_event['event_y'])
                                df.at[i, 'pass_end_pitch_zone'] = end_zone
                                break
                        df.at[i, 'check_type'] = 'PassEnd_BallRecovery'
                    
                    # Other checks follow (Out, No Out, etc.), similar to your original logic
                
                # Flagging long or switch passes
                long_pass = df.at[i, 'vertical_pass_distance'] >= 25
                switch_pass = df.at[i, 'horizontal_pass_distance'] >= 35

                if long_pass and switch_pass:
                    df.at[i, 'long_or_switch_flag'] = 'Long / Switch'
                elif long_pass:
                    df.at[i, 'long_or_switch_flag'] = 'Long'
                elif switch_pass:
                    df.at[i, 'long_or_switch_flag'] = 'Switch'
                    
                # Flagging through/around passes
                if pd.isnull(start_zone) or pd.isnull(end_zone):
                    df.at[i, 'through_around_flag'] = 'Error'
                else:
                    if 'Inside' in start_zone:
                        if 'Penalty Box' not in end_zone and 'Centr' not in end_zone and 'Inside' not in end_zone:
                            df.at[i, 'through_around_flag'] = 'Around'
                        elif 'Penalty Box' in end_zone or 'Centr' in end_zone or 'Inside' in end_zone:
                            df.at[i, 'through_around_flag'] = 'Through Inside'
                    elif 'Centr' in start_zone or 'Penalty Box' in start_zone:
                        if 'Penalty Box' not in end_zone and 'Centr' not in end_zone and 'Inside' not in end_zone:
                            df.at[i, 'through_around_flag'] = 'Through Inside - Outside'
                        elif 'Penalty Box' in end_zone or 'Centr' in end_zone or 'Inside' in end_zone:
                            df.at[i, 'through_around_flag'] = 'Through Inside'
                    elif 'Penalty Box' not in start_zone and 'Inside' not in start_zone and 'Centr' not in start_zone:
                        if 'Penalty Box' not in end_zone and 'Centr' not in end_zone and 'Inside' not in end_zone:
                            df.at[i, 'through_around_flag'] = 'Around'
                        elif 'Penalty Box' in end_zone or 'Centr' in end_zone or 'Inside' in end_zone:
                            df.at[i, 'through_around_flag'] = 'Through Outside - Inside'

        final_out = pd.concat([final_out, df], axis=0).reset_index(drop=True)
    
    return final_out

# Example Usage
pre_events_marked = mark_phases(pre_pre_events)  

pre_events = evaluate_phase_change(pre_events_marked)

pre_events_marked.groupby(by = ['entering_phase']).count()

,index,id,game_id,game_away_team_id,game_away_team_name,game_competition_id,game_competition_name,game_game_date,game_home_team_id,game_home_team_name,...,event_type_name,home_team_phases,home_team_phases_label,away_team_phases,away_team_phases_label,previous_phase,event_team_name,entering_phase_label,against_team_name,previous_phase_label
entering_phase,,,,,,,,,,,,,,,,,,,,,
BUILD,11114,11114,11114,11114,11114,11114,11114,11114,11114,11114,...,11114,8512,8512,8528,8528,8528,11114,11114,11114,8528
CREATE,16968,16968,16968,16968,16968,16968,16968,16968,16968,16968,...,16968,11782,11782,11815,11815,11815,16968,16968,16968,11815
FINISH,8245,8245,8245,8245,8245,8245,8245,8245,8245,8245,...,8245,4918,4918,4956,4956,4955,8245,8245,8245,4955
HIGH PRESS,152,152,152,152,152,152,152,152,152,152,...,152,140,140,141,141,140,152,152,152,140
LOW BLOCK,364,364,364,364,364,364,364,364,364,364,...,364,325,325,325,325,325,364,364,364,325
MID BLOCK,397,397,397,397,397,397,397,397,397,397,...,397,375,375,376,376,375,397,397,397,375
OPP SET PIECES,328,328,328,328,328,328,328,328,328,328,...,328,312,312,312,312,312,328,328,328,312
SET PIECES,2221,2221,2221,2221,2221,2221,2221,2221,2221,2221,...,2221,1847,1847,1851,1851,1850,2221,2221,2221,1850
TRANSITION A-D,273,273,273,273,273,273,273,273,273,273,...,273,267,267,267,267,267,273,273,273,267
TRANSITION D-A,10028,10028,10028,10028,10028,10028,10028,10028,10028,10028,...,10028,9905,9905,9908,9908,9908,10028,10028,10028,9908

In [231]:

# Filter rows where previous_phase and entering_phase are 'BUILD', 'CREATE', or 'FINISH'
valid_phases = ['BUILD', 'CREATE', 'FINISH']

phase_changes = pre_events[(pre_events['previous_phase'].isin(valid_phases)) & 
                           (pre_events['entering_phase'].isin(valid_phases))]

# Create the new DataFrame with specified columns
new_df = phase_changes[['game_id', 'event_id', 'game_home_team_name', 'game_away_team_name', 
                        'event_team_name', 'gameClock', 'event_period_id','event_min', 'event_sec', 'possession_id', 
                        'Player', 'receiver', 'EVENT', 'event_x', 'event_y', 'end_x', 'end_y', 
                        'vertical_carry_distance', 'horizontal_carry_distance', 'pass_distance', 
                        'pass_start_pitch_zone', 'pass_end_pitch_zone', 'event_type_name', 'previous_phase', 
                        'previous_phase_label', 'entering_phase','entering_phase_label', 'long_or_switch_flag', 'through_around_flag','check_type']]

# Fix event_type_name and phase_switch_mode
new_df['phase_switch_mode'] = new_df.apply(
    lambda row: f"Carry - {row['through_around_flag']}" if 'CARRY' in row['EVENT'] 
    else row['long_or_switch_flag'] if row['long_or_switch_flag'] != ''
    else row['through_around_flag'], axis=1
)

new_df['phase_change'] = new_df['previous_phase'] + ' - ' + new_df['entering_phase'] 

new_df['event_type_name'] = new_df.apply(
    lambda row: 'Carry' if 'CARRY' in row['EVENT'] else row['event_type_name'], axis=1
)

# Add progression_flag column
new_df['progression_flag'] = new_df.apply(
    lambda row: 'Progression' if (row['previous_phase'] == 'BUILD' and row['entering_phase'] in ['CREATE', 'FINISH']) 
                                 or (row['previous_phase'] == 'CREATE' and row['entering_phase'] == 'FINISH') 
    else 'Regression', axis=1
)

new_df_f = new_df[~new_df['event_type_name'].isin(['Card','Out','Ball Touch'])]#.drop(columns = {'EVENT'})

# Display the first few rows of the new DataFrame
display_all(new_df_f.groupby(by = ['event_type_name']).count())

/var/folders/2m/31gtyphx2h3fz_nycnfgx60c0000gp/T/ipykernel_23352/793366029.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['phase_switch_mode'] = new_df.apply(
/var/folders/2m/31gtyphx2h3fz_nycnfgx60c0000gp/T/ipykernel_23352/793366029.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['phase_change'] = new_df['previous_phase'] + ' - ' + new_df['entering_phase']
/var/folders/2m/31gtyphx2h3fz_nycnfgx60c0000gp/T/ipykernel_23352/793366029.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['event_type_name'] = new_df.apply(
/var/folders/2m/31gtyphx2h3fz_nycnfgx60c0000gp/T/ipykernel_23352/793366029.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['progression_flag'] = new_df.apply(

,game_id,event_id,game_home_team_name,game_away_team_name,event_team_name,gameClock,event_period_id,event_min,event_sec,possession_id,Player,receiver,EVENT,event_x,event_y,end_x,end_y,vertical_carry_distance,horizontal_carry_distance,pass_distance,pass_start_pitch_zone,pass_end_pitch_zone,previous_phase,previous_phase_label,entering_phase,entering_phase_label,long_or_switch_flag,through_around_flag,check_type,phase_switch_mode,phase_change,progression_flag
event_type_name,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Aerial,262,262,262,262,262,262,262,262,262,262,262,0,262,262,262,0,0,0,0,0,262,0,262,262,262,262,262,262,262,262,262,262
Attempt Saved,64,64,64,64,64,64,64,64,64,64,64,0,64,64,64,0,0,31,31,0,64,0,64,64,64,64,64,64,64,64,64,64
Attempted Tackle,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,0,0,0,0,0,1,0,1,1,1,1,1,1,1,1,1,1
Ball Recovery,68,68,68,68,68,68,68,68,68,68,68,0,68,68,68,68,68,10,10,0,68,68,68,68,68,68,68,68,68,68,68,68
Blocked Pass,13,13,13,13,13,13,13,13,13,13,13,0,13,13,13,0,0,0,0,0,13,0,13,13,13,13,13,13,13,13,13,13
Carry,3067,3067,3067,3067,3067,3067,3067,3067,3067,3067,3064,2414,3067,3067,3067,3067,3067,3067,3067,2729,3067,3067,3067,3067,3067,3067,3067,3067,3067,3067,3067,3067
Clearance,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1
Corner Awarded,20,20,20,20,20,20,20,20,20,20,20,0,20,20,20,0,0,0,0,0,20,0,20,20,20,20,20,20,20,20,20,20
Coverage Interruption,1,1,1,1,1,1,1,1,1,1,0,0,1,1,1,0,0,1,1,0,1,0,1,1,1,1,1,1,1,1,1,1
Dispossessed,45,45,45,45,45,45,45,45,45,45,45,0,45,45,45,0,0,33,33,0,45,0,45,45,45,45,45,45,45,45,45,45
Drop of Ball,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,0,0,0,0,0,1,0,1,1,1,1,1,1,1,1,1,1
Foul,37,37,37,37,37,37,37,37,37,37,36,0,37,37,37,0,0,15,15,0,37,0,37,37,37,37,37,37,37,37,37,37
Goal,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,0,0,0,0,0,1,0,1,1,1,1,1,1,1,1,1,1
Interception,3,3,3,3,3,3,3,3,3,3,3,0,3,3,3,0,0,0,0,0,3,0,3,3,3,3,3,3,3,3,3,3
Keeper Pick-up,10,10,10,10,10,10,10,10,10,10,10,0,10,10,10,0,0,0,0,0,10,0,10,10,10,10,10,10,10,10,10,10
Keeper Sweeper,2,2,2,2,2,2,2,2,2,2,2,0,2,2,2,0,0,1,1,0,2,0,2,2,2,2,2,2,2,2,2,2
Miss,9,9,9,9,9,9,9,9,9,9,9,0,9,9,9,0,0,1,1,0,9,0,9,9,9,9,9,9,9,9,9,9
Pass,6489,6489,6489,6489,6489,6489,6489,6489,6489,6489,6481,5323,6489,6489,6489,6489,6489,3032,3032,6489,6489,6489,6489,6489,6489,6489,6489,6489,6489,6489,6489,6489
Player Off,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,0,0,0,0,0,1,0,1,1,1,1,1,1,1,1,1,1
Player On,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,0,0,0,0,0,1,0,1,1,1,1,1,1,1,1,1,1
Post,2,2,2,2,2,2,2,2,2,2,2,0,2,2,2,0,0,1,1,0,2,0,2,2,2,2,2,2,2,2,2,2
Save,2,2,2,2,2,2,2,2,2,2,2,0,2,2,2,0,0,0,0,0,2,0,2,2,2,2,2,2,2,2,2,2
Start Delay,2,2,2,2,2,2,2,2,2,2,0,0,2,2,2,0,0,1,1,0,2,0,2,2,2,2,2,2,2,2,2,2
Tackle,3,3,3,3,3,3,3,3,3,3,3,0,3,3,3,0,0,0,0,0,3,0,3,3,3,3,3,3,3,3,3,3
Take On,319,319,319,319,319,319,319,319,319,319,319,0,319,319,319,0,0,209,209,0,319,319,319,319,319,319,319,319,319,319,319,319

In [232]:
def clean_df_after_pivot(df):

    df.columns = ['_'.join(col).strip() if isinstance(col, tuple) else col for col in df.columns.values]

    for col in df.columns:
        if col[-1] == '_':
            df = df.rename(columns = {col: col[:-1]})
        elif 'phase_switch_mode_' in col:
            df = df.rename(columns = {col: col.replace('phase_switch_mode_','').replace(' - ','_')})
        elif ('event_x' in col) or ('event_y' in col) or ('end_x' in col) or ('end_y' in col)  :
            df = df.rename(columns = {col: col.replace(' - ','_')})
       
    return df
    
def pivot_operation(df,col):

    previous_phases = new_df_f[['game_id','event_team_name',col,'phase_switch_mode','phase_change','event_x','event_y','end_x','end_y']].drop_duplicates()

    pivoted_previous_phases = clean_df_after_pivot(pd.pivot_table(previous_phases, index = ['game_id','event_team_name',col], columns = ['phase_change'], values = ['phase_switch_mode'], aggfunc = 'last').reset_index())
    event_x_pivoted_previous_phases = clean_df_after_pivot(pd.pivot_table(previous_phases, index = ['game_id','event_team_name',col], columns = ['phase_change'], values = ['event_x'], aggfunc = 'last').reset_index())
    event_y_pivoted_previous_phases = clean_df_after_pivot(pd.pivot_table(previous_phases, index = ['game_id','event_team_name',col], columns = ['phase_change'], values = ['event_y'], aggfunc = 'last').reset_index())
    end_x_pivoted_previous_phases = clean_df_after_pivot(pd.pivot_table(previous_phases, index = ['game_id','event_team_name',col], columns = ['phase_change'], values = ['end_x'], aggfunc = 'last').reset_index())
    end_y_pivoted_previous_phases = clean_df_after_pivot(pd.pivot_table(previous_phases, index = ['game_id','event_team_name',col], columns = ['phase_change'], values = ['end_y'], aggfunc = 'last').reset_index())
    
    
    join_all_1 = pd.merge(pivoted_previous_phases, event_x_pivoted_previous_phases, on = ['game_id','event_team_name',col], how = 'left')
    join_all_2 = pd.merge(join_all_1, event_y_pivoted_previous_phases, on = ['game_id','event_team_name',col], how = 'left')
    join_all_3 = pd.merge(join_all_2, end_x_pivoted_previous_phases, on = ['game_id','event_team_name',col], how = 'left')
    join_all_4 = pd.merge(join_all_3, end_y_pivoted_previous_phases, on = ['game_id','event_team_name',col], how = 'left')
    
    return join_all_4

pivoted_previous_phases = pivot_operation(new_df_f, 'previous_phase_label')
pivoted_entering_phases = pivot_operation(new_df_f, 'entering_phase_label')

In [233]:
# Rename the label columns to a common name for concatenation
pivoted_previous_phases = pivoted_previous_phases.rename(columns={'previous_phase_label': 'create_phase_label'})
pivoted_entering_phases = pivoted_entering_phases.rename(columns={'entering_phase_label': 'create_phase_label'})

# Combine the dataframes
combined_df = pd.concat([pivoted_previous_phases, pivoted_entering_phases], axis=0)

# Group by the common columns and take the first non-NaN value for each group
combined_df = combined_df.groupby(['game_id', 'event_team_name', 'create_phase_label']).apply(lambda x: x.ffill().bfill().iloc[0]).reset_index(drop=True)

# Replace NaN values in the last four columns with empty strings
for col in combined_df.columns[-4:]:
    combined_df[col] = combined_df[col].fillna('')
    
display_all(combined_df)

/var/folders/2m/31gtyphx2h3fz_nycnfgx60c0000gp/T/ipykernel_23352/1715168950.py:9: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  combined_df = combined_df.groupby(['game_id', 'event_team_name', 'create_phase_label']).apply(lambda x: x.ffill().bfill().iloc[0]).reset_index(drop=True)
/var/folders/2m/31gtyphx2h3fz_nycnfgx60c0000gp/T/ipykernel_23352/1715168950.py:9: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  combined_df = combined_df.groupby(['game_id', 'event_team_name', 'create_phase_label']).apply(lambda x: x.ffill().bfill().iloc[0]).reset_index(drop=True)

,game_id,event_team_name,create_phase_label,BUILD_CREATE,BUILD_FINISH,CREATE_BUILD,CREATE_FINISH,FINISH_BUILD,FINISH_CREATE,event_x_BUILD_CREATE,event_x_BUILD_FINISH,event_x_CREATE_BUILD,event_x_CREATE_FINISH,event_x_FINISH_BUILD,event_x_FINISH_CREATE,event_y_BUILD_CREATE,event_y_BUILD_FINISH,event_y_CREATE_BUILD,event_y_CREATE_FINISH,event_y_FINISH_BUILD,event_y_FINISH_CREATE,end_x_BUILD_CREATE,end_x_BUILD_FINISH,end_x_CREATE_BUILD,end_x_CREATE_FINISH,end_x_FINISH_BUILD,end_x_FINISH_CREATE,end_y_BUILD_CREATE,end_y_BUILD_FINISH,end_y_CREATE_BUILD,end_y_CREATE_FINISH,end_y_FINISH_BUILD,end_y_FINISH_CREATE
0,2200777,England U18,BUILD 11,Around,NaN,NaN,NaN,NaN,NaN,45.9,NaN,NaN,NaN,NaN,NaN,97.4,NaN,NaN,NaN,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN,93.9,NaN,,,,
1,2200777,England U18,BUILD 16,Around,NaN,NaN,NaN,NaN,NaN,41.3,NaN,NaN,NaN,NaN,NaN,87.7,NaN,NaN,NaN,NaN,NaN,39.7,NaN,NaN,NaN,NaN,NaN,99.2,NaN,,,,
2,2200777,England U18,BUILD 20,Long,NaN,NaN,NaN,NaN,NaN,39.5,NaN,NaN,NaN,NaN,NaN,38.6,NaN,NaN,NaN,NaN,NaN,99.3,NaN,NaN,NaN,NaN,NaN,17.7,NaN,,,,
3,2200777,England U18,BUILD 23,Through Inside,NaN,NaN,NaN,NaN,NaN,52.0,NaN,NaN,NaN,NaN,NaN,62.3,NaN,NaN,NaN,NaN,NaN,38.5,NaN,NaN,NaN,NaN,NaN,60.8,NaN,,,,
4,2200777,England U18,BUILD 26,Carry - Around,NaN,NaN,NaN,NaN,NaN,36.4,NaN,NaN,NaN,NaN,NaN,5.9,NaN,NaN,NaN,NaN,NaN,48.4,NaN,NaN,NaN,NaN,NaN,5.8,NaN,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17316,2609011,Switzerland U17,CREATE 46,Carry - Around,NaN,NaN,NaN,NaN,NaN,66.5,NaN,NaN,NaN,NaN,NaN,13.7,NaN,NaN,NaN,NaN,NaN,66.7,NaN,NaN,NaN,NaN,NaN,9.2,NaN,,,,
17317,2609011,Switzerland U17,CREATE 49,Around,NaN,NaN,NaN,NaN,NaN,39.3,NaN,NaN,NaN,NaN,NaN,10.6,NaN,NaN,NaN,NaN,NaN,34.3,NaN,NaN,NaN,NaN,NaN,17.7,NaN,,,,
17318,2609011,Switzerland U17,CREATE 56,Around,NaN,NaN,NaN,NaN,NaN,66.7,NaN,NaN,NaN,NaN,NaN,26.4,NaN,NaN,NaN,NaN,NaN,71.1,NaN,NaN,NaN,NaN,NaN,18.8,NaN,,,,
17319,2609011,Switzerland U17,FINISH 13,NaN,NaN,NaN,Through Inside,NaN,Around,NaN,NaN,NaN,93.0,NaN,55.0,NaN,NaN,NaN,72.2,NaN,3.8,NaN,NaN,NaN,82.0,NaN,47.0,NaN,NaN,,31.3,,7.4
17320,2609011,Switzerland U17,FINISH 26,NaN,NaN,NaN,Carry - Through Inside,NaN,NaN,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,74.8,NaN,NaN,NaN,NaN,NaN,80.0,NaN,NaN,NaN,NaN,,55.6,,

In [234]:
display_all(combined_df.groupby(by = ['event_team_name']).count())

,game_id,create_phase_label,BUILD_CREATE,BUILD_FINISH,CREATE_BUILD,CREATE_FINISH,FINISH_BUILD,FINISH_CREATE,event_x_BUILD_CREATE,event_x_BUILD_FINISH,event_x_CREATE_BUILD,event_x_CREATE_FINISH,event_x_FINISH_BUILD,event_x_FINISH_CREATE,event_y_BUILD_CREATE,event_y_BUILD_FINISH,event_y_CREATE_BUILD,event_y_CREATE_FINISH,event_y_FINISH_BUILD,event_y_FINISH_CREATE,end_x_BUILD_CREATE,end_x_BUILD_FINISH,end_x_CREATE_BUILD,end_x_CREATE_FINISH,end_x_FINISH_BUILD,end_x_FINISH_CREATE,end_y_BUILD_CREATE,end_y_BUILD_FINISH,end_y_CREATE_BUILD,end_y_CREATE_FINISH,end_y_FINISH_BUILD,end_y_FINISH_CREATE
event_team_name,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Argentina U17,557,557,274,16,67,232,7,54,274,16,67,232,7,54,274,16,67,232,7,54,237,14,65,196,6,46,237,14,557,557,557,557
Australia U18,41,41,20,2,10,12,0,0,20,2,10,12,0,0,20,2,10,12,0,0,20,2,10,12,0,0,20,2,41,41,41,41
Austria U17,231,231,116,10,27,73,4,32,116,10,27,73,4,32,116,10,27,73,4,32,110,10,27,61,2,28,110,10,231,231,231,231
Austria U18,26,26,10,4,4,8,0,2,10,4,4,8,0,2,10,4,4,8,0,2,10,4,4,8,0,2,10,4,26,26,26,26
Belgium U17,220,220,120,16,46,76,4,16,120,16,46,76,4,16,120,16,46,76,4,16,120,16,44,64,4,14,120,16,220,220,220,220
Belgium U18,173,173,82,4,44,44,4,22,82,4,44,44,4,22,82,4,44,44,4,22,80,4,44,44,4,20,80,4,173,173,173,173
Bolivia U17,97,97,60,4,6,25,0,8,60,4,6,25,0,8,60,4,6,25,0,8,57,2,6,23,0,8,57,2,97,97,97,97
Bosnia and Herzegovina U18,30,30,14,2,10,4,0,4,14,2,10,4,0,4,14,2,10,4,0,4,14,0,10,4,0,4,14,0,30,30,30,30
Brazil U17,558,558,274,26,74,222,4,28,274,26,74,222,4,28,274,26,74,222,4,28,260,22,74,194,4,26,260,22,558,558,558,558
Burkina Faso U17,232,232,116,6,30,84,0,24,116,6,30,84,0,24,116,6,30,84,0,24,94,6,30,74,0,24,94,6,232,232,232,232
Canada U17,236,236,126,14,30,68,4,27,126,14,30,68,4,27,126,14,30,68,4,27,112,10,30,62,4,25,112,10,236,236,236,236
Canada U18,23,23,6,2,10,6,0,0,6,2,10,6,0,0,6,2,10,6,0,0,6,2,10,6,0,0,6,2,23,23,23,23
Chile U17,74,74,44,2,24,10,0,2,44,2,24,10,0,2,44,2,24,10,0,2,44,0,24,10,0,0,44,0,74,74,74,74
Colombia U17,247,247,126,10,44,85,4,31,126,10,44,85,4,31,126,10,44,85,4,31,112,8,44,77,4,27,112,8,247,247,247,247
Costa Rica U17,72,72,44,4,24,7,4,0,44,4,24,7,4,0,44,4,24,7,4,0,38,4,24,7,4,0,38,4,72,72,72,72
Croatia U17,167,167,65,4,28,80,0,18,65,4,28,80,0,18,65,4,28,80,0,18,59,4,28,78,0,18,59,4,167,167,167,167
Croatia U18,67,67,26,0,12,30,2,6,26,0,12,30,2,6,26,0,12,30,2,6,26,0,12,30,2,6,26,0,67,67,67,67
Czechia U17,174,174,98,8,20,64,0,12,98,8,20,64,0,12,98,8,20,64,0,12,92,4,20,60,0,10,92,4,174,174,174,174
Czechia U18,50,50,26,0,10,22,0,0,26,0,10,22,0,0,26,0,10,22,0,0,26,0,10,22,0,0,26,0,50,50,50,50
Côte d'Ivoire U17,116,116,68,2,20,40,0,6,68,2,20,40,0,6,68,2,20,40,0,6,50,2,20,36,0,6,50,2,116,116,116,116
DPR Korea U17,176,176,66,8,44,64,0,8,66,8,44,64,0,8,66,8,44,64,0,8,58,4,40,54,0,8,58,4,176,176,176,176
Denmark U18,40,40,18,2,10,14,0,0,18,2,10,14,0,0,18,2,10,14,0,0,16,2,10,14,0,0,16,2,40,40,40,40
Ecuador U17,177,177,98,4,33,60,0,10,98,4,33,60,0,10,98,4,33,60,0,10,80,4,31,60,0,10,80,4,177,177,177,177
Egypt U17,164,164,88,6,46,36,0,13,88,6,46,36,0,13,88,6,46,36,0,13,72,6,46,24,0,13,72,6,164,164,164,164
El Salvador U17,62,62,44,0,10,12,0,0,44,0,10,12,0,0,44,0,10,12,0,0,38,0,10,12,0,0,38,0,62,62,62,62
England U17,518,518,279,4,74,198,4,47,279,4,74,198,4,47,279,4,74,198,4,47,261,4,74,172,4,46,261,4,518,518,518,518
England U18,2597,2597,1328,86,535,832,24,271,1328,86,535,832,24,271,1328,86,535,832,24,271,1311,84,532,793,22,264,1311,84,2597,2597,2597,2597
Faroe Islands U18,18,18,10,2,4,4,0,0,10,2,4,4,0,0,10,2,4,4,0,0,10,0,4,0,0,0,10,0,18,18,18,18
Fiji U17,31,31,20,0,6,6,0,3,20,0,6,6,0,3,20,0,6,6,0,3,18,0,6,4,0,2,18,0,31,31,31,31
France U17,518,518,257,20,125,151,10,60,257,20,125,151,10,60,257,20,125,151,10,60,231,16,125,133,10,54,231,16,518,518,518,518
France U18,186,186,108,4,52,32,2,10,108,4,52,32,2,10,108,4,52,32,2,10,108,4,52,32,2,10,108,4,186,186,186,186
Germany U17,588,588,344,12,114,182,2,30,344,12,114,182,2,30,344,12,114,182,2,30,320,12,110,164,2,28,320,12,588,588,588,588
Germany U18,108,108,62,2,46,12,2,2,62,2,46,12,2,2,62,2,46,12,2,2,60,2,46,12,2,2,60,2,108,108,108,108
Haiti U17,108,108,56,2,10,44,0,6,56,2,10,44,0,6,56,2,10,44,0,6,54,0,10,38,0,6,54,0,108,108,108,108
Honduras U17,71,71,40,6,14,14,0,4,40,6,14,14,0,4,40,6,14,14,0,4,32,6,14,10,0,4,32,6,71,71,71,71
Hungary U18,100,100,58,2,18,22,0,12,58,2,18,22,0,12,58,2,18,22,0,12,58,2,18,20,0,12,58,2,100,100,100,100
IR Iran U17,154,154,82,4,28,52,0,10,82,4,28,52,0,10,82,4,28,52,0,10,68,4,28,46,0,8,68,4,154,154,154,154
Indonesia U17,219,219,134,6,28,60,0,16,134,6,28,60,0,16,134,6,28,60,0,16,124,6,28,54,0,16,124,6,219,219,219,219
Italy U17,331,331,158,19,62,118,0,27,158,19,62,118,0,27,158,19,62,118,0,27,156,19,62,108,0,26,156,19,331,331,331,331
Japan U17,314,314,158,10,26,133,2,30,158,10,26,133,2,30,158,10,26,133,2,30,140,8,26,121,2,26,140,8,314,314,314,314
Japan U18,30,30,26,2,0,0,2,0,26,2,0,0,2,0,26,2,0,0,2,0,26,2,0,0,2,0,26,2,30,30,30,30
Korea Republic U17,392,392,236,10,90,98,0,24,236,10,90,98,0,24,236,10,90,98,0,24,220,6,90,82,0,22,220,6,392,392,392,392
Korea Republic U18,23,23,14,0,4,6,0,0,14,0,4,6,0,0,14,0,4,6,0,0,14,0,4,6,0,0,14,0,23,23,23,23
Mali U17,601,601,302,24,98,224,6,42,302,24,98,224,6,42,302,24,98,224,6,42,274,24,96,194,4,34,274,24,601,601,601,601
Mexico U17,396,396,226,8,79,116,4,22,226,8,79,116,4,22,226,8,79,116,4,22,202,8,77,102,4,20,202,8,396,396,396,396
Morocco U17,456,456,218,24,87,162,0,33,218,24,87,162,0,33,218,24,87,162,0,33,184,20,85,158,0,30,184,20,456,456,456,456
Morocco U18,115,115,64,4,26,26,0,8,64,4,26,26,0,8,64,4,26,26,0,8,64,4,26,24,0,6,64,4,115,115,115,115
Netherlands U18,378,378,178,22,84,108,2,52,178,22,84,108,2,52,178,22,84,108,2,52,178,18,84,106,2,52,178,18,378,378,378,378
New Caledonia U17,64,64,38,2,18,8,2,2,38,2,18,8,2,2,38,2,18,8,2,2,30,2,18,4,2,2,30,2,64,64,64,64
New Zealand U17,200,200,98,8,24,81,0,10,98,8,24,81,0,10,98,8,24,81,0,10,92,8,24,71,0,10,92,8,200,200,200,200
Northern Ireland U18,52,52,28,0,20,8,0,4,28,0,20,8,0,4,28,0,20,8,0,4,28,0,20,8,0,4,28,0,52,52,52,52
Norway U18,65,65,36,2,12,10,4,8,36,2,12,10,4,8,36,2,12,10,4,8,36,2,12,10,4,8,36,2,65,65,65,65
Panama U17,255,255,122,12,48,82,0,28,122,12,48,82,0,28,122,12,48,82,0,28,110,10,48,62,0,26,110,10,255,255,255,255
Paraguay U17,89,89,38,2,4,34,2,16,38,2,4,34,2,16,38,2,4,34,2,16,28,0,4,32,2,12,28,0,89,89,89,89
Poland U17,68,68,40,2,14,16,0,0,40,2,14,16,0,0,40,2,14,16,0,0,34,2,14,14,0,0,34,2,68,68,68,68
Poland U18,36,36,20,2,6,4,0,6,20,2,6,4,0,6,20,2,6,4,0,6,20,2,6,4,0,6,20,2,36,36,36,36
Portugal U17,393,393,197,22,64,130,4,62,197,22,64,130,4,62,197,22,64,130,4,62,187,20,56,124,2,56,187,20,393,393,393,393
Portugal U18,159,159,64,4,46,40,2,20,64,4,46,40,2,20,64,4,46,40,2,20,64,4,46,40,2,20,64,4,159,159,159,159
Qatar U17,61,61,42,8,8,10,0,2,42,8,8,10,0,2,42,8,8,10,0,2,24,6,6,10,0,2,24,6,61,61,61,61
Republic of Ireland U17,194,194,82,10,36,64,4,20,82,10,36,64,4,20,82,10,36,64,4,20,72,10,36,56,4,16,72,10,194,194,194,194
Russia U18,54,54,34,8,8,8,0,2,34,8,8,8,0,2,34,8,8,8,0,2,32,8,8,8,0,2,32,8,54,54,54,54
Saudi Arabia U17,101,101,54,16,12,23,0,6,54,16,12,23,0,6,54,16,12,23,0,6,54,14,12,17,0,6,54,14,101,101,101,101
Senegal U17,357,357,183,16,56,114,2,34,183,16,56,114,2,34,183,16,56,114,2,34,161,14,56,96,2,30,161,14,357,357,357,357
Slovakia U18,55,55,32,2,16,12,0,2,32,2,16,12,0,2,32,2,16,12,0,2,30,2,16,8,0,2,30,2,55,55,55,55
South Africa U17,122,122,55,2,20,50,0,12,55,2,20,50,0,12,55,2,20,50,0,12,51,2,20,46,0,12,51,2,122,122,122,122
Spain U17,400,400,202,0,68,166,0,42,202,0,68,166,0,42,202,0,68,166,0,42,194,0,64,148,0,38,194,0,400,400,400,400
Sweden U17,6,6,4,0,0,2,0,0,4,0,0,2,0,0,4,0,0,2,0,0,4,0,0,2,0,0,4,0,6,6,6,6
Sweden U18,42,42,18,2,12,10,0,4,18,2,12,10,0,4,18,2,12,10,0,4,18,2,12,10,0,4,18,2,42,42,42,42
Switzerland U17,239,239,124,6,42,78,2,14,124,6,42,78,2,14,124,6,42,78,2,14,108,6,42,72,2,14,108,6,239,239,239,239
Switzerland U18,104,104,50,6,30,18,4,8,50,6,30,18,4,8,50,6,30,18,4,8,48,6,30,18,4,8,48,6,104,104,104,104
Tajikistan U17,126,126,82,4,16,32,0,10,82,4,16,32,0,10,82,4,16,32,0,10,66,4,16,24,0,10,66,4,126,126,126,126
Tunisia U17,158,158,79,6,27,50,0,24,79,6,27,50,0,24,79,6,27,50,0,24,79,0,27,42,0,16,79,0,158,158,158,158
USA U17,469,469,271,4,92,126,4,44,271,4,92,126,4,44,271,4,92,126,4,44,253,4,92,114,2,42,253,4,469,469,469,469
Uganda U17,119,119,50,22,30,28,4,4,50,22,30,28,4,4,50,22,30,28,4,4,46,16,30,26,2,4,46,16,119,119,119,119
Ukraine U19,48,48,28,6,6,12,0,0,28,6,6,12,0,0,28,6,6,12,0,0,26,6,6,12,0,0,26,6,48,48,48,48
United Arab Emirates U17,44,44,22,6,12,6,0,2,22,6,12,6,0,2,22,6,12,6,0,2,22,6,12,6,0,2,22,6,44,44,44,44
Uzbekistan U17,359,359,205,10,58,104,4,34,205,10,58,104,4,34,205,10,58,104,4,34,189,10,58,90,4,32,189,10,359,359,359,359
Uzbekistan U18,10,10,6,0,2,2,0,0,6,0,2,2,0,0,6,0,2,2,0,0,6,0,2,2,0,0,6,0,10,10,10,10
Venezuela U17,348,348,212,8,72,100,0,26,212,8,72,100,0,26,212,8,72,100,0,26,188,8,72,88,0,26,188,8,348,348,348,348
Wales U18,92,92,58,2,30,6,2,6,58,2,30,6,2,6,58,2,30,6,2,6,58,2,30,4,2,6,58,2,92,92,92,92
Zambia U17,170,170,76,0,38,56,0,20,76,0,38,56,0,20,76,0,38,56,0,20,74,0,38,46,0,20,74,0,170,170,170,170

In [235]:
display_all(concatenated_df_jjj.groupby(by = ['phase']).count())

,game_id,team_phase_id,create_phase_label,vertical_pass_distance,horizontal_pass_distance,event_outcome,n_of_events,half,start_time,end_time,left,inside_left,central,inside_right,right,long_passes,switch_passes,phase_description,event_team_name,against_team_name,time_diff
phase,,,,,,,,,,,,,,,,,,,,,
BUILD,13170,13170,13170,13170,13170,13170,13170,13170,13170,13170,13170,13170,13170,13170,13170,13170,13170,13170,13170,13170,13170
CREATE,19615,19615,19615,19615,19615,19615,19615,19615,19615,19615,19615,19615,19615,19615,19615,19615,19615,19615,19615,19615,19615
FINISH,9772,9772,9772,9772,9772,9772,9772,9772,9772,9772,9772,9772,9772,9772,9772,9772,9772,9772,9772,9772,9772

In [236]:
def find_per_game_time_metrics(data, team_name):

    new_df_f_out_teamed = data[(data['event_team_name'] == team_name)]
    new_df_f_out_opponents = data[(data['against_team_name'] == team_name)]

    n_of_matches = len(new_df_f_out_teamed['game_id'].unique())
    in_possession_time_spent_per_team_phase = new_df_f_out_teamed.groupby(by = ['event_team_name','game_id','against_team_name','team_tier','against_tier', 'phase'])['time_diff'].sum().reset_index()
    pre_out_of_possession_time_spent_per_team_phase = new_df_f_out_opponents.groupby(by = ['against_team_name','game_id','event_team_name','team_tier','against_tier', 'phase'])['time_diff'].sum().reset_index()
    pre2_out_of_possession_time_spent_per_team_phase = pre_out_of_possession_time_spent_per_team_phase.rename(columns = {'against_team_name':'aaa','against_tier':'TTT'})
    pre3_out_of_possession_time_spent_per_team_phase = pre2_out_of_possession_time_spent_per_team_phase.rename(columns = {'event_team_name':'against_team_name','team_tier':'against_tier'})
    out_of_possession_time_spent_per_team_phase = pre3_out_of_possession_time_spent_per_team_phase.rename(columns = {'aaa':'event_team_name','TTT':'team_tier'})
    
    out_of_possession_time_spent_per_team_phase['phase'] = out_of_possession_time_spent_per_team_phase['phase'].replace({
        'BUILD': '% IN HIGH BLOCK',
        'CREATE': '% IN MID BLOCK',
        'FINISH': '% IN LOW BLOCK'
    })

    out_of_possession_time_spent_per_team_phase = out_of_possession_time_spent_per_team_phase[in_possession_time_spent_per_team_phase.columns]
    
    time_spent_metrics = pd.concat([in_possession_time_spent_per_team_phase, out_of_possession_time_spent_per_team_phase])
    
    time_spent_metrics['KPI'] = time_spent_metrics['phase'].replace({
        'BUILD': '% IN BUILD PHASE',
        'CREATE': '% IN CREATE PHASE',
        'FINISH': '% IN FINISH PHASE'
    })
    
    time_spent_metrics['Value'] = (time_spent_metrics['time_diff'] / time_spent_metrics.groupby(by = ['game_id','against_team_name','event_team_name'])['time_diff'].transform('sum') * 100).round(2)
    
    teamed_time_metrics = time_spent_metrics[(time_spent_metrics['event_team_name'] == team_name)]
    teamed_time_metrics['n_of_matches'] = n_of_matches
    
    return teamed_time_metrics
    
'''
def find_per_game_create_to_finish_metrics(data, team_name):

    new_df_f_out_teamed = data[(data['event_team_name'] == team_name)]
    new_df_f_out_opponents = data[(data['against_team_name'] == team_name)]

    n_of_matches = len(new_df_f_out_teamed['game_id'].unique())
    create_to_finish_successful = new_df_f_out_teamed[(new_df_f_out_teamed['CREATE_FINISH'] != '') & (~new_df_f_out_teamed['CREATE_FINISH'].isnull())].groupby(by = ['event_team_name','against_team_name','game_id'])['game_phase_id'].count().reset_index().rename(columns = {'game_phase_id':'successful_create_to_finish'})
    create_to_finish_total = new_df_f_out_teamed.groupby(by = ['event_team_name','against_team_name','game_id'])['game_phase_id'].count().reset_index().rename(columns = {'game_phase_id':'total_create_to_finish'})
    create_to_finish_metrics = pd.merge(create_to_finish_total, create_to_finish_successful, on = ['event_team_name','against_team_name','game_id'])
    
    opp_n_of_matches = len(new_df_f_out_opponents['game_id'].unique())
    opp_create_to_finish_successful = new_df_f_out_opponents[(new_df_f_out_opponents['CREATE_FINISH'] != '') & (~new_df_f_out_opponents['CREATE_FINISH'].isnull())].groupby(by = ['against_team_name','event_team_name','game_id'])['game_phase_id'].count().reset_index().rename(columns = {'game_phase_id':'successful_create_to_finish'})
    opp_create_to_finish_total = new_df_f_out_opponents.groupby(by = ['against_team_name','event_team_name','game_id'])['game_phase_id'].count().reset_index().rename(columns = {'game_phase_id':'total_create_to_finish'})
    opp_create_to_finish_metrics = pd.merge(opp_create_to_finish_total, opp_create_to_finish_successful, on = ['against_team_name','event_team_name','game_id'])
    
    teamed_create_to_finish_metrics = create_to_finish_metrics[(create_to_finish_metrics['event_team_name'] == team_name)]
    opp_create_to_finish_metrics = opp_create_to_finish_metrics[(opp_create_to_finish_metrics['against_team_name'] == team_name)]

    teamed_create_to_finish_metrics['Value'] = (teamed_create_to_finish_metrics['successful_create_to_finish']  / teamed_create_to_finish_metrics['total_create_to_finish']  * 100).round(2)
    opp_create_to_finish_metrics['Value'] = (opp_create_to_finish_metrics['successful_create_to_finish']  / opp_create_to_finish_metrics['total_create_to_finish']  * 100).round(2)
    
    teamed_create_to_finish_metrics['KPI'] = 'Create to Finish Success Rate (%)'
    teamed_create_to_finish_metrics['n_of_matches'] = n_of_matches

    opp_create_to_finish_metrics['KPI'] = 'Opponent Create to Finish Success Rate (%)'
    opp_create_to_finish_metrics['n_of_matches'] = opp_n_of_matches

    opp_create_to_finish_metrics_p = opp_create_to_finish_metrics.rename(columns = {'against_team_name':'ttt'})
    opp_create_to_finish_metrics_p2 = opp_create_to_finish_metrics_p.rename(columns = {'event_team_name':'against_team_name'})
    opp_create_to_finish_metrics_p3 = opp_create_to_finish_metrics_p2.rename(columns = {'ttt':'event_team_name'})
    
    out_create_to_finish_metrics = pd.concat([teamed_create_to_finish_metrics,opp_create_to_finish_metrics_p3[teamed_create_to_finish_metrics.columns]], ignore_index = True)
    
    return out_create_to_finish_metrics
'''
def find_per_game_create_to_finish_metrics(data, col_name, team_name):

    new_df_f_out_teamed = data[(data[col_name] == team_name)]

    n_of_matches = len(new_df_f_out_teamed['game_id'].unique())
    create_to_finish_successful = new_df_f_out_teamed[(new_df_f_out_teamed['CREATE_FINISH'] != '') & (~new_df_f_out_teamed['CREATE_FINISH'].isnull())].groupby(by = [col_name,'game_id'])['game_phase_id'].count().reset_index().rename(columns = {'game_phase_id':'successful_create_to_finish'})
    create_to_finish_total = new_df_f_out_teamed.groupby(by = [col_name,'game_id'])['game_phase_id'].count().reset_index().rename(columns = {'game_phase_id':'total_create_to_finish'})
    create_to_finish_metrics = pd.merge(create_to_finish_total, create_to_finish_successful, on = [col_name,'game_id'])
    
    teamed_create_to_finish_metrics = create_to_finish_metrics[(create_to_finish_metrics[col_name] == team_name)]

    if col_name == 'against_team_name':
        add_prefix = 'Opponent '
    else:
        add_prefix = ''
        
    teamed_create_to_finish_metrics['Value'] = (teamed_create_to_finish_metrics['successful_create_to_finish']  / teamed_create_to_finish_metrics['total_create_to_finish']  * 100).round(2)
    
    teamed_create_to_finish_metrics['KPI'] = add_prefix+'Create to Finish Success Rate (%)'
    teamed_create_to_finish_metrics['n_of_matches'] = n_of_matches

    teamed_create_to_finish_metrics = teamed_create_to_finish_metrics.rename(columns = {col_name:'event_team_name'})
    
    return teamed_create_to_finish_metrics
    
def find_create_to_finish_metrics_by_tier(data, tier):

    new_df_f_out_teamed = data[(data['team_tier'] == tier)]
    new_df_f_out_opponents = data[(data['against_tier'] == tier)]

    n_of_matches = len(new_df_f_out_teamed['game_id'].unique())
    create_to_finish_successful = new_df_f_out_teamed[(new_df_f_out_teamed['CREATE_FINISH'] != '')].groupby(by = ['team_tier'])['game_phase_id'].count().reset_index().rename(columns = {'game_phase_id':'successful_create_to_finish'})
    create_to_finish_total = new_df_f_out_teamed.groupby(by = ['team_tier'])['game_phase_id'].count().reset_index().rename(columns = {'game_phase_id':'total_create_to_finish'})
    create_to_finish_metrics = pd.merge(create_to_finish_total, create_to_finish_successful, on = ['team_tier', 'game_id'])
    
    opp_n_of_matches = len(new_df_f_out_opponents['game_id'].unique())
    opp_create_to_finish_successful = new_df_f_out_opponents[(new_df_f_out_opponents['CREATE_FINISH'] != '')].groupby(by = ['against_tier'])['game_phase_id'].count().reset_index().rename(columns = {'game_phase_id':'opp_successful_create_to_finish'})
    opp_create_to_finish_total = new_df_f_out_opponents.groupby(by = ['against_tier'])['game_phase_id'].count().reset_index().rename(columns = {'game_phase_id':'opp_total_create_to_finish'})
    opp_create_to_finish_metrics = pd.merge(opp_create_to_finish_total, opp_create_to_finish_successful, on = ['against_tier'])
    
    teamed_create_to_finish_metrics = create_to_finish_metrics[(create_to_finish_metrics['event_team_name'] == tier)]
    opp_create_to_finish_metrics = opp_create_to_finish_metrics[(opp_create_to_finish_metrics['against_team_name'] == tier)]

    teamed_create_to_finish_metrics['Value'] = (teamed_create_to_finish_metrics['successful_create_to_finish']  / teamed_create_to_finish_metrics['total_create_to_finish']  * 100).round(2)
    opp_create_to_finish_metrics['Value'] = (opp_create_to_finish_metrics['opp_successful_create_to_finish']  / opp_create_to_finish_metrics['opp_total_create_to_finish']  * 100).round(2)
    
    teamed_create_to_finish_metrics['KPI'] = add_prefix+'Create to Finish Success Rate (%)'
    teamed_create_to_finish_metrics['n_of_matches'] = n_of_matches

    opp_create_to_finish_metrics['KPI'] = add_prefix+'Opponent Create to Finish Success Rate (%)'
    opp_create_to_finish_metrics['n_of_matches'] = opp_n_of_matches
    opp_create_to_finish_metrics = opp_create_to_finish_metrics.rename(columns = {'against_tier':'team_tier'})

    out_create_to_finish_metrics = pd.concat([teamed_create_to_finish_metrics,opp_create_to_finish_metrics[teamed_create_to_finish_metrics.columns]], ignore_index = True)
    
    return out_create_to_finish_metrics

def find_time_metrics_by_tier(data, tier):

    new_df_f_out_teamed = data[(data['team_tier'] == tier)]
    new_df_f_out_opponents = data[(data['against_tier'] == tier)]

    n_of_matches = len(new_df_f_out_teamed['game_id'].unique())
    in_possession_time_spent_per_team_phase = new_df_f_out_teamed.groupby(by = ['team_tier','against_tier', 'phase'])['time_diff'].sum().reset_index()
    out_of_possession_time_spent_per_team_phase_p1 = new_df_f_out_opponents.groupby(by = ['team_tier','against_tier', 'phase'])['time_diff'].sum().reset_index().rename(columns = {'against_tier':'TTT'})
    out_of_possession_time_spent_per_team_phase_p2 = out_of_possession_time_spent_per_team_phase_p1.rename(columns = {'team_tier':'against_tier'})
    out_of_possession_time_spent_per_team_phase = out_of_possession_time_spent_per_team_phase_p2.rename(columns = {'TTT':'team_tier'})
    
    out_of_possession_time_spent_per_team_phase['phase'] = out_of_possession_time_spent_per_team_phase['phase'].replace({
        'BUILD': '% IN HIGH BLOCK',
        'CREATE': '% IN MID BLOCK',
        'FINISH': '% IN LOW BLOCK',
        'TRANSITION D-A': '% IN TRANSITION A-D'
    })

    out_of_possession_time_spent_per_team_phase = out_of_possession_time_spent_per_team_phase[in_possession_time_spent_per_team_phase.columns]
    
    time_spent_metrics = pd.concat([in_possession_time_spent_per_team_phase, out_of_possession_time_spent_per_team_phase])
    
    time_spent_metrics['KPI'] = time_spent_metrics['phase'].replace({
        'BUILD': '% IN BUILD PHASE',
        'CREATE': '% IN CREATE PHASE',
        'FINISH': '% IN FINISH PHASE',
        'TRANSITION D-A': '% IN TRANSITION D-A'
    })
    
    time_spent_metrics['Value'] = (time_spent_metrics['time_diff'] / time_spent_metrics.groupby(by = ['against_tier','team_tier'])['time_diff'].transform('sum') * 100).round(2)
    
    teamed_time_metrics = time_spent_metrics[(time_spent_metrics['team_tier'] == tier)]
    teamed_time_metrics['n_of_matches'] = n_of_matches
    
    return teamed_time_metrics
    
def find_time_metrics(data, team_name):

    new_df_f_out_teamed = data[(data['event_team_name'] == team_name)]
    new_df_f_out_opponents = data[(data['against_team_name'] == team_name)]

    n_of_matches = len(new_df_f_out_teamed['game_id'].unique())
    in_possession_time_spent_per_team_phase = new_df_f_out_teamed.groupby(by = ['event_team_name', 'phase'])['time_diff'].sum().reset_index()
    out_of_possession_time_spent_per_team_phase = new_df_f_out_opponents.groupby(by = ['against_team_name', 'phase'])['time_diff'].sum().reset_index().rename(columns = {'against_team_name':'event_team_name','against_tier':'TTT'})
    
    out_of_possession_time_spent_per_team_phase['phase'] = out_of_possession_time_spent_per_team_phase['phase'].replace({
        'BUILD': '% IN HIGH BLOCK',
        'CREATE': '% IN MID BLOCK',
        'FINISH': '% IN LOW BLOCK',
        'TRANSITION D-A': '% IN TRANSITION A-D'
    })
    
    time_spent_metrics = pd.concat([in_possession_time_spent_per_team_phase, out_of_possession_time_spent_per_team_phase])
    
    time_spent_metrics['KPI'] = time_spent_metrics['phase'].replace({
        'BUILD': '% IN BUILD PHASE',
        'CREATE': '% IN CREATE PHASE',
        'FINISH': '% IN FINISH PHASE',
        'TRANSITION D-A': '% IN TRANSITION D-A'
    })
    
    time_spent_metrics['Value'] = (time_spent_metrics['time_diff'] / time_spent_metrics.groupby('event_team_name')['time_diff'].transform('sum') * 100).round(2)
    
    teamed_time_metrics = time_spent_metrics[(time_spent_metrics['event_team_name'] == team_name)]
    teamed_time_metrics['n_of_matches'] = n_of_matches
    
    return teamed_time_metrics

def find_create_to_finish_metrics(data, team_name):

    new_df_f_out_teamed = data[(data['event_team_name'] == team_name)]
    new_df_f_out_opponents = data[(data['against_team_name'] == team_name)]

    n_of_matches = len(new_df_f_out_teamed['game_id'].unique())
    in_possession_time_spent_per_team_phase = new_df_f_out_teamed.groupby(by = ['event_team_name', 'phase'])['time_diff'].sum().reset_index()
    out_of_possession_time_spent_per_team_phase = new_df_f_out_opponents.groupby(by = ['against_team_name', 'phase'])['time_diff'].sum().reset_index().rename(columns = {'against_team_name':'event_team_name'})
    

    n_of_matches = len(new_df_f_out_teamed['game_id'].unique())
    create_to_finish_successful = new_df_f_out_teamed[(new_df_f_out_teamed['CREATE_FINISH'] != '')].groupby(by = [col_name])['game_phase_id'].count().reset_index().rename(columns = {'game_phase_id':'successful_create_to_finish'})
    create_to_finish_total = new_df_f_out_teamed.groupby(by = [col_name])['game_phase_id'].count().reset_index().rename(columns = {'game_phase_id':'total_create_to_finish'})
    create_to_finish_metrics = pd.merge(create_to_finish_total, create_to_finish_successful, on = [col_name])
    
    teamed_create_to_finish_metrics = create_to_finish_metrics[(create_to_finish_metrics[col_name] == team_name)]

    if col_name == 'against_team_name':
        add_prefix = 'Opponent '
    else:
        add_prefix = ''
        
    teamed_create_to_finish_metrics['Value'] = ((teamed_create_to_finish_metrics['successful_create_to_finish']  / teamed_create_to_finish_metrics['total_create_to_finish'])  * 100).round(2)
    
    teamed_create_to_finish_metrics['KPI'] = add_prefix+'Create to Finish Success Rate (%)'
    teamed_create_to_finish_metrics['n_of_matches'] = n_of_matches

    teamed_create_to_finish_metrics = teamed_create_to_finish_metrics.rename(columns = {col_name:'event_team_name'})
    
    return teamed_create_to_finish_metrics
    
def safe_float_conversion(value):
        try:
            return float(value)
        except (ValueError, TypeError):
            return None
            
def new_description_of_create_phase(row):
    

    float_row_y_build_create = safe_float_conversion(row['end_y_BUILD_CREATE'])
    float_row_y_create_finish = safe_float_conversion(row['end_y_CREATE_FINISH'])
    float_row_y_create_build = safe_float_conversion(row['end_y_CREATE_BUILD'])
    float_row_y_finish_create = safe_float_conversion(row['end_y_FINISH_CREATE'])

    if (
            float(row['left']) > 0 and float(row['inside_left']) > 0 and
            (
                (float_row_y_create_finish is not None and float_row_y_create_finish > 80) or 
                (float_row_y_build_create is not None and float_row_y_build_create > 80) or 
                (float_row_y_create_build is not None and float_row_y_create_build > 80) or 
                (float_row_y_finish_create is not None and float_row_y_finish_create > 80)
            )
        ) or (
            float(row['left']) > 0 and 
            (
                (float_row_y_create_finish is not None and float_row_y_create_finish > 70) or 
                (float_row_y_build_create is not None and float_row_y_build_create > 70) or 
                (float_row_y_create_build is not None and float_row_y_create_build > 70) or 
                (float_row_y_finish_create is not None and float_row_y_finish_create > 70)
            )
        ):
            return 'Around'
    elif (
            float(row['right']) > 0 and float(row['inside_right']) > 0 and 
            (
                (float_row_y_create_finish is not None and float_row_y_create_finish < 20) or 
                (float_row_y_build_create is not None and float_row_y_build_create < 20) or 
                (float_row_y_create_build is not None and float_row_y_create_build < 20) or 
                (float_row_y_finish_create is not None and float_row_y_finish_create < 20)
            )
        ) or (
            float(row['right']) > 0 and 
            (
                (float_row_y_create_finish is not None and float_row_y_create_finish < 30) or 
                (float_row_y_build_create is not None and float_row_y_build_create < 30) or 
                (float_row_y_create_build is not None and float_row_y_create_build < 30) or 
                (float_row_y_finish_create is not None and float_row_y_finish_create < 30)
            )
        ):
            return 'Around'
    else:
        return row['phase_description']

In [237]:
new_df_f_out = pd.merge(concatenated_df_jjj, combined_df, on = ['game_id','create_phase_label','event_team_name'], how = 'outer')

new_df_f_out = new_df_f_out[new_df_f_out['team_phase_id'] != '']
new_df_f_out['event_outcome'] = new_df_f_out['event_outcome'].astype(float)

new_df_f_out.dtypes

game_id                       Int64
team_phase_id               float64
create_phase_label           object
vertical_pass_distance      float64
horizontal_pass_distance    float64
event_outcome               float64
n_of_events                 float64
half                        float64
start_time                  float64
end_time                    float64
left                        float64
inside_left                 float64
central                     float64
inside_right                float64
right                       float64
long_passes                 float64
switch_passes               float64
phase_description            object
event_team_name              object
against_team_name            object
phase                        object
time_diff                   float64
BUILD_CREATE                 object
BUILD_FINISH                 object
CREATE_BUILD                 object
CREATE_FINISH                object
FINISH_BUILD                 object
FINISH_CREATE                object
event_x_BUILD_CREATE        float64
event_x_BUILD_FINISH        float64
event_x_CREATE_BUILD        float64
event_x_CREATE_FINISH       float64
event_x_FINISH_BUILD        float64
event_x_FINISH_CREATE       float64
event_y_BUILD_CREATE        float64
event_y_BUILD_FINISH        float64
event_y_CREATE_BUILD        float64
event_y_CREATE_FINISH       float64
event_y_FINISH_BUILD        float64
event_y_FINISH_CREATE       float64
end_x_BUILD_CREATE          float64
end_x_BUILD_FINISH          float64
end_x_CREATE_BUILD          float64
end_x_CREATE_FINISH         float64
end_x_FINISH_BUILD          float64
end_x_FINISH_CREATE         float64
end_y_BUILD_CREATE          float64
end_y_BUILD_FINISH          float64
end_y_CREATE_BUILD           object
end_y_CREATE_FINISH          object
end_y_FINISH_BUILD           object
end_y_FINISH_CREATE          object
dtype: object

In [238]:
new_df_f_out = new_df_f_out.sort_values(by = ['game_id','start_time'])#.fillna('')
new_df_f_out['unique_id'] = new_df_f_out['game_id'].astype(str)+'_'+new_df_f_out['event_team_name']+'_'+new_df_f_out['create_phase_label']

new_df_f_out['create_to_finish_phase_description'] = new_df_f_out.apply(lambda row: new_description_of_create_phase(row), axis=1)

In [239]:
display_all(new_df_f_out.groupby(by = ['phase']).count())

,game_id,team_phase_id,create_phase_label,vertical_pass_distance,horizontal_pass_distance,event_outcome,n_of_events,half,start_time,end_time,left,inside_left,central,inside_right,right,long_passes,switch_passes,phase_description,event_team_name,against_team_name,time_diff,BUILD_CREATE,BUILD_FINISH,CREATE_BUILD,CREATE_FINISH,FINISH_BUILD,FINISH_CREATE,event_x_BUILD_CREATE,event_x_BUILD_FINISH,event_x_CREATE_BUILD,event_x_CREATE_FINISH,event_x_FINISH_BUILD,event_x_FINISH_CREATE,event_y_BUILD_CREATE,event_y_BUILD_FINISH,event_y_CREATE_BUILD,event_y_CREATE_FINISH,event_y_FINISH_BUILD,event_y_FINISH_CREATE,end_x_BUILD_CREATE,end_x_BUILD_FINISH,end_x_CREATE_BUILD,end_x_CREATE_FINISH,end_x_FINISH_BUILD,end_x_FINISH_CREATE,end_y_BUILD_CREATE,end_y_BUILD_FINISH,end_y_CREATE_BUILD,end_y_CREATE_FINISH,end_y_FINISH_BUILD,end_y_FINISH_CREATE,unique_id,create_to_finish_phase_description
phase,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
BUILD,13170,13170,13170,13170,13170,13170,13170,13170,13170,13170,13170,13170,13170,13170,13170,13170,13170,13170,13170,13170,13170,4546,319,1623,0,72,0,4546,319,1623,0,72,0,4546,319,1623,0,72,0,4217,282,1606,0,66,0,4217,282,5695,5695,5695,5695,13170,13170
CREATE,19615,19615,19615,19615,19615,19615,19615,19615,19615,19615,19615,19615,19615,19615,19615,19615,19615,19615,19615,19615,19615,4555,0,1634,2782,0,758,4555,0,1634,2782,0,758,4555,0,1634,2782,0,758,4224,0,1615,2510,0,705,4224,0,8248,8248,8248,8248,19615,19615
FINISH,9772,9772,9772,9772,9772,9772,9772,9772,9772,9772,9772,9772,9772,9772,9772,9772,9772,9772,9772,9772,9772,0,318,0,2785,72,764,0,318,0,2785,72,764,0,318,0,2785,72,764,0,281,0,2514,65,712,0,281,3546,3546,3546,3546,9772,9772

In [240]:
new_df_f_out.columns

Index(['game_id', 'team_phase_id', 'create_phase_label',
       'vertical_pass_distance', 'horizontal_pass_distance', 'event_outcome',
       'n_of_events', 'half', 'start_time', 'end_time', 'left', 'inside_left',
       'central', 'inside_right', 'right', 'long_passes', 'switch_passes',
       'phase_description', 'event_team_name', 'against_team_name', 'phase',
       'time_diff', 'BUILD_CREATE', 'BUILD_FINISH', 'CREATE_BUILD',
       'CREATE_FINISH', 'FINISH_BUILD', 'FINISH_CREATE',
       'event_x_BUILD_CREATE', 'event_x_BUILD_FINISH', 'event_x_CREATE_BUILD',
       'event_x_CREATE_FINISH', 'event_x_FINISH_BUILD',
       'event_x_FINISH_CREATE', 'event_y_BUILD_CREATE', 'event_y_BUILD_FINISH',
       'event_y_CREATE_BUILD', 'event_y_CREATE_FINISH', 'event_y_FINISH_BUILD',
       'event_y_FINISH_CREATE', 'end_x_BUILD_CREATE', 'end_x_BUILD_FINISH',
       'end_x_CREATE_BUILD', 'end_x_CREATE_FINISH', 'end_x_FINISH_BUILD',
       'end_x_FINISH_CREATE', 'end_y_BUILD_CREATE', 'end_y_BUILD_FINISH',
       'end_y_CREATE_BUILD', 'end_y_CREATE_FINISH', 'end_y_FINISH_BUILD',
       'end_y_FINISH_CREATE', 'unique_id',
       'create_to_finish_phase_description'],
      dtype='object')

In [241]:
new_df_f_out[new_df_f_out['game_id'].isin([2354433, 2354487, 2507730])].groupby(by = ['game_id']).count()

Empty DataFrame
Columns: [team_phase_id, create_phase_label, vertical_pass_distance, horizontal_pass_distance, event_outcome, n_of_events, half, start_time, end_time, left, inside_left, central, inside_right, right, long_passes, switch_passes, phase_description, event_team_name, against_team_name, phase, time_diff, BUILD_CREATE, BUILD_FINISH, CREATE_BUILD, CREATE_FINISH, FINISH_BUILD, FINISH_CREATE, event_x_BUILD_CREATE, event_x_BUILD_FINISH, event_x_CREATE_BUILD, event_x_CREATE_FINISH, event_x_FINISH_BUILD, event_x_FINISH_CREATE, event_y_BUILD_CREATE, event_y_BUILD_FINISH, event_y_CREATE_BUILD, event_y_CREATE_FINISH, event_y_FINISH_BUILD, event_y_FINISH_CREATE, end_x_BUILD_CREATE, end_x_BUILD_FINISH, end_x_CREATE_BUILD, end_x_CREATE_FINISH, end_x_FINISH_BUILD, end_x_FINISH_CREATE, end_y_BUILD_CREATE, end_y_BUILD_FINISH, end_y_CREATE_BUILD, end_y_CREATE_FINISH, end_y_FINISH_BUILD, end_y_FINISH_CREATE, unique_id, create_to_finish_phase_description]
Index: []

[0 rows x 53 columns]

In [242]:
display_all(new_df_f_out[new_df_f_out['game_id'].isin([2180289])])

Empty DataFrame
Columns: [game_id, team_phase_id, create_phase_label, vertical_pass_distance, horizontal_pass_distance, event_outcome, n_of_events, half, start_time, end_time, left, inside_left, central, inside_right, right, long_passes, switch_passes, phase_description, event_team_name, against_team_name, phase, time_diff, BUILD_CREATE, BUILD_FINISH, CREATE_BUILD, CREATE_FINISH, FINISH_BUILD, FINISH_CREATE, event_x_BUILD_CREATE, event_x_BUILD_FINISH, event_x_CREATE_BUILD, event_x_CREATE_FINISH, event_x_FINISH_BUILD, event_x_FINISH_CREATE, event_y_BUILD_CREATE, event_y_BUILD_FINISH, event_y_CREATE_BUILD, event_y_CREATE_FINISH, event_y_FINISH_BUILD, event_y_FINISH_CREATE, end_x_BUILD_CREATE, end_x_BUILD_FINISH, end_x_CREATE_BUILD, end_x_CREATE_FINISH, end_x_FINISH_BUILD, end_x_FINISH_CREATE, end_y_BUILD_CREATE, end_y_BUILD_FINISH, end_y_CREATE_BUILD, end_y_CREATE_FINISH, end_y_FINISH_BUILD, end_y_FINISH_CREATE, unique_id, create_to_finish_phase_description]
Index: []

In [243]:
new_df_f_out.groupby(by = ['event_team_name','against_team_name']).count()

                                   game_id  team_phase_id  create_phase_label  \
event_team_name against_team_name
Argentina U17   Belgium U17            101            101                 101
                Brazil U17             111            111                 111
                Fiji U17               136            136                 136
                Germany U17            125            125                 125
                Japan U17              111            111                 111
...                                    ...            ...                 ...
Wales U18       England U18            294            294                 294
Zambia U17      Brazil U17              76             76                  76
                Honduras U17           121            121                 121
                Indonesia U17          106            106                 106
                Mali U17               115            115                 115

                                   vertical_pass_distance  \
event_team_name against_team_name
Argentina U17   Belgium U17                           101
                Brazil U17                            111
                Fiji U17                              136
                Germany U17                           125
                Japan U17                             111
...                                                   ...
Wales U18       England U18                           294
Zambia U17      Brazil U17                             76
                Honduras U17                          121
                Indonesia U17                         106
                Mali U17                              115

                                   horizontal_pass_distance  event_outcome  \
event_team_name against_team_name
Argentina U17   Belgium U17                             101            101
                Brazil U17                              111            111
                Fiji U17                                136            136
                Germany U17                             125            125
                Japan U17                               111            111
...                                                     ...            ...
Wales U18       England U18                             294            294
Zambia U17      Brazil U17                               76             76
                Honduras U17                            121            121
                Indonesia U17                           106            106
                Mali U17                                115            115

                                   n_of_events  half  start_time  end_time  \
event_team_name against_team_name
Argentina U17   Belgium U17                101   101         101       101
                Brazil U17                 111   111         111       111
                Fiji U17                   136   136         136       136
                Germany U17                125   125         125       125
                Japan U17                  111   111         111       111
...                                        ...   ...         ...       ...
Wales U18       England U18                294   294         294       294
Zambia U17      Brazil U17                  76    76          76        76
                Honduras U17               121   121         121       121
                Indonesia U17              106   106         106       106
                Mali U17                   115   115         115       115

                                   ...  end_x_FINISH_BUILD  \
event_team_name against_team_name  ...
Argentina U17   Belgium U17        ...                   0
                Brazil U17         ...                   2
                Fiji U17           ...                   0
                Germany U17        ...                   0
                Japan U17          ...                   0
...                                ...                 ...
Wales U18       England U18        ...                   2
Zambia U17      Brazil U17         ...                   0
                Honduras U17       ...                   0
                Indonesia U17      ...                   0
                Mali U17           ...                   0

                                   end_x_FINISH_CREATE  end_y_BUILD_CREATE  \
event_team_name against_team_name
Argentina U17   Belgium U17                          2                  18
                Brazil U17                           2                  22
                Fiji U17                             6                  26
                Germany U17                          6                  18
                Japan U17                            0                  18
...                                                ...                 ...
Wales U18       England U18                          6                  58
Zambia U17      Brazil U17                           6                  16
                Honduras U17                         6                  14
                Indonesia U17                        6                  20
                Mali U17                             2                  24

                                   end_y_BUILD_FINISH  end_y_CREATE_BUILD  \
event_team_name against_team_name
Argentina U17   Belgium U17                         2                  42
                Brazil U17                          2                  52
                Fiji U17                            4                  72
                Germany U17                         0                  41
                Japan U17                           0                  43
...                                               ...                 ...
Wales U18       England U18                         2                  92
Zambia U17      Brazil U17                          0                  29
                Honduras U17                        0                  47
                Indonesia U17                       0                  51
                Mali U17                            0                  43

                                   end_y_CREATE_FINISH  end_y_FINISH_BUILD  \
event_team_name against_team_name
Argentina U17   Belgium U17                         42                  42
                Brazil U17                          52                  52
                Fiji U17                            72                  72
                Germany U17                         41                  41
                Japan U17                           43                  43
...                                                ...                 ...
Wales U18       England U18                         92                  92
Zambia U17      Brazil U17                          29                  29
                Honduras U17                        47                  47
                Indonesia U17                       51                  51
                Mali U17                            43                  43

                                   end_y_FINISH_CREATE  unique_id  \
event_team_name against_team_name
Argentina U17   Belgium U17                         42        101
                Brazil U17                          52        111
                Fiji U17                            72        136
                Germany U17                         41        125
                Japan U17                           43        111
...                                                ...        ...
Wales U18       England U18                         92        294
Zambia U17      Brazil U17                          29         76
                Honduras U17                        47        121
                Indonesia U17                       51        106
                Mali U17                            43        115

                                   create_to_finish_phase_description
event_team_name against_team_name
Argentina U17   Belgium U17                                       101
                Brazil U17                                        111
                Fiji U17                                          136
                Germany U17                                       125
                Japan U17                                         111
...                                                               ...
Wales U18       England U18                                       294
Zambia U17      Brazil U17                                         76
                Honduras U17                                      121
                Indonesia U17                                     106
                Mali U17                                          115

[368 rows x 52 columns]

In [244]:
new_df_f_out.event_team_name.unique()

array(['England U18', 'Wales U18', 'Norway U18', 'Russia U18',
       'Netherlands U18', 'Belgium U18', 'Portugal U18', 'Sweden U18',
       'Denmark U18', 'Austria U18', 'Croatia U18', 'Faroe Islands U18',
       'Switzerland U18', 'Australia U18', 'France U18', 'Japan U18',
       'Panama U17', 'Morocco U17', 'Indonesia U17', 'Ecuador U17',
       'Spain U17', 'Canada U17', 'Uzbekistan U17', 'Mali U17',
       'Brazil U17', 'IR Iran U17', 'New Caledonia U17', 'England U17',
       'Argentina U17', 'Senegal U17', 'France U17', 'Burkina Faso U17',
       'Korea Republic U17', 'USA U17', 'Mexico U17', 'Germany U17',
       'Venezuela U17', 'New Zealand U17', 'Japan U17', 'Poland U17',
       'Korea Republic U18', 'Morocco U18', 'Czechia U18', 'Germany U18',
       'Northern Ireland U18', 'Sweden U17', 'Ukraine U19', 'Poland U18',
       'Italy U17', 'Qatar U17', 'Bolivia U17', 'South Africa U17',
       'Portugal U17', 'Croatia U17', 'Costa Rica U17',
       'United Arab Emirates U17', 'Belgium U17', 'Fiji U17',
       'Tunisia U17', 'Egypt U17', 'Haiti U17', 'Switzerland U17',
       "Côte d'Ivoire U17", 'Colombia U17', 'El Salvador U17',
       'DPR Korea U17', 'Honduras U17', 'Zambia U17', 'Tajikistan U17',
       'Czechia U17', 'Paraguay U17', 'Republic of Ireland U17',
       'Chile U17', 'Uganda U17', 'Austria U17', 'Saudi Arabia U17',
       'Uzbekistan U18', 'Canada U18', 'Bosnia and Herzegovina U18',
       'Hungary U18', 'Slovakia U18'], dtype=object)

In [245]:

opp_strengths_query = """
SELECT *
FROM `the-fa-performance-insights.staging_results_model.international_team_strengths`
"""

opp_strengths = pandas_gbq.read_gbq(opp_strengths_query, project_id = 'the-fa-analysis-and-insight')
opp_strengths_senior = opp_strengths[['country_name','senior_team_rank']].drop_duplicates()

opp_strengths_senior_1 = opp_strengths_senior[opp_strengths_senior['senior_team_rank'] <= 10]
opp_strengths_senior_2 = opp_strengths_senior[(opp_strengths_senior['senior_team_rank'] > 10) & (opp_strengths_senior['senior_team_rank'] <= 30) ]
opp_strengths_senior_3 = opp_strengths_senior[(opp_strengths_senior['senior_team_rank'] > 30) & (opp_strengths_senior['senior_team_rank'] <= 60) ]
opp_strengths_senior_4 = opp_strengths_senior[opp_strengths_senior['senior_team_rank'] > 60]

opp_strengths_senior_1['Tier'] = 1
opp_strengths_senior_2['Tier'] = 2
opp_strengths_senior_3['Tier'] = 3
opp_strengths_senior_4['Tier'] = 4

opp_strengths_senior = pd.concat([opp_strengths_senior_1,  opp_strengths_senior_2,  opp_strengths_senior_3,  opp_strengths_senior_4], ignore_index = True)
opp_strengths_senior['TeamType'] = "Men's Senior"
opp_strengths_senior = opp_strengths_senior.rename(columns = {'country_name':'TeamName'})

display_all(opp_strengths_senior.sort_values(by = ['senior_team_rank']))

Downloading: 100%|█████████████████████████████████████████████████████████████|

/var/folders/2m/31gtyphx2h3fz_nycnfgx60c0000gp/T/ipykernel_23352/1577128284.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  opp_strengths_senior_1['Tier'] = 1
/var/folders/2m/31gtyphx2h3fz_nycnfgx60c0000gp/T/ipykernel_23352/1577128284.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  opp_strengths_senior_2['Tier'] = 2
/var/folders/2m/31gtyphx2h3fz_nycnfgx60c0000gp/T/ipykernel_23352/1577128284.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  opp_strengths_senior_3['Tier'] = 3
/var/folders/2m/31gtyphx2h3fz_nycnfgx60c0000gp/T/ipykernel_23352/1577128284.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  opp_strengths_senior_4['Tier'] = 4

                      TeamName  senior_team_rank  Tier      TeamType
6                      Germany                 1     1  Men's Senior
2                      England                 2     1  Men's Senior
8                        Spain                 3     1  Men's Senior
5                       France                 4     1  Men's Senior
7                        Italy                 5     1  Men's Senior
1                  Netherlands                 6     1  Men's Senior
9                     Portugal                 7     1  Men's Senior
4                       Brazil                 8     1  Men's Senior
3                      Belgium                 9     1  Men's Senior
0                    Argentina                10     1  Men's Senior
26                     Denmark                11     2  Men's Senior
17                      Norway                12     2  Men's Senior
21                     Austria                13     2  Men's Senior
19                       Japan                14     2  Men's Senior
15                     Czechia                15     2  Men's Senior
20                     Ukraine                16     2  Men's Senior
22                      Serbia                17     2  Men's Senior
10                 Switzerland                18     2  Men's Senior
13                     Croatia                19     2  Men's Senior
18                     Türkiye                20     2  Men's Senior
11                      Poland                21     2  Men's Senior
28                     Nigeria                22     2  Men's Senior
23                      Sweden                23     2  Men's Senior
14                    Colombia                24     2  Men's Senior
24                    Scotland                25     2  Men's Senior
27               Côte d'Ivoire                26     2  Men's Senior
25                    Slovakia                27     2  Men's Senior
16                     Morocco                28     2  Men's Senior
29              Basque Country                29     2  Men's Senior
12               United States                30     2  Men's Senior
37                     Uruguay                31     3  Men's Senior
50                      Russia                32     3  Men's Senior
40                     Hungary                33     3  Men's Senior
30              Korea Republic                34     3  Men's Senior
43                      Mexico                35     3  Men's Senior
34         Republic of Ireland                36     3  Men's Senior
35                       Wales                37     3  Men's Senior
42                    Paraguay                38     3  Men's Senior
58                    Cameroon                39     3  Men's Senior
36                      Greece                40     3  Men's Senior
47                     Georgia                41     3  Men's Senior
56                    Congo DR                42     3  Men's Senior
32                     Ecuador                43     3  Men's Senior
39                    Slovenia                44     3  Men's Senior
54                       Egypt                45     3  Men's Senior
57                     Senegal                46     3  Men's Senior
49                      Canada                47     3  Men's Senior
51                     Albania                48     3  Men's Senior
45                        Mali                49     3  Men's Senior
31                     Romania                50     3  Men's Senior
48          Bosnia-Herzegovina                51     3  Men's Senior
52                      Kosovo                52     3  Men's Senior
53                      Israel                53     3  Men's Senior
33                       Chile                54     3  Men's Senior
55                       Ghana                55     3  Men's Senior
38                     Iceland                56     3  Men's Senior
41                     Finland                57     3  Men's Senior
59                     Algeria                58     3  Men's Senior
46            Northern Ireland                59     3  Men's Senior
44                   Australia                60     3  Men's Senior
82                         UAE                61     4  Men's Senior
194                   Malaysia                62     4  Men's Senior
119                    Tunisia                63     4  Men's Senior
198                      Gabon                64     4  Men's Senior
88                    Bulgaria                65     4  Men's Senior
176                    Liberia                66     4  Men's Senior
64                   Venezuela                67     4  Men's Senior
83                        Iran                68     4  Men's Senior
63                        Peru                69     4  Men's Senior
200                   Suriname                70     4  Men's Senior
189         Cape Verde Islands                71     4  Men's Senior
69                Saudi Arabia                72     4  Men's Senior
212               Burkina Faso                73     4  Men's Senior
85                  Montenegro                74     4  Men's Senior
184                 Mozambique                75     4  Men's Senior
87             North Macedonia                76     4  Men's Senior
172                      Haiti                77     4  Men's Senior
159                   Honduras                78     4  Men's Senior
104                New Zealand                79     4  Men's Senior
60                    China PR                80     4  Men's Senior
123       Royal Russell School                81     4  Men's Senior
155                    Lesotho                82     4  Men's Senior
116                    Jamaica                83     4  Men's Senior
91                      Cyprus                84     4  Men's Senior
112               South Africa                85     4  Men's Senior
151                    Namibia                86     4  Men's Senior
67                      Guinea                87     4  Men's Senior
73                      Panama                88     4  Men's Senior
150                 Madagascar                89     4  Men's Senior
94                      Latvia                90     4  Men's Senior
203                     Gambia                91     4  Men's Senior
180                    Curaçao                92     4  Men's Senior
103                    Armenia                93     4  Men's Senior
169                 Martinique                94     4  Men's Senior
157                      Benin                95     4  Men's Senior
179                   Tanzania                96     4  Men's Senior
105                 Costa Rica                97     4  Men's Senior
168                       Togo                98     4  Men's Senior
173                     Angola                99     4  Men's Senior
89                  Luxembourg               100     4  Men's Senior
96                  Uzbekistan               101     4  Men's Senior
174              Guinea-Bissau               102     4  Men's Senior
106                      Qatar               103     4  Men's Senior
111                      Congo               104     4  Men's Senior
165                      Niger               105     4  Men's Senior
152                   Zimbabwe               106     4  Men's Senior
183                 Guadeloupe               107     4  Men's Senior
100                 Azerbaijan               108     4  Men's Senior
136          Shrewsbury School               109     4  Men's Senior
62                     Moldova               110     4  Men's Senior
137                    Comoros               111     4  Men's Senior
74                    Thailand               112     4  Men's Senior
142                   Al-Draih               113     4  Men's Senior
99                       Malta               114     4  Men's Senior
205                    Burundi               115     4  Men's Senior
202                 Mauritania               116     4  Men's Senior
181          Equatorial Guinea               117     4  Men's Senior
95                     Estonia               118     4  Men's Senior
199                    Bonaire               119     4  Men's Senior
109                     Jordan               120     4  Men's Senior
156                      Kenya               121     4  Men's Senior
102                 Kazakhstan               122     4  Men's Senior
120                     Zambia               123     4  Men's Senior
128   Central African Republic               124     4  Men's Senior
93                     Belarus               125     4  Men's Senior
68                       Syria               126     4  Men's Senior
101              Faroe Islands               127     4  Men's Senior
61                     Bolivia               128     4  Men's Senior
195                   Mongolia               129     4  Men's Senior
97                   Lithuania               130     4  Men's Senior
71                       India               131     4  Men's Senior
158                    Lebanon               132     4  Men's Senior
192                       Iraq               133     4  Men's Senior
166              French Guyana               134     4  Men's Senior
81                     Bahrain               135     4  Men's Senior
132                    Larissa               136     4  Men's Senior
65          Dominican Republic               137     4  Men's Senior
197                     Rwanda               138     4  Men's Senior
182                     Uganda               139     4  Men's Senior
115                    Grenada               140     4  Men's Senior
210                   Botswana               141     4  Men's Senior
66                   Indonesia               142     4  Men's Senior
76                     Vietnam               143     4  Men's Senior
164                     Guyana               144     4  Men's Senior
86                   Guatemala               145     4  Men's Senior
134               Sierra Leone               146     4  Men's Senior
118        Trinidad and Tobago               147     4  Men's Senior
122                El Salvador               148     4  Men's Senior
125                       Chad               149     4  Men's Senior
149                     Malawi               150     4  Men's Senior
196                  Mauritius               151     4  Men's Senior
110                  Palestine               152     4  Men's Senior
153                       NEOM               153     4  Men's Senior
126                     Belize               154     4  Men's Senior
135                 Al-Qaisoma               155     4  Men's Senior
191              Repton School               156     4  Men's Senior
139        Antigua and Barbuda               157     4  Men's Senior
140           Portugal Legends               158     4  Men's Senior
163   St. Vincent / Grenadines               159     4  Men's Senior
211               Sint Maarten               160     4  Men's Senior
107              Liechtenstein               161     4  Men's Senior
78                   Hong Kong               162     4  Men's Senior
146               Saint Martin               163     4  Men's Senior
79                  Bangladesh               164     4  Men's Senior
121                  Nicaragua               165     4  Men's Senior
190                  St. Lucia               166     4  Men's Senior
92                     Andorra               167     4  Men's Senior
147                 Montserrat               168     4  Men's Senior
117                Puerto Rico               169     4  Men's Senior
70                 Philippines               170     4  Men's Senior
90                   Gibraltar               171     4  Men's Senior
204                   Pakistan               172     4  Men's Senior
209                  Korea DPR               173     4  Men's Senior
77                  Kyrgyzstan               174     4  Men's Senior
72                  Tajikistan               175     4  Men's Senior
84                   Singapore               176     4  Men's Senior
108                       Cuba               177     4  Men's Senior
167                      Sudan               178     4  Men's Senior
207                       Oman               179     4  Men's Senior
177        St. Kitts and Nevis               180     4  Men's Senior
114                   Cambodia               181     4  Men's Senior
185             Chinese Taipei               182     4  Men's Senior
113                    Bermuda               183     4  Men's Senior
187                   Ethiopia               184     4  Men's Senior
133              New Caledonia               185     4  Men's Senior
206           PAOK Salonika II               186     4  Men's Senior
98                  San Marino               187     4  Men's Senior
80                        Laos               188     4  Men's Senior
129                Afghanistan               189     4  Men's Senior
154                    Myanmar               190     4  Men's Senior
130                      Nepal               191     4  Men's Senior
178                  Sri Lanka               192     4  Men's Senior
138                      Libya               193     4  Men's Senior
208   Turks and Caicos Islands               194     4  Men's Senior
161                   Dominica               195     4  Men's Senior
170              Denmark U16 B               196     4  Men's Senior
127    Selection U15 team East               197     4  Men's Senior
160                    Vanuatu               198     4  Men's Senior
148                South Sudan               199     4  Men's Senior
186            Solomon Islands               200     4  Men's Senior
75                 Timor-Leste               201     4  Men's Senior
131    Selection U15 team West               202     4  Men's Senior
171                      Aruba               203     4  Men's Senior
175                   Eswatini               204     4  Men's Senior
145          US Virgin Islands               205     4  Men's Senior
193                       Fiji               206     4  Men's Senior
162                 ADH Brasil               207     4  Men's Senior
201           Millfield School               208     4  Men's Senior
143  Selection U15 team West B               209     4  Men's Senior
144                     Kuwait               210     4  Men's Senior
188             Hampton School               211     4  Men's Senior
141          Bradfield College               212     4  Men's Senior
124     British Virgin Islands               213     4  Men's Senior

In [246]:
'''
opp_strengths_senior.to_gbq(
            destination_table='dev_vanni.senior_team_tier',
            project_id='the-fa-performance-insights',
            if_exists='replace'
        )
'''

"\nopp_strengths_senior.to_gbq(\n            destination_table='dev_vanni.senior_team_tier',\n            project_id='the-fa-performance-insights',\n            if_exists='replace'\n        )\n"

In [247]:
'''

opp_strengths_query = """
SELECT *
FROM `the-fa-analysis-and-insight.oppo_metrics.tier_rankings_table`
"""

opp_strengths = pandas_gbq.read_gbq(opp_strengths_query, project_id = 'the-fa-analysis-and-insight')
opp_strengths_senior = opp_strengths[opp_strengths['TeamType'] == "Men's Senior"]

'''

'\n\nopp_strengths_query = """\nSELECT *\nFROM `the-fa-analysis-and-insight.oppo_metrics.tier_rankings_table`\n"""\n\nopp_strengths = pandas_gbq.read_gbq(opp_strengths_query, project_id = \'the-fa-analysis-and-insight\')\nopp_strengths_senior = opp_strengths[opp_strengths[\'TeamType\'] == "Men\'s Senior"]\n\n'

In [248]:
display_all(opp_strengths_senior)

                      TeamName  senior_team_rank  Tier      TeamType
0                    Argentina                10     1  Men's Senior
1                  Netherlands                 6     1  Men's Senior
2                      England                 2     1  Men's Senior
3                      Belgium                 9     1  Men's Senior
4                       Brazil                 8     1  Men's Senior
5                       France                 4     1  Men's Senior
6                      Germany                 1     1  Men's Senior
7                        Italy                 5     1  Men's Senior
8                        Spain                 3     1  Men's Senior
9                     Portugal                 7     1  Men's Senior
10                 Switzerland                18     2  Men's Senior
11                      Poland                21     2  Men's Senior
12               United States                30     2  Men's Senior
13                     Croatia                19     2  Men's Senior
14                    Colombia                24     2  Men's Senior
15                     Czechia                15     2  Men's Senior
16                     Morocco                28     2  Men's Senior
17                      Norway                12     2  Men's Senior
18                     Türkiye                20     2  Men's Senior
19                       Japan                14     2  Men's Senior
20                     Ukraine                16     2  Men's Senior
21                     Austria                13     2  Men's Senior
22                      Serbia                17     2  Men's Senior
23                      Sweden                23     2  Men's Senior
24                    Scotland                25     2  Men's Senior
25                    Slovakia                27     2  Men's Senior
26                     Denmark                11     2  Men's Senior
27               Côte d'Ivoire                26     2  Men's Senior
28                     Nigeria                22     2  Men's Senior
29              Basque Country                29     2  Men's Senior
30              Korea Republic                34     3  Men's Senior
31                     Romania                50     3  Men's Senior
32                     Ecuador                43     3  Men's Senior
33                       Chile                54     3  Men's Senior
34         Republic of Ireland                36     3  Men's Senior
35                       Wales                37     3  Men's Senior
36                      Greece                40     3  Men's Senior
37                     Uruguay                31     3  Men's Senior
38                     Iceland                56     3  Men's Senior
39                    Slovenia                44     3  Men's Senior
40                     Hungary                33     3  Men's Senior
41                     Finland                57     3  Men's Senior
42                    Paraguay                38     3  Men's Senior
43                      Mexico                35     3  Men's Senior
44                   Australia                60     3  Men's Senior
45                        Mali                49     3  Men's Senior
46            Northern Ireland                59     3  Men's Senior
47                     Georgia                41     3  Men's Senior
48          Bosnia-Herzegovina                51     3  Men's Senior
49                      Canada                47     3  Men's Senior
50                      Russia                32     3  Men's Senior
51                     Albania                48     3  Men's Senior
52                      Kosovo                52     3  Men's Senior
53                      Israel                53     3  Men's Senior
54                       Egypt                45     3  Men's Senior
55                       Ghana                55     3  Men's Senior
56                    Congo DR                42     3  Men's Senior
57                     Senegal                46     3  Men's Senior
58                    Cameroon                39     3  Men's Senior
59                     Algeria                58     3  Men's Senior
60                    China PR                80     4  Men's Senior
61                     Bolivia               128     4  Men's Senior
62                     Moldova               110     4  Men's Senior
63                        Peru                69     4  Men's Senior
64                   Venezuela                67     4  Men's Senior
65          Dominican Republic               137     4  Men's Senior
66                   Indonesia               142     4  Men's Senior
67                      Guinea                87     4  Men's Senior
68                       Syria               126     4  Men's Senior
69                Saudi Arabia                72     4  Men's Senior
70                 Philippines               170     4  Men's Senior
71                       India               131     4  Men's Senior
72                  Tajikistan               175     4  Men's Senior
73                      Panama                88     4  Men's Senior
74                    Thailand               112     4  Men's Senior
75                 Timor-Leste               201     4  Men's Senior
76                     Vietnam               143     4  Men's Senior
77                  Kyrgyzstan               174     4  Men's Senior
78                   Hong Kong               162     4  Men's Senior
79                  Bangladesh               164     4  Men's Senior
80                        Laos               188     4  Men's Senior
81                     Bahrain               135     4  Men's Senior
82                         UAE                61     4  Men's Senior
83                        Iran                68     4  Men's Senior
84                   Singapore               176     4  Men's Senior
85                  Montenegro                74     4  Men's Senior
86                   Guatemala               145     4  Men's Senior
87             North Macedonia                76     4  Men's Senior
88                    Bulgaria                65     4  Men's Senior
89                  Luxembourg               100     4  Men's Senior
90                   Gibraltar               171     4  Men's Senior
91                      Cyprus                84     4  Men's Senior
92                     Andorra               167     4  Men's Senior
93                     Belarus               125     4  Men's Senior
94                      Latvia                90     4  Men's Senior
95                     Estonia               118     4  Men's Senior
96                  Uzbekistan               101     4  Men's Senior
97                   Lithuania               130     4  Men's Senior
98                  San Marino               187     4  Men's Senior
99                       Malta               114     4  Men's Senior
100                 Azerbaijan               108     4  Men's Senior
101              Faroe Islands               127     4  Men's Senior
102                 Kazakhstan               122     4  Men's Senior
103                    Armenia                93     4  Men's Senior
104                New Zealand                79     4  Men's Senior
105                 Costa Rica                97     4  Men's Senior
106                      Qatar               103     4  Men's Senior
107              Liechtenstein               161     4  Men's Senior
108                       Cuba               177     4  Men's Senior
109                     Jordan               120     4  Men's Senior
110                  Palestine               152     4  Men's Senior
111                      Congo               104     4  Men's Senior
112               South Africa                85     4  Men's Senior
113                    Bermuda               183     4  Men's Senior
114                   Cambodia               181     4  Men's Senior
115                    Grenada               140     4  Men's Senior
116                    Jamaica                83     4  Men's Senior
117                Puerto Rico               169     4  Men's Senior
118        Trinidad and Tobago               147     4  Men's Senior
119                    Tunisia                63     4  Men's Senior
120                     Zambia               123     4  Men's Senior
121                  Nicaragua               165     4  Men's Senior
122                El Salvador               148     4  Men's Senior
123       Royal Russell School                81     4  Men's Senior
124     British Virgin Islands               213     4  Men's Senior
125                       Chad               149     4  Men's Senior
126                     Belize               154     4  Men's Senior
127    Selection U15 team East               197     4  Men's Senior
128   Central African Republic               124     4  Men's Senior
129                Afghanistan               189     4  Men's Senior
130                      Nepal               191     4  Men's Senior
131    Selection U15 team West               202     4  Men's Senior
132                    Larissa               136     4  Men's Senior
133              New Caledonia               185     4  Men's Senior
134               Sierra Leone               146     4  Men's Senior
135                 Al-Qaisoma               155     4  Men's Senior
136          Shrewsbury School               109     4  Men's Senior
137                    Comoros               111     4  Men's Senior
138                      Libya               193     4  Men's Senior
139        Antigua and Barbuda               157     4  Men's Senior
140           Portugal Legends               158     4  Men's Senior
141          Bradfield College               212     4  Men's Senior
142                   Al-Draih               113     4  Men's Senior
143  Selection U15 team West B               209     4  Men's Senior
144                     Kuwait               210     4  Men's Senior
145          US Virgin Islands               205     4  Men's Senior
146               Saint Martin               163     4  Men's Senior
147                 Montserrat               168     4  Men's Senior
148                South Sudan               199     4  Men's Senior
149                     Malawi               150     4  Men's Senior
150                 Madagascar                89     4  Men's Senior
151                    Namibia                86     4  Men's Senior
152                   Zimbabwe               106     4  Men's Senior
153                       NEOM               153     4  Men's Senior
154                    Myanmar               190     4  Men's Senior
155                    Lesotho                82     4  Men's Senior
156                      Kenya               121     4  Men's Senior
157                      Benin                95     4  Men's Senior
158                    Lebanon               132     4  Men's Senior
159                   Honduras                78     4  Men's Senior
160                    Vanuatu               198     4  Men's Senior
161                   Dominica               195     4  Men's Senior
162                 ADH Brasil               207     4  Men's Senior
163   St. Vincent / Grenadines               159     4  Men's Senior
164                     Guyana               144     4  Men's Senior
165                      Niger               105     4  Men's Senior
166              French Guyana               134     4  Men's Senior
167                      Sudan               178     4  Men's Senior
168                       Togo                98     4  Men's Senior
169                 Martinique                94     4  Men's Senior
170              Denmark U16 B               196     4  Men's Senior
171                      Aruba               203     4  Men's Senior
172                      Haiti                77     4  Men's Senior
173                     Angola                99     4  Men's Senior
174              Guinea-Bissau               102     4  Men's Senior
175                   Eswatini               204     4  Men's Senior
176                    Liberia                66     4  Men's Senior
177        St. Kitts and Nevis               180     4  Men's Senior
178                  Sri Lanka               192     4  Men's Senior
179                   Tanzania                96     4  Men's Senior
180                    Curaçao                92     4  Men's Senior
181          Equatorial Guinea               117     4  Men's Senior
182                     Uganda               139     4  Men's Senior
183                 Guadeloupe               107     4  Men's Senior
184                 Mozambique                75     4  Men's Senior
185             Chinese Taipei               182     4  Men's Senior
186            Solomon Islands               200     4  Men's Senior
187                   Ethiopia               184     4  Men's Senior
188             Hampton School               211     4  Men's Senior
189         Cape Verde Islands                71     4  Men's Senior
190                  St. Lucia               166     4  Men's Senior
191              Repton School               156     4  Men's Senior
192                       Iraq               133     4  Men's Senior
193                       Fiji               206     4  Men's Senior
194                   Malaysia                62     4  Men's Senior
195                   Mongolia               129     4  Men's Senior
196                  Mauritius               151     4  Men's Senior
197                     Rwanda               138     4  Men's Senior
198                      Gabon                64     4  Men's Senior
199                    Bonaire               119     4  Men's Senior
200                   Suriname                70     4  Men's Senior
201           Millfield School               208     4  Men's Senior
202                 Mauritania               116     4  Men's Senior
203                     Gambia                91     4  Men's Senior
204                   Pakistan               172     4  Men's Senior
205                    Burundi               115     4  Men's Senior
206           PAOK Salonika II               186     4  Men's Senior
207                       Oman               179     4  Men's Senior
208   Turks and Caicos Islands               194     4  Men's Senior
209                  Korea DPR               173     4  Men's Senior
210                   Botswana               141     4  Men's Senior
211               Sint Maarten               160     4  Men's Senior
212               Burkina Faso                73     4  Men's Senior

In [249]:
opp_strengths_senior[opp_strengths_senior['TeamName'].str.contains('Canada')].head()

   TeamName  senior_team_rank  Tier      TeamType
49   Canada                47     3  Men's Senior

In [250]:
new_df_f_out_copy = new_df_f_out[(~new_df_f_out['event_team_name'].isnull()) & (~new_df_f_out['against_team_name'].isnull())]
new_df_f_out_copy['game_phase_id'] = new_df_f_out_copy['game_id'].astype(str) + '_' + new_df_f_out_copy['start_time'].astype(str) + '_' + new_df_f_out_copy['end_time'].astype(str)

/var/folders/2m/31gtyphx2h3fz_nycnfgx60c0000gp/T/ipykernel_23352/2150354210.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_f_out_copy['game_phase_id'] = new_df_f_out_copy['game_id'].astype(str) + '_' + new_df_f_out_copy['start_time'].astype(str) + '_' + new_df_f_out_copy['end_time'].astype(str)

In [251]:
def find_opponent_strength(team_, opponent_):
        
        team_general = team_.replace(' U15', '').replace(' U16', '').replace(' U17', '').replace(' U18', '').replace(' U19', '').replace(' U20', '').replace(' U21', '').replace(' U22', '').replace(' U23', '').replace('Czech Republic','Czechia').replace('USA','United States').replace('IR Iran','Iran').replace('Bosnia and Herzegovina','Bosnia-Herzegovina').replace('DPR Korea','Korea DPR').replace('United Arab Emirates','UAE')
        opponent_general = opponent_.replace(' U15', '').replace(' U16', '').replace(' U17', '').replace(' U18', '').replace(' U19', '').replace(' U20', '').replace(' U21', '').replace(' U22', '').replace(' U23', '').replace('Czech Republic','Czechia').replace('USA','United States').replace('IR Iran','Iran').replace('Bosnia and Herzegovina','Bosnia-Herzegovina').replace('DPR Korea','Korea DPR').replace('United Arab Emirates','UAE')

        team_strengths_filt = opp_strengths_senior[opp_strengths_senior['TeamName'].str.contains(team_general)]
        opp_strengths_filt = opp_strengths_senior[opp_strengths_senior['TeamName'].str.contains(opponent_general)]

        if not team_strengths_filt.empty:
            team_out = team_strengths_filt['Tier'].iloc[0]
        else:
            team_out = None
            
        if not opp_strengths_filt.empty:
            opp_out = opp_strengths_filt['Tier'].iloc[0]
        else:
            opp_out = None

        return [team_out, opp_out]

new_df_f_out_copy['event_team_name'] = new_df_f_out_copy['event_team_name'].astype(str)
new_df_f_out_copy['against_team_name'] = new_df_f_out_copy['against_team_name'].astype(str)

new_df_f_out_copy[['team_tier', 'against_tier']] = ( new_df_f_out_copy.apply(lambda row: find_opponent_strength(row.event_team_name, row.against_team_name), axis=1) .apply(pd.Series) )
display_all(new_df_f_out_copy.head())

/var/folders/2m/31gtyphx2h3fz_nycnfgx60c0000gp/T/ipykernel_23352/2016987640.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_f_out_copy['event_team_name'] = new_df_f_out_copy['event_team_name'].astype(str)
/var/folders/2m/31gtyphx2h3fz_nycnfgx60c0000gp/T/ipykernel_23352/2016987640.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_f_out_copy['against_team_name'] = new_df_f_out_copy['against_team_name'].astype(str)
/var/folders/2m/31gtyphx2h3fz_nycnfgx60c0000gp/T/ipykernel_23352/2016987640.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_f_out_copy[['team_tier', 'against_tier']] = ( new_df_f_out_copy.apply(lambda row: find_opponent_strength(row.event_team_name, row.against_team_name), axis=1) .apply(pd.Series) )
/var/folders/2m/31gtyphx2h3fz_nycnfgx60c0000gp/T/ipykernel_23352/2016987640.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_f_out_copy[['team_tier', 'against_tier']] = ( new_df_f_out_copy.apply(lambda row: find_opponent_strength(row.event_team_name, row.against_team_name), axis=1) .apply(pd.Series) )

,game_id,team_phase_id,create_phase_label,vertical_pass_distance,horizontal_pass_distance,event_outcome,n_of_events,half,start_time,end_time,left,inside_left,central,inside_right,right,long_passes,switch_passes,phase_description,event_team_name,against_team_name,phase,time_diff,BUILD_CREATE,BUILD_FINISH,CREATE_BUILD,CREATE_FINISH,FINISH_BUILD,FINISH_CREATE,event_x_BUILD_CREATE,event_x_BUILD_FINISH,event_x_CREATE_BUILD,event_x_CREATE_FINISH,event_x_FINISH_BUILD,event_x_FINISH_CREATE,event_y_BUILD_CREATE,event_y_BUILD_FINISH,event_y_CREATE_BUILD,event_y_CREATE_FINISH,event_y_FINISH_BUILD,event_y_FINISH_CREATE,end_x_BUILD_CREATE,end_x_BUILD_FINISH,end_x_CREATE_BUILD,end_x_CREATE_FINISH,end_x_FINISH_BUILD,end_x_FINISH_CREATE,end_y_BUILD_CREATE,end_y_BUILD_FINISH,end_y_CREATE_BUILD,end_y_CREATE_FINISH,end_y_FINISH_BUILD,end_y_FINISH_CREATE,unique_id,create_to_finish_phase_description,game_phase_id,team_tier,against_tier
79,2200777,9459.0,CREATE 1,36.120,31.076,2.0,3.0,1.0,0.538,9.079,1.0,0.0,1.0,0.0,0.0,1.0,0.0,Into / Onto,England U18,Wales U18,CREATE,8.541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2200777_England U18_CREATE 1,Into / Onto,2200777_0.538_9.079,1,3
98,2200777,9459.0,CREATE 2,110.565,120.972,6.0,7.0,1.0,11.365,37.157,1.0,1.0,1.0,0.0,1.0,2.0,1.0,Into / Onto,England U18,Wales U18,CREATE,25.792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2200777_England U18_CREATE 2,Into / Onto,2200777_11.365_37.157,1,3
1,2200777,18187.0,BUILD 1,0.000,0.000,1.0,1.0,1.0,61.245,65.859,0.0,1.0,0.0,0.0,0.0,0.0,0.0,Through,Wales U18,England U18,BUILD,4.614,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2200777_Wales U18_BUILD 1,Through,2200777_61.245_65.859,3,1
80,2200777,18187.0,CREATE 1,1.785,0.408,0.0,1.0,1.0,65.859,70.148,0.0,1.0,0.0,0.0,0.0,0.0,0.0,Through,Wales U18,England U18,CREATE,4.289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2200777_Wales U18_CREATE 1,Through,2200777_65.859_70.148,3,1
113,2200777,9459.0,CREATE 3,64.575,86.496,6.0,6.0,1.0,70.148,88.941,1.0,1.0,1.0,0.0,1.0,1.0,1.0,Into / Onto,England U18,Wales U18,CREATE,18.793,NaN,NaN,NaN,Long,NaN,NaN,NaN,NaN,NaN,56.5,NaN,NaN,NaN,NaN,NaN,47.3,NaN,NaN,NaN,NaN,NaN,86.1,NaN,NaN,NaN,NaN,,74.4,,,2200777_England U18_CREATE 3,Around,2200777_70.148_88.941,1,3

In [252]:
new_df_f_out_copy[(new_df_f_out_copy['team_tier'].isnull()) | (new_df_f_out_copy['against_tier'].isnull())][['event_team_name','against_team_name','team_tier','against_tier']].drop_duplicates()

Empty DataFrame
Columns: [event_team_name, against_team_name, team_tier, against_tier]
Index: []

In [253]:
new_df_f_out_copy = new_df_f_out_copy[(~new_df_f_out_copy['team_tier'].isnull()) & (~new_df_f_out_copy['against_tier'].isnull())]
len(new_df_f_out_copy['game_id'].unique())

209

In [254]:
new_df_f_out_copy[(new_df_f_out_copy['event_team_name'] == 'England U21') & (new_df_f_out_copy['against_team_name'] == 'Andorra U21')]

Empty DataFrame
Columns: [game_id, team_phase_id, create_phase_label, vertical_pass_distance, horizontal_pass_distance, event_outcome, n_of_events, half, start_time, end_time, left, inside_left, central, inside_right, right, long_passes, switch_passes, phase_description, event_team_name, against_team_name, phase, time_diff, BUILD_CREATE, BUILD_FINISH, CREATE_BUILD, CREATE_FINISH, FINISH_BUILD, FINISH_CREATE, event_x_BUILD_CREATE, event_x_BUILD_FINISH, event_x_CREATE_BUILD, event_x_CREATE_FINISH, event_x_FINISH_BUILD, event_x_FINISH_CREATE, event_y_BUILD_CREATE, event_y_BUILD_FINISH, event_y_CREATE_BUILD, event_y_CREATE_FINISH, event_y_FINISH_BUILD, event_y_FINISH_CREATE, end_x_BUILD_CREATE, end_x_BUILD_FINISH, end_x_CREATE_BUILD, end_x_CREATE_FINISH, end_x_FINISH_BUILD, end_x_FINISH_CREATE, end_y_BUILD_CREATE, end_y_BUILD_FINISH, end_y_CREATE_BUILD, end_y_CREATE_FINISH, end_y_FINISH_BUILD, end_y_FINISH_CREATE, unique_id, create_to_finish_phase_description, game_phase_id, team_tier, against_tier]
Index: []

[0 rows x 57 columns]

In [255]:
display_all(new_df_f_out_copy[['game_id','team_tier','against_tier']].drop_duplicates().groupby(by = ['team_tier','against_tier'])['game_id'].count())

team_tier  against_tier
1          1               30
           2               37
           3               24
           4               32
2          1               37
           2                5
           3               15
           4               20
3          1               24
           2               15
           3                7
           4               21
4          1               32
           2               20
           3               21
           4               18
Name: game_id, dtype: Int64

In [256]:
new_df_f_out_copy[new_df_f_out_copy['event_team_name'] == 'Romania U21']

Empty DataFrame
Columns: [game_id, team_phase_id, create_phase_label, vertical_pass_distance, horizontal_pass_distance, event_outcome, n_of_events, half, start_time, end_time, left, inside_left, central, inside_right, right, long_passes, switch_passes, phase_description, event_team_name, against_team_name, phase, time_diff, BUILD_CREATE, BUILD_FINISH, CREATE_BUILD, CREATE_FINISH, FINISH_BUILD, FINISH_CREATE, event_x_BUILD_CREATE, event_x_BUILD_FINISH, event_x_CREATE_BUILD, event_x_CREATE_FINISH, event_x_FINISH_BUILD, event_x_FINISH_CREATE, event_y_BUILD_CREATE, event_y_BUILD_FINISH, event_y_CREATE_BUILD, event_y_CREATE_FINISH, event_y_FINISH_BUILD, event_y_FINISH_CREATE, end_x_BUILD_CREATE, end_x_BUILD_FINISH, end_x_CREATE_BUILD, end_x_CREATE_FINISH, end_x_FINISH_BUILD, end_x_FINISH_CREATE, end_y_BUILD_CREATE, end_y_BUILD_FINISH, end_y_CREATE_BUILD, end_y_CREATE_FINISH, end_y_FINISH_BUILD, end_y_FINISH_CREATE, unique_id, create_to_finish_phase_description, game_phase_id, team_tier, against_tier]
Index: []

[0 rows x 57 columns]

In [257]:
team_ = 'Germany U18'
print(len(new_df_f_out_copy[(new_df_f_out_copy['event_team_name'] ==  team_) & (new_df_f_out_copy['CREATE_FINISH'].isnull()) & (new_df_f_out_copy['CREATE_FINISH'] != '')]))
print(len(new_df_f_out_copy[(new_df_f_out_copy['event_team_name'] ==  team_) & (new_df_f_out_copy['phase'] == 'CREATE')]))

#display_all(new_df_f_out_copy[new_df_f_out_copy['event_team_name'] == 'Germany U21'].head())

285
127

In [258]:
display_all(new_df_f_out_copy[(~new_df_f_out_copy['BUILD_FINISH'].isnull()) | (~new_df_f_out_copy['CREATE_FINISH'].isnull())].head())

,game_id,team_phase_id,create_phase_label,vertical_pass_distance,horizontal_pass_distance,event_outcome,n_of_events,half,start_time,end_time,left,inside_left,central,inside_right,right,long_passes,switch_passes,phase_description,event_team_name,against_team_name,phase,time_diff,BUILD_CREATE,BUILD_FINISH,CREATE_BUILD,CREATE_FINISH,FINISH_BUILD,FINISH_CREATE,event_x_BUILD_CREATE,event_x_BUILD_FINISH,event_x_CREATE_BUILD,event_x_CREATE_FINISH,event_x_FINISH_BUILD,event_x_FINISH_CREATE,event_y_BUILD_CREATE,event_y_BUILD_FINISH,event_y_CREATE_BUILD,event_y_CREATE_FINISH,event_y_FINISH_BUILD,event_y_FINISH_CREATE,end_x_BUILD_CREATE,end_x_BUILD_FINISH,end_x_CREATE_BUILD,end_x_CREATE_FINISH,end_x_FINISH_BUILD,end_x_FINISH_CREATE,end_y_BUILD_CREATE,end_y_BUILD_FINISH,end_y_CREATE_BUILD,end_y_CREATE_FINISH,end_y_FINISH_BUILD,end_y_FINISH_CREATE,unique_id,create_to_finish_phase_description,game_phase_id,team_tier,against_tier
113,2200777,9459.0,CREATE 3,64.575,86.496,6.0,6.0,1.0,70.148,88.941,1.0,1.0,1.0,0.0,1.0,1.0,1.0,Into / Onto,England U18,Wales U18,CREATE,18.793,NaN,NaN,NaN,Long,NaN,NaN,NaN,NaN,NaN,56.5,NaN,NaN,NaN,NaN,NaN,47.3,NaN,NaN,NaN,NaN,NaN,86.1,NaN,NaN,NaN,NaN,,74.4,,,2200777_England U18_CREATE 3,Around,2200777_70.148_88.941,1,3
182,2200777,9459.0,FINISH 1,58.590,50.864,6.0,6.0,1.0,88.941,101.493,0.0,0.0,1.0,2.0,1.0,0.0,0.0,Through,England U18,Wales U18,FINISH,12.552,NaN,NaN,NaN,Long,NaN,Carry - Through Inside,NaN,NaN,NaN,56.5,NaN,46.6,NaN,NaN,NaN,47.3,NaN,36.4,NaN,NaN,NaN,86.1,NaN,47.4,NaN,NaN,,74.4,,40.4,2200777_England U18_FINISH 1,Through,2200777_88.941_101.493,1,3
84,2200777,18187.0,CREATE 11,28.140,31.008,3.0,3.0,1.0,990.596,999.135,0.0,0.0,1.0,1.0,0.0,0.0,0.0,Through,Wales U18,England U18,CREATE,8.539,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN,NaN,50.6,NaN,NaN,NaN,NaN,NaN,38.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,,2200777_Wales U18_CREATE 11,Through,2200777_990.596_999.135,3,1
209,2200777,18187.0,FINISH 6,0.000,0.000,1.0,1.0,1.0,1029.276,1038.755,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Through,Wales U18,England U18,FINISH,9.479,NaN,NaN,NaN,Error,NaN,NaN,NaN,NaN,NaN,50.6,NaN,NaN,NaN,NaN,NaN,38.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,,2200777_Wales U18_FINISH 6,Through,2200777_1029.276_1038.755,3,1
106,2200777,9459.0,CREATE 26,54.495,24.276,4.0,5.0,1.0,1604.520,1628.680,1.0,1.0,0.0,0.0,0.0,0.0,0.0,Through,England U18,Wales U18,CREATE,24.160,NaN,NaN,NaN,Carry - Around,NaN,NaN,NaN,NaN,NaN,88.9,NaN,NaN,NaN,NaN,NaN,79.4,NaN,NaN,NaN,NaN,NaN,89.7,NaN,NaN,NaN,NaN,,88.3,,,2200777_England U18_CREATE 26,Around,2200777_1604.52_1628.68,1,3

In [259]:
new_df_f_out_copy[(new_df_f_out_copy['event_team_name'] ==  team_) & (new_df_f_out_copy['create_to_finish_phase_description'] != '') & (~new_df_f_out_copy['create_to_finish_phase_description'].isnull())]['game_phase_id'].count()
new_df_f_out_copy[(new_df_f_out_copy['event_team_name'] ==  team_)]['game_phase_id'].count()

print(new_df_f_out_copy[(new_df_f_out_copy['event_team_name'] ==  team_)].groupby(by = ['event_team_name','against_team_name','game_id'])['game_phase_id'].count().reset_index().rename(columns = {'game_phase_id':'total_create_to_finish'}))
print(new_df_f_out_copy[(new_df_f_out_copy['event_team_name'] ==  team_) & (new_df_f_out_copy['create_to_finish_phase_description'] != '') & (~new_df_f_out_copy['create_to_finish_phase_description'].isnull())].groupby(by = ['event_team_name','against_team_name','game_id'])['game_phase_id'].count().reset_index().rename(columns = {'game_phase_id':'successful_create_to_finish'}))

  event_team_name against_team_name  game_id  total_create_to_finish
0     Germany U18       England U18  2438169                      96
1     Germany U18       England U18  2490778                     122
2     Germany U18   Netherlands U18  2607980                      79
  event_team_name against_team_name  game_id  successful_create_to_finish
0     Germany U18       England U18  2438169                           96
1     Germany U18       England U18  2490778                          122
2     Germany U18   Netherlands U18  2607980                           79

In [260]:
display_all(new_df_f_out_copy[new_df_f_out_copy['time_diff'] == ''])

Empty DataFrame
Columns: [game_id, team_phase_id, create_phase_label, vertical_pass_distance, horizontal_pass_distance, event_outcome, n_of_events, half, start_time, end_time, left, inside_left, central, inside_right, right, long_passes, switch_passes, phase_description, event_team_name, against_team_name, phase, time_diff, BUILD_CREATE, BUILD_FINISH, CREATE_BUILD, CREATE_FINISH, FINISH_BUILD, FINISH_CREATE, event_x_BUILD_CREATE, event_x_BUILD_FINISH, event_x_CREATE_BUILD, event_x_CREATE_FINISH, event_x_FINISH_BUILD, event_x_FINISH_CREATE, event_y_BUILD_CREATE, event_y_BUILD_FINISH, event_y_CREATE_BUILD, event_y_CREATE_FINISH, event_y_FINISH_BUILD, event_y_FINISH_CREATE, end_x_BUILD_CREATE, end_x_BUILD_FINISH, end_x_CREATE_BUILD, end_x_CREATE_FINISH, end_x_FINISH_BUILD, end_x_FINISH_CREATE, end_y_BUILD_CREATE, end_y_BUILD_FINISH, end_y_CREATE_BUILD, end_y_CREATE_FINISH, end_y_FINISH_BUILD, end_y_FINISH_CREATE, unique_id, create_to_finish_phase_description, game_phase_id, team_tier, against_tier]
Index: []

In [261]:
single_games_team_metrics = pd.DataFrame()

for team_name in new_df_f_out_copy['event_team_name'].unique():

    print(team_name)
    
    game_teamed_time_metrics = find_per_game_time_metrics(new_df_f_out_copy, team_name)
    print(len(game_teamed_time_metrics['game_id'].unique()))
    game_teamed_create_finish_metrics = find_per_game_create_to_finish_metrics(new_df_f_out_copy, 'event_team_name', team_name)
    opp_game_teamed_create_finish_metrics = find_per_game_create_to_finish_metrics(new_df_f_out_copy, 'against_team_name', team_name)
    
    single_games_team_metrics = pd.concat([single_games_team_metrics, game_teamed_time_metrics, game_teamed_create_finish_metrics], ignore_index = True)

display_all(single_games_team_metrics.sort_values(by = ['game_id','event_team_name']).head(20))

England U18
48
Wales U18
3
Norway U18
2
Russia U18
1
Netherlands U18
7
Belgium U18
4
Portugal U18
5
Sweden U18
3
Denmark U18
1
Austria U18
1
Croatia U18
2
Faroe Islands U18
1
Switzerland U18
3
Australia U18
1
France U18
5
Japan U18
1
Panama U17
6
Morocco U17
11
Indonesia U17
6
Ecuador U17
4
Spain U17
5
Canada U17
7
Uzbekistan U17
10
Mali U17
12
Brazil U17
13
IR Iran U17
4
New Caledonia U17
6
England U17
9
Argentina U17
11
Senegal U17
8
France U17
12
Burkina Faso U17
9
Korea Republic U17
7
USA U17
8
Mexico U17
9
Germany U17
11
Venezuela U17
8
New Zealand U17
6
Japan U17
9
Poland U17
2
Korea Republic U18
1
Morocco U18
4
Czechia U18
2
Germany U18
3
Northern Ireland U18
1
Sweden U17
1
Ukraine U19
1
Poland U18
2
Italy U17
8
Qatar U17
3
Bolivia U17
3
South Africa U17
4
Portugal U17
8
Croatia U17
4
Costa Rica U17
3
United Arab Emirates U17
3
Belgium U17
4
Fiji U17
3
Tunisia U17
4
Egypt U17
4
Haiti U17
3
Switzerland U17
6
Côte d'Ivoire U17
3
Colombia U17
4
El Salvador U17
3
DPR Korea U17
5
Honduras U17
3
Zambia U17
4
Tajikistan U17
3
Czechia U17
4
Paraguay U17
4
Republic of Ireland U17
5
Chile U17
3
Uganda U17
5
Austria U17
8
Saudi Arabia U17
3
Uzbekistan U18
1
Canada U18
1
Bosnia and Herzegovina U18
1
Hungary U18
2
Slovakia U18
1

,event_team_name,game_id,against_team_name,team_tier,against_tier,phase,time_diff,KPI,Value,n_of_matches,total_create_to_finish,successful_create_to_finish
0,England U18,2200777,Wales U18,1.0,3.0,BUILD,614.164,% IN BUILD PHASE,20.12,48,NaN,NaN
1,England U18,2200777,Wales U18,1.0,3.0,CREATE,1017.954,% IN CREATE PHASE,33.35,48,NaN,NaN
2,England U18,2200777,Wales U18,1.0,3.0,FINISH,430.967,% IN FINISH PHASE,14.12,48,NaN,NaN
147,England U18,2200777,Wales U18,1.0,3.0,% IN HIGH BLOCK,338.170,% IN HIGH BLOCK,11.08,48,NaN,NaN
148,England U18,2200777,Wales U18,1.0,3.0,% IN MID BLOCK,469.936,% IN MID BLOCK,15.39,48,NaN,NaN
149,England U18,2200777,Wales U18,1.0,3.0,% IN LOW BLOCK,181.368,% IN LOW BLOCK,5.94,48,NaN,NaN
291,England U18,2200777,NaN,NaN,NaN,NaN,NaN,Create to Finish Success Rate (%),10.69,48,131.0,14.0
339,Wales U18,2200777,England U18,3.0,1.0,BUILD,338.170,% IN BUILD PHASE,11.08,3,NaN,NaN
340,Wales U18,2200777,England U18,3.0,1.0,CREATE,469.936,% IN CREATE PHASE,15.39,3,NaN,NaN
341,Wales U18,2200777,England U18,3.0,1.0,FINISH,181.368,% IN FINISH PHASE,5.94,3,NaN,NaN
348,Wales U18,2200777,England U18,3.0,1.0,% IN HIGH BLOCK,614.164,% IN HIGH BLOCK,20.12,3,NaN,NaN
349,Wales U18,2200777,England U18,3.0,1.0,% IN MID BLOCK,1017.954,% IN MID BLOCK,33.35,3,NaN,NaN
350,Wales U18,2200777,England U18,3.0,1.0,% IN LOW BLOCK,430.967,% IN LOW BLOCK,14.12,3,NaN,NaN
357,Wales U18,2200777,NaN,NaN,NaN,NaN,NaN,Create to Finish Success Rate (%),4.88,3,82.0,4.0
3,England U18,2245009,Wales U18,1.0,3.0,BUILD,498.200,% IN BUILD PHASE,16.98,48,NaN,NaN
4,England U18,2245009,Wales U18,1.0,3.0,CREATE,860.515,% IN CREATE PHASE,29.33,48,NaN,NaN
5,England U18,2245009,Wales U18,1.0,3.0,FINISH,706.974,% IN FINISH PHASE,24.09,48,NaN,NaN
150,England U18,2245009,Wales U18,1.0,3.0,% IN HIGH BLOCK,378.044,% IN HIGH BLOCK,12.88,48,NaN,NaN
151,England U18,2245009,Wales U18,1.0,3.0,% IN MID BLOCK,386.329,% IN MID BLOCK,13.17,48,NaN,NaN
152,England U18,2245009,Wales U18,1.0,3.0,% IN LOW BLOCK,104.104,% IN LOW BLOCK,3.55,48,NaN,NaN

In [264]:
display_all(single_games_team_metrics[['event_team_name','game_id']].groupby(by = ['event_team_name'])['game_id'].count())

event_team_name
Argentina U17                  77
Australia U18                   7
Austria U17                    56
Austria U18                     7
Belgium U17                    28
Belgium U18                    28
Bolivia U17                    20
Bosnia and Herzegovina U18      7
Brazil U17                     91
Burkina Faso U17               62
Canada U17                     49
Canada U18                      7
Chile U17                      20
Colombia U17                   28
Costa Rica U17                 19
Croatia U17                    28
Croatia U18                    14
Czechia U17                    28
Czechia U18                    14
Côte d'Ivoire U17              21
DPR Korea U17                  35
Denmark U18                     7
Ecuador U17                    28
Egypt U17                      28
El Salvador U17                21
England U17                    63
England U18                   339
Faroe Islands U18               7
Fiji U17                       20
France U17                     84
France U18                     34
Germany U17                    77
Germany U18                    20
Haiti U17                      21
Honduras U17                   21
Hungary U18                    14
IR Iran U17                    27
Indonesia U17                  42
Italy U17                      56
Japan U17                      63
Japan U18                       6
Korea Republic U17             49
Korea Republic U18              7
Mali U17                       84
Mexico U17                     61
Morocco U17                    77
Morocco U18                    28
Netherlands U18                49
New Caledonia U17              40
New Zealand U17                42
Northern Ireland U18            7
Norway U18                     14
Panama U17                     42
Paraguay U17                   28
Poland U17                     14
Poland U18                     14
Portugal U17                   55
Portugal U18                   35
Qatar U17                      20
Republic of Ireland U17        35
Russia U18                      7
Saudi Arabia U17               21
Senegal U17                    56
Slovakia U18                    7
South Africa U17               28
Spain U17                      35
Sweden U17                      7
Sweden U18                     17
Switzerland U17                42
Switzerland U18                21
Tajikistan U17                 21
Tunisia U17                    28
USA U17                        56
Uganda U17                     35
Ukraine U19                     7
United Arab Emirates U17       20
Uzbekistan U17                 70
Uzbekistan U18                  7
Venezuela U17                  55
Wales U18                      20
Zambia U17                     28
Name: game_id, dtype: Int64

In [263]:
single_games_team_metrics.to_gbq(
            destination_table='dev_vanni.benchmark_phases_by_games',
            project_id='the-fa-performance-insights',
            if_exists=replaceOrAppend
        )

/var/folders/2m/31gtyphx2h3fz_nycnfgx60c0000gp/T/ipykernel_23352/3236815090.py:1: FutureWarning: to_gbq is deprecated and will be removed in a future version. Please use pandas_gbq.to_gbq instead: https://pandas-gbq.readthedocs.io/en/latest/api.html#pandas_gbq.to_gbq
  single_games_team_metrics.to_gbq(
100%|██████████████████████████████████████████| 1/1 [00:00<00:00, 11275.01it/s]